﻿@model ColorLongLife.Areas.admin.Models.ConsultationSettings.ConsultationSettingsModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_CRUDLayout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Areas/admin/plugins/timepicker/bootstrap-timepicker.css")">
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Areas/admin/plugins/timepicker/bootstrap-timepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/admin/plugins/datepicker/locales/bootstrap-datepicker.ru.js")"></script>
    <script type="text/javascript">
        $("#tbxDate").datepicker({
            format: "dd/mm/yyyy",
            language: "ru",
            autoclose: true,
            todayHighlight: true
        });

        $("#tbxStartTime, #tbxEndTime").timepicker({
            showMeridian: false,
            disableMousewheel: true
        });
    </script>
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Новые настройка консультаций</h3>
    </div>
    @using (Html.BeginForm("Create", "ConsultationSettingsAdmin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="box-body">
            <div class="form-group input-group">
                <label for="tbxDate">День консультаций</label>
                @Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { id = "tbxDate", @class = "form-control", placeholder = "Дата консультаций" })
            </div>
            <div class="form-group input-group bootstrap-timepicker timepicker">
                <label for="tbxStartTime">Начало консультаций</label>
                @Html.TextBoxFor(x => x.StartTime, new { id = "tbxStartTime", @class = "form-control", placeholder = "Начало консультаций" })
            </div>
            <div class="form-group input-group bootstrap-timepicker timepicker">
                <label for="tbxEndTime">Начало консультаций</label>
                @Html.TextBoxFor(x => x.EndTime, new { id = "tbxEndTime", @class = "form-control", placeholder = "Окончание консультаций" })
            </div>
            <div class="form-group input-group bootstrap-timepicker timepicker">
                <label for="tbxEndTime">Продолжительность консультаций</label>
                @Html.DropDownListFor(x => x.TimeslotDuration, ViewBag.ConsultationDuration as SelectList, new { id = "ddlTimeslotDuration", @class = "form-control" })
            </div>
            <div class="form-group input-group bootstrap-timepicker timepicker">
                <label for="tbxEndTime">Отдых после консультаций</label>
                @Html.DropDownListFor(x => x.RestDuration, ViewBag.RestDuration as SelectList, new { id = "ddlRestDuration", @class = "form-control" })
            </div>
            <div class="form-group input-group bootstrap-timepicker timepicker">
                <label for="ddlApplyFor">Применить на:</label>
                @Html.DropDownListFor(x => x.ApplyFor, ViewBag.ApplyForList as SelectList, new { id = "ddlApplyFor", @class = "form-control" })
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-success" type="submit">Сохранить</button>
            <a class="btn btn-link" href="/admin/database/consultationsettings">Назад</a>
        </div>
    }
</div>
