﻿@using GridMvc.Html
@model ColorLongLife.Areas.admin.Models.ConsultationSettings.IndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_CRUDLayout.cshtml";
}

@section styles{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Gridmvc.css")" />
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/gridmvc.js")"></script>
}

<h2>Настройки консультаций</h2>

<div>
    @Html.Grid(Model.ConsultationSettings).Columns(columns =>
    {
        columns.Add(x => x.Date, "Date")
            .Format("{0:dd/MM}")
            .Titled("Дата")
            .SetWidth("auto");
        columns.Add(x => x.StartTime, "StartTime")
            .Titled("Начало консультаций")
            .SetWidth("auto");
        columns.Add(x => x.EndTime, "EndTime")
            .Titled("Завершение консультаций")
            .SetWidth("auto");
        columns.Add(x => x.TimeslotDuration, "TimeslotDuration")
            .Titled("Продолжительность консультации")
            .SetWidth("auto");
        columns.Add(x => x.RestDuration, "RestDuration")
            .Titled("Продолжительность перерыва")
            .SetWidth("auto");
        columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth("auto")
            .RenderValueAs(x =>
            @<div class="btn-group">
                @Html.RouteLink("Редактировать", "consultationsettings_edit", new { settingsId = x.ConsultationSettingsId }, new { @class = "btn btn-primary btn-flat" })
                @Html.RouteLink("Удалить", "consultationsettings_delete", new { settingsId = x.ConsultationSettingsId }, new { @class = "btn btn-danger btn-flat" })
            </div>);
    })

    <a class="btn btn-link" href="@Url.RouteUrl("consultationsettings_create")">Создать</a>
</div>
