﻿@using ColorLongLife.Areas.admin.Models.Common

@{
    Alert alert = TempData["alert"] as Alert;
    if (alert != null)
    {
        switch (alert.AlertType)
        {
            case AlertType.Success:
                {
                    <div class="alert alert-success alert-dismissible">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <h4><i class="icon fa fa-check"></i> @alert.Title</h4>
                        @alert.Message
                    </div>
                }
                break;

            case AlertType.Error:
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <h4><i class="icon fa fa-ban"></i> @alert.Title</h4>
                        @alert.Message
                    </div>
                }
                break;

            case AlertType.Info:
                {
                    <div class="alert alert-info alert-dismissible">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <h4><i class="icon fa fa-info"></i> @alert.Title</h4>
                        @alert.Message
                    </div>
                }
                break;

            case AlertType.Warning:
                {
                    <div class="alert alert-warning alert-dismissible">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <h4><i class="icon fa fa-warning"></i> @alert.Title</h4>
                        @alert.Message
                    </div>
                }
                break;
        }
    }
}