﻿@model ColorLongLife.Areas.admin.Models.Categories.CategoryModel

@{
    ViewBag.Title = "Добавление новой категории";
    Layout = "~/Areas/admin/Views/Shared/_CRUDLayout.cshtml";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Добавление новой должности</h3>
    </div>
    @using (Html.BeginForm("Create", "CategoriesAdmin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="box-body">
            <div class="form-group">
                <label for="tbxTitle">Категория</label>
                @Html.TextBoxFor(x => x.Name, new { id = "tbxTitle", @class = "form-control", placeholder = "Категория" })
            </div>
            <div class="form-group">
                <label for="tbxDescription">Описание</label>
                @Html.TextAreaFor(x => x.Description, new { id = "tbxDescription", @class = "form-control", placeholder = "Описание" })
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-success" type="submit">Сохранить</button>
            <a class="btn btn-link" href="@Url.RouteUrl("categories")">Назад</a>
        </div>
    }
</div>
