﻿@using System.Web.UI.WebControls
@model ColorLongLife.Areas.admin.Models.Categories.CategoryModel

@{
    ViewBag.Title = "Редактирование категории";
    Layout = "~/Areas/admin/Views/Shared/_CRUDLayout.cshtml";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Редактирование категории</h3>
    </div>
    @using (Html.BeginForm("Edit", "CategoriesAdmin", FormMethod.Post, new {categoryId = Model.CategoryId}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(x => x.CategoryId)

        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control", placeholder = "Категория" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control", placeholder = "Описание" } })
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-success" type="submit">Сохранить</button>
            <a class="btn btn-link" href="/admin/database/categories">Назад</a>
        </div>
    }
</div>

