﻿@using GridMvc.Html
@model ColorLongLife.Areas.admin.Models.Categories.IndexModel

@{
    ViewBag.Title = "Категории";
    Layout = "~/Areas/admin/Views/Shared/_CRUDLayout.cshtml";
}

<div>
    @Html.Grid(Model.Categories).Columns(columns =>
            {
                columns.Add(x => x.Name, "Category")
                    .Titled("Категория")
                    .SetWidth(400);
                columns.Add(x => x.Description, "Description")
                    .Titled("Описание");
                columns.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(250)
                    .RenderValueAs(x =>
                    @<div class="btn-group">
                        @Html.RouteLink("Редактировать", "categories_edit", new { categoryId = x.CategoryId }, new { @class = "btn btn-primary btn-flat" })
                        @Html.RouteLink("Удалить", "categories_delete", new { categoryId = x.CategoryId }, new { @class = "btn btn-danger btn-flat" })
                    </div>);
            })
</div>
<a class="btn btn-link" href="@Url.RouteUrl("categories_create")">Создать</a>
