﻿@model ColorLongLife.Models.ShoppingCart.CartIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="@Model.ReturnUrl">&larr; Выбор услуги</a></div>
        <div class="col-md-9 padding0 main-vivod">
            <h1>Корзина</h1>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 padding0 change-serv kart">
            <div class="course paddingright30 table-shoppingcart">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Количество</th>
                                <th>Общая цена</th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var line in Model.Cart.Lines)
                        {
                            <tbody class="tablecart-border">
                                <tr>
                                    <td>@line.Product.ProductName</td>
                                    <td>
                                        @line.Product.Price <input type="text" data-link="quantity" autocomplete="off" maxlength="2" class="in_tb numeric ignore" value="@line.Quantity">
                                    </td>
                                    @*<td>@line.Quantity</td>*@
                                    <td>@(line.Product.Price * line.Quantity)</td>

                                    @using (Html.BeginForm("RemoveFromCart", "ShoppingCart"))
                                    {
                                        <td class="text-right">
                                            @Html.Hidden("ProductId", line.Product.ProductId)
                                            @Html.HiddenFor(x => x.ReturnUrl)
                                            <button type="submit" class="btn-delete">Удалить</button>
                                            @*<button class="btn-delete" type="submit"><img src="~/Content/img/img-delete.png" alt="" /></button>*@
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            <div class="clearfix"></div>
            <hr />
            <div class="text-right">
                @using (Html.BeginForm("ClearAll", "ShoppingCart"))
                {
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <button type="submit" class="btn-delete text-right">Удалить всё</button>
                    @*<button class="btn-delete" type="submit"><img src="~/Content/img/img-delete.png" alt="" /></button>*@
                }
            </div>
            <div class="summa">
                <p class="itog">
                    Всего:<span class="price">@Model.Cart.ComputeTotalValue() руб</span>
                </p>
                <div class="col-md-4 padding0">
                    <div class="kupon">
                        <div class="col-md-9 padding0">
                            <label for="InputKupon">У меня есть купон</label>
                            <input type="text" class="form-control" id="InputKupon" placeholder="Введите купон">
                        </div>
                        <div class="col-md-2 col-md-offset-1 padding0">
                            <button type="button" class="btn btn-send">Ок</button>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <p class="itog">
                Всего со скидкой:<span class="price">@Model.Cart.ComputeTotalValue() руб</span>
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 oplata-sposob padding0">
            <div class="clearfix"></div>
            <a href="~/ShoppingCart/Payment" class="btn-send">Оформить заказ</a>
        </div>
    </div>
</section><!--/.main-content -->
