﻿@using ColorLongLife.Utilities
@model ColorLongLife.Models.ShoppingCart.PaymentModel

<link href="~/Content/Styles/style.css" rel="stylesheet"/>
<script src="~/Content/scripts/jquery-1.11.0.js"></script>
<script src="~/Content/scripts/payment.js"></script>
<div class="container">
    <div class="breadcrumbs"><a href="~/ShoppingCart/Index">&larr; Корзина</a>
    </div>
    <div class="col-md-9 padding0 main-vivod">
        <h1>Оплата</h1>
        <div class="intro-2">
            <p><span>@Model.FirstName,</span> пожалуйста, предоставьте нижеуказанные данные. Все поля обязательны для заполнения.
            </p>
        </div>
        <div class="feedback">
            @using (Html.BeginForm("Payment", "ShoppingCart", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(x => x.UserId)
                <div class="col-md-12 padding0">
                    <div class="form-group col-md-3 paddingleft0">
                        <label for="InputFIO">Фамилия</label>
                        @Html.TextBoxFor(x => x.LastName, new {@class = "form-control", id = "InputFIO", type = "text", disabled="false"})
                    </div>
                    <div class="form-group col-md-3 paddingleft0">
                        <label for="InputName">Имя</label>
                        @Html.TextBoxFor(x => x.FirstName, new {@class = "form-control", id = "InputFIO", type = "text", disabled = "false"})
                    </div>
                    <div class="form-group col-md-3 paddingleft0">
                        <label for="telephone">Телефон</label>
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "+7 949 545-55-55", id = "telephone"})
                    </div>
                </div>
                <div class="col-md-12 padding0">
                    <div class="form-group col-md-3 paddingleft0">
                        <label for="ddlCountries">Страна проживания</label>
                        @Html.DropDownListFor(x => x.CountryId, ViewBag.Countries as SelectList, "Выберите страну", new { @class = "form-control", id = "ddlCountries"})
                    </div>
                    <div class="form-group col-md-3 paddingleft0">
                        <label for="ddlCities">Город</label>
                        @Html.DropDownListFor(x => x.CityId, ViewBag.Cities as SelectList, "Выберите город", new { @class = "form-control", id = "ddlCities"})
                    </div>
                    <div class="form-group col-md-3 paddingleft0">
                        <label for="adres">Адрес</label>
                        @Html.TextBoxFor(x => x.Address, new {@class = "form-control", id = "adres", placeholder = "ул. Строителе, 32-3", type = "text"})
                    </div>
                    <div class="form-group col-md-3 paddingleft0">
                        <label for="index">Почтовый код</label>
                        @Html.TextBoxFor(x => x.Postcode, new {@class = "form-control", id = "index", placeholder = "123456", type = "text"})
                    </div>
                </div>
                <input type="checkbox" value="" checked/>
                <label><span></span>Я согласен <a href="">со всеми усломиями</a> и хочу сделать заказ</label>

                <div class="clearfix"></div>
                <button type="submit" class="btn btn-send">Купить </button>
            }
        </div>
    </div>
</div>