﻿@model ColorLongLife.DataAccessLayer.Models.Cart
<div id="cart">
    <span class="caption">
        <a href="~/ShoppingCart/Index">
            <img class="icon-basket" src="~/Content/img/icon-basket.png" />
            Количество (@Model.Lines.Sum(x => x.Quantity)),
            @Model.ComputeTotalValue() Р
        </a>
    </span>
    @*@Html.ActionLink("Checkout", "Index", "ShoppingCart", new { returnUrl = Request.Url.PathAndQuery }, null)*@
</div>
