﻿@{
    ViewBag.Title = "RegistrationSuccess";
    Layout = "~/Views/Shared/_DefaultLayoutForNonAuthorize.cshtml";
}
<script src="~/Content/scripts/jquery-1.11.0.js"></script>
<link href="~/Content/Styles/StyleButton.css" rel="stylesheet" />
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-convert">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Подтверждение адреса эл. почты</h4>
            </div>
            <div class="modal-body">
                <p class="text-center"><img src="~/Content/img/convert.png">
                </p>
                <p class="text-center convert">На вашу эл. почту отправлено письмо. Подтвердите, пожалуйста, регистрацию перейдя по ссылке указанной в письме.</p>
            </div>
            <div class="modal-footerRS">
                <a href="~/Authorization/SignIn" title="Закрыть" class="btn btn-closeRegSuccess">Закрыть</a>
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>*@
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myModal").modal('show');
    });
</script>