﻿@model ColorLongLife.Models.Authorization.SignInModel

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_DefaultLayoutForNonAuthorize.cshtml";
}
<script src="~/Content/scripts/sign-in.js"></script>
<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="~/Content/Styles/page-enter.css" rel="stylesheet" />
<link href="~/Content/Styles/sticky-footer.css" rel="stylesheet">
<link href="~/Content/Styles/style.css" rel="stylesheet">
<body class="page-enter-body">

    <!-- Begin page content -->
    <header>
        <div class="page-top-thr-lv">
            <div class="container">
                <div class="top-3 page-enter-top-3">
                    <div class="col-md-5 col-xs-6 page-enter-pull-right">
                        <div class="col-md-5 col-md-offset-4 logo">
                            <p class="text-center">Виртуальный сканер здоровья</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="/" title=""><img src="~/Content/img/logo.png" alt="" /></a>
                        </div>
                    </div>
                </div>

            </div>
        </div><!--/.page-top-thr-lv -->
    </header>
    <section class="main-content">
        <div class="container">

            @using (Html.BeginForm("SignIn", "Authorization", FormMethod.Post))
            {
                <div class="col-md-4 padding0 feedback">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group col-md-9 padding0">
                        <label for="InputEmail">Эл. почта</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "InputEmail", placeholder = "example@mail.com" })
                        @*<input type="email" class="form-control" id="email" placeholder="example@gmail.com" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">*@
                    </div>

                    <div class="form-group col-md-9 padding0">
                        <label for="InputPassword">Пароль</label>
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", id = "InputPassword" })
                    </div>
                </div>
                <div class="clearfix"></div>
                    <div class="col-md-4 marginleft105 padding0">
                        <div class="col-md-12 padding0">
                            <button type="submit" class="btn btn-send">Войти</button>
                            @Html.ActionLink("Зарегистрироваться", "SignUp", "Authorization", new { @class = "btn btn-send" })
                        </div>
                    </div>

            }

        </div>
    </section><!--/.main-content -->
    <div class="bg"></div>
    <div id="footer">
        <div class="container">
            <p class="text-muted">© 2015, Виртуальный сканер здоровья</p>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Content/scripts/bootstrap.min.js"></script>
</body>




@*@section scripts
    {
        <script src="~/Content/scripts/sign-in.js"></script>
    }

    <section class="main-content">
        <div class="container">
            @using (Html.BeginForm("SignIn", "Authorization", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="col-md-2 padding0 feedback validation-summary-errors">
                    <div class="form-group col-md-12 padding0">
                        @Html.ValidationSummary()
                    </div>
                    <div class="form-group col-md-12 padding0">
                        <label for="InputEmail">Эл. почта</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "InputEmail", placeholder = "example@mail.com" })
                    </div>
                    <div class="form-group col-md-12 padding0">
                        <label for="InputPassword">Пароль</label>
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", id = "InputPassword" })
                    </div>
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-send">Войти</button>
                    @Html.ActionLink("Зарегистрироваться", "SignUp", "Authorization", new { @class = "btn btn-send" })
                </div>
            }
        </div>
    </section>*@