﻿@using ColorLongLife.Utilities
@model ColorLongLife.Models.Authorization.SignUpModel
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_DefaultLayoutForNonAuthorize.cshtml";
}
@section scripts
{
    <script src="~/Content/scripts/jquery-1.11.0.js"></script>
    <script src="~/Content/scripts/sign-up.js"></script>
}
<section class="main-content">
    <div class="container">
        <div class="col-md-6 padding0">
            <h1>Регистрация</h1>
            <div class="intro-2">
                <p>Все поля обязательны к заполнению, так как играют важную роль при расшифровке диагностики.</p>
            </div>
        </div>
        <div class="clearfix"></div>
        @using (Html.BeginForm("SignUp", "Authorization", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="col-md-2 padding0 feedback">
                <div class="form-group col-md-12 padding0">
                    <label for="InputFIO">Фамилия</label>
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", id = "InputFIO", placeholder = "Зареченская", type = "text" })
                </div>
                <div class="form-group col-md-12 padding0">
                    <label for="InputName">Имя</label>
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", id = "InputName", placeholder = "Анна", type = "text" })
                </div>
                <div class="form-group col-md-12 padding0">
                    <label for="InputSecondName">Отчество</label>
                    @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control", id = "InputSecondName", placeholder = "Ивановна", type = "text" })
                </div>
                <div class="form-group col-md-12 padding0">
                    <label for="InputBirthday">Дата рождения</label>
                    @*@Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", id = "InputBirthday" } })*@
                    @*@Html.TextBoxFor(model => model.Birthday, new { @class = "form-control date", id = "InputBirthday", placeholder = "15.10.1990" })*@
                    @Html.TextBoxFor(x => x.Birthday, new { @class = "form-control date", @value = DateTime.Now.ToString("dd.MM.yyyy"), id = "InputBirthday" })
                </div>
                <div class="radio1">
                    <p>Пол</p>
                    @Html.RadioButtonFor(x => x.Gender, Gender.Male, new { name = "rbtnGender", id = "optionsRadios2" })
                    <label><span class="cbxGender form-group"></span> Мужской</label>
                    @Html.RadioButtonFor(x => x.Gender, Gender.Female, new { name = "rbtnGender", id = "optionsRadios1" })
                    <label><span class="cbxGender form-group"></span>Женский</label>
                </div>
                <div class="form-group col-md-5 padding0">
                    <label for="weight">Рост (см.)</label>
                    @Html.TextBoxFor(x => x.Growth, new { @class = "form-control", id = "weight", placeholder = "176" })
                </div>
                <div class="form-group col-md-5 col-md-offset-2 padding0">
                    <label for="height">Вес (кг.)</label>
                    @Html.TextBoxFor(x => x.Weight, new { @class = "form-control", id = "height", placeholder = "69" })
                </div>
                <div class="form-group col-md-12 padding0">
                    <label for="country">Страна проживания</label>
                    @Html.DropDownListFor(x => x.CountryId, ViewBag.Countries as SelectList, "Выберите страну", new { @class = "form-control", id = "country", type = "text" })
                </div>
                <div class="form-group col-md-12 padding0">
                    <label for="city">Город</label>
                    @Html.DropDownListFor(x => x.CityId, ViewBag.Cities as SelectList, "Выберите город", new { @class = "form-control", id = "city", type = "text" })
                </div>
                <div class="form-group col-md-12 padding0">
                    <label for="telephone">Телефон</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", id = "telephone", placeholder = "+7 949 545-55-55", type = "text" })
                    <span><img src="~/Content/img/info.png" />для оперативной связи</span>
                </div>
                <div class="form-group col-md-12 padding0">
                    <label for="email">Эл. почта</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "email", placeholder = "ekaterina@mail.com", type = "text" })
                    @*<span><img src="~/Content/img/error.png" />Эл. почта не введена</span>*@
                </div>
                <div class="form-group col-md-12 padding0">
                    <div>
                        <label for="password">Пароль</label>
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control form-group", id = "password", type = "password" })
                    </div>
                    <div>
                        <label for="confirmPassword">Повторите пароль</label>
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control form-group", id = "confirmPassword", type = "password" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 dop paddingleft30">
                <p>Регистрация позволит вам воспользоваться всеми услугами персонального кабинета:</p>
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-ok-sign"> </span>Пройти бесплатное цветовое тестирование, выявляющие психологически проблемные области вашей жизни</li>
                    <li><span class="glyphicon glyphicon-ok-sign"> </span>Ознакомиться с демо-расшифровками результатов тестирования и осмысленно выбрать нужный вид расшифровки для себя</li>
                    <li><span class="glyphicon glyphicon-ok-sign"> </span>Воспользоваться платными сервисами, которые позволяют выявить влияние психологических проблем на здоровье</li>
                    <li><span class="glyphicon glyphicon-ok-sign"> </span>Записаться на консультацию к клиническому психологу по результатам расшифровки теста</li>
                    <li><span class="glyphicon glyphicon-ok-sign"> </span>Купить персональные курсы цветовой коррекции</li>
                    <li>
                        <span class="glyphicon glyphicon-ok-sign"> </span>Увидеть список полезных для вас биологически активных добавок, которые были подобраны по результатам теста и купить их.
                    </li>
                </ul>
                <div class="secret">Ваши данные и результаты тестирования абсолютно конфиденциальны, не доступны для третьих лиц, в том числе и для сотрудников «Виртуального Сканера Здоровья».</div>
            </div>
            <div class="col-md-6">
            </div>
            <div class="clearfix"></div>
            <div class="checkbox1 col-md-8 padding0">
                <input type="checkbox" value="" checked>
                <label><span class="cbxUserAgreement"></span>Я прочитал и согласен с <a href="">Пользовательским соглашением</a></label>
                <input type="checkbox" value="" checked>
                <label><span class="cbxRegulationsPersonalData"></span>Я прочитал и согласен с <a href="">Положением о персональных данных</a> </label>
                <input type="checkbox" value="" checked>
                <label><span class="cbxLimitationPprofessionalLiability"></span>Я прочитал и согласен с <a href="">Ограничением профессиональной ответственности</a> </label>
            </div>
            <div class="clearfix"></div>
            <button type="submit" id="registration" class="btn btn-send">Зарегистрироваться</button>
        }
    </div>
</section><!--/.main-content -->