﻿@model ColorLongLife.Models.FreeExpressDiagnostics.ArchiveResultsModel

@{
    ViewBag.Title = "ArchiveResults";
    Layout = "~/Views/Shared/_DefaultExpressDiagnosticsLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/FreeExpressDiagnostics/StepZero">&larr; Экспресс тестирование</a></div>
        <div class="col-md-8 padding0 main-vivod">
            <h1>Архив экспресс тестов</h1>
            <div class="clearfix"></div>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет реплика. Вновь взгляните на категории слева и выберите слово или фразу, которую вы бы поставили на третье место. </p>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="col-md-10 padding0">
            <h2>История цветодиагностик: цветограммы и расшифровки тестов</h2>
            <div class="around-table">
                <table class="table table-striped table-user table-lech">
                    <tbody>
                        <tr class="first-line">
                            <th>№</th>
                            <th>Проблема</th>
                            <th>Тип диагностики</th>
                            <th>Дата</th>
                            <th>Цветограмма</th>
                            <th>Расшифровка</th>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Бессоница</td>
                            <td>Экспресс тест</td>
                            <td>2013.03.02 (07:33:28)</td>
                            <td><a href="">Посмотреть</a></td>
                            <td><a href="">Посмотреть</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Бессоница</td>
                            <td>Экспресс тест</td>
                            <td>2013.03.02 (07:33:28)</td>
                            <td><a href="">Посмотреть</a></td>
                            <td><a href="">Посмотреть</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="col-md-12 recomended padding0">

            <h1>Рекомендуем прочитать <a href="~/HealthPanel/DictionaryTerms">Словарь терминов</a></h1>
            <ul class="list-unstyled col-md-5 padding0">
                <li><a href="">Для женщин</a></li>
                <li><a href="">Что такое женская психоматика</a></li>
                <li><a href="">Откуда берется женская психоматика</a></li>
                <li><a href="">Психоматика = мысли + эмоции</a></li>
                <li><a href="">Как негативные эмоции создают болезни</a></li>
            </ul>
            <ul class="list-unstyled col-md-4 padding0">
                <li><a href="">Какие женщины в зоне риска</a></li>
                <li><a href="">Как избавиться от психоматика</a></li>
                <li><a href="">Цвет эффективное решение</a></li>
                <li><a href="">Словарь женской психоматики</a></li>
            </ul>
        </div>

    </div>


</section><!--/.main-content -->
