﻿<div class="col-md-9 padding0 cvetodiagramma">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="900px" height="900px" version="1.1" style="shape-rendering: geometricPrecision; text-rendering: geometricPrecision; image-rendering: optimizeQuality; fill-rule: evenodd; clip-rule: evenodd"
         viewBox="0 0 7197 7197"
         xmlns:xlink="http://www.w3.org/1999/xlink">

        <g id="externalRadius">
            <metadata id="CorelCorpID_0Corel-Layer"/>
            <circle class="fil0 str0" cx="3611" cy="3611" r="3366"/>
        </g>
        <g id="sector1">
            <metadata id="CorelCorpID_1Corel-Layer"/>
            <path class="fil1" d="M3612 2206c364,-6 731,140 1004,394l1263 -1253c-602,-602 -1417,-942 -2266,-944l-1 1803z"/>
            <text x="3996" y="1278" class="fil2 fnt0">6.2 тут будет текст категории</text>
            <text x="4217" y="1524" class="fil2 fnt1">А тут будет выбранная эмоция</text>
        </g>
        <g id="sector2">
            <metadata id="CorelCorpID_2Corel-Layer"/>
            <path class="fil3" d="M4616 2600c261,252 422,648 436,1020l1761 0c0,-852 -336,-1671 -935,-2273l-1262 1253z"/>
        </g>
        <g id="sector3">
            <metadata id="CorelCorpID_3Corel-Layer"/>
            <path class="fil4" d="M5052 3620c6,363 -178,750 -431,1023l1246 1245c602,-602 943,-1419 946,-2268l-1761 0z"/>
        </g>
        <g id="sector4">
            <metadata id="CorelCorpID_4Corel-Layer"/>
            <path class="fil5" d="M4624 4640c-253,261 -640,404 -1011,418l-1 1761c851,0 1655,-335 2257,-934l-1245 -1245z"/>
        </g>
        <g id="sector5">
            <metadata id="CorelCorpID_5Corel-Layer"/>
            <path class="fil6" d="M2586 4643c253,261 654,398 1026,411l0 1762c-851,0 -1654,-333 -2256,-931l1230 -1242z"/>
        </g>
        <g id="sector6">
            <metadata id="CorelCorpID_6Corel-Layer"/>
            <path class="fil7" d="M2165 3620c-7,363 166,753 419,1025l-1228 1240c-602,-602 -949,-1416 -951,-2265l1760 0z"/>
        </g>
        <g id="sector7">
            <metadata id="CorelCorpID_7Corel-Layer"/>
            <path class="fil8" d="M2593 2610c-261,253 -415,638 -428,1010l-1771 0c0,-852 337,-1671 935,-2273l1264 1263z"/>
        </g>
        <g id="sector8">
            <metadata id="CorelCorpID_8Corel-Layer"/>
            <path class="fil9" d="M3612 2206c-363,-6 -748,140 -1020,394l-1250 -1251c598,-603 1419,-951 2271,-946l-1 1803z"/>
        </g>
        <g id="innerRing">
            <metadata id="CorelCorpID_9Corel-Layer"/>
            <path class="fil10 str1" d="M3611 5067c-795,0 -1439,-644 -1439,-1439 0,-795 644,-1439 1439,-1439 795,0 1439,644 1439,1439 0,795 -644,1439 -1439,1439zm0 -93c-743,0 -1346,-603 -1346,-1346 0,-744 603,-1346 1346,-1346 744,0 1346,602 1346,1346 0,743 -602,1346 -1346,1346z"/>
        </g>
        <g id="externalSector1">
            <metadata id="CorelCorpID_10Corel-Layer"/>
            <path class="fil11" d="M4965 704c307,143 592,338 853,585l-1253 1260 59 51c434,-432 868,-863 1301,-1296 -311,-303 -637,-529 -977,-677 -83,136 -280,55 -262,-105 -364,-123 -735,-185 -1074,-186 -2,617 0,1235 0,1853l85 0 -4 -1783c363,16 672,68 929,161 13,184 204,280 343,137z"/>
        </g>
        <g id="externalSector2">
            <metadata id="CorelCorpID_11Corel-Layer"/>
            <path class="fil12" d="M5052 3544l1762 -3c-10,-362 -91,-698 -190,-1022 -199,2 -267,-201 -145,-340 -137,-241 -298,-507 -544,-776l-1256 1260 -55 -63c321,-320 1249,-1245 1304,-1298 239,240 457,546 628,890 -126,101 -44,298 111,260 136,345 208,733 214,1168l-1829 0 0 -76z"/>
        </g>
        <g id="externalSector3">
            <metadata id="CorelCorpID_12Corel-Layer"/>
            <path class="fil13" d="M5052 3620c426,0 1481,0 1829,0 -1,338 -63,709 -186,1073 -160,-18 -241,180 -105,263 -148,339 -374,665 -677,976l-1287 -1285 59 -56 1238 1239c250,-263 446,-549 590,-858 -143,-138 -47,-330 137,-342 92,-256 147,-564 164,-923l-1762 -2 0 -85z"/>
        </g>
        <g id="externalSector4">
            <metadata id="CorelCorpID_13Corel-Layer"/>
            <path class="fil14" d="M4696 6629c-319,116 -645,179 -1003,189l0 -1749 -80 -2c0,606 -1,1211 -1,1816 434,-5 805,-76 1150,-211 -38,-155 159,-238 260,-112 344,-170 651,-389 891,-628 -179,-175 -978,-976 -1286,-1284l-57 59 1237 1236c-267,244 -525,424 -772,540 -139,-121 -342,-53 -339,146z"/>
        </g>
        <g id="externalSector5">
            <metadata id="CorelCorpID_14Corel-Layer"/>
            <path class="fil15" d="M3611 5070c0,604 1,1205 1,1809 -434,-5 -807,-72 -1152,-207 38,-155 -159,-238 -260,-112 -345,-170 -651,-389 -891,-628 369,-379 967,-974 1279,-1288l56 59 -1235 1235c286,235 544,415 778,545 139,-121 342,-53 339,146 320,98 642,151 1004,183l-1 -1744 82 2z"/>
        </g>
        <g id="externalSector6">
            <metadata id="CorelCorpID_15Corel-Layer"/>
            <path class="fil16" d="M2165 3620c-426,0 -1477,0 -1824,0 1,338 63,709 186,1073 160,-18 241,180 105,263 148,339 374,665 677,976l1283 -1283 -59 -56 -1235 1237c-249,-263 -445,-549 -589,-858 143,-138 47,-330 -137,-342 -93,-256 -147,-564 -164,-923l1757 -2 0 -85z"/>
        </g>
        <g id="externalSector7">
            <metadata id="CorelCorpID_16Corel-Layer"/>
            <path class="fil17" d="M2165 3544l-1757 -3c9,-362 91,-698 190,-1022 199,2 266,-201 145,-340 137,-241 298,-507 543,-776l1257 1260 55 -63c-320,-320 -1250,-1245 -1304,-1298 -239,240 -458,546 -628,890 126,101 44,298 -111,260 -136,345 -209,733 -214,1168l1824 0 0 -76z"/>
        </g>
        <g id="externalSector8">
            <metadata id="CorelCorpID_17Corel-Layer"/>
            <path class="fil18" d="M2257 704c-308,143 -592,338 -853,585l1253 1260 -59 51c-434,-432 -868,-863 -1301,-1296 311,-303 637,-529 976,-677 83,136 281,55 263,-105 364,-123 735,-185 1073,-186 2,617 0,1235 0,1853l-84 0 3 -1783c-362,16 -671,68 -929,161 -12,184 -204,280 -342,137z"/>
        </g>
        <g id="circleEdit1">
            <metadata id="CorelCorpID_18Corel-Layer"/>
            <circle class="fil1 str1" cx="4830" cy="553" r="144"/>
        </g>
        <g id="circleEdit2">
            <metadata id="CorelCorpID_19Corel-Layer"/>
            <circle class="fil3 str1" cx="6634" cy="2316" r="144"/>
        </g>
        <g id="circleEdit3">
            <metadata id="CorelCorpID_20Corel-Layer"/>
            <circle class="fil19 str1" cx="6651" cy="4830" r="144"/>
        </g>
        <g id="circleEdit4">
            <metadata id="CorelCorpID_21Corel-Layer"/>
            <circle class="fil5 str1" cx="4898" cy="6642" r="144"/>
        </g>
        <g id="circleEdit5">
            <metadata id="CorelCorpID_22Corel-Layer"/>
            <ellipse class="fil6 str1" transform="matrix(0.725996 -0.725996 0.707107 0.707107 2324.09 6642.1)" rx="140" ry="144"/>
        </g>
        <g id="circleEdit6">
            <metadata id="CorelCorpID_23Corel-Layer"/>
            <circle class="fil7 str1" cx="556" cy="4830" r="144"/>
        </g>
        <g id="circleEdit7">
            <metadata id="CorelCorpID_24Corel-Layer"/>
            <circle class="fil20 str1" cx="597" cy="2316" r="144"/>
        </g>
        <g id="circleEdit8">
            <metadata id="CorelCorpID_25Corel-Layer"/>
            <ellipse class="fil21 str1" transform="matrix(0.725996 -0.725996 0.707107 0.707107 2391.83 554.57)" rx="140" ry="144"/>
        </g>
        <g id="step1">
            <metadata id="CorelCorpID_26Corel-Layer"/>
            <circle class="fil10 str1" cx="4095" cy="2426" r="80"/>
            <text x="4060" y="2464" class="fil22 fnt2">1</text>
        </g>
        <g id="step2">
            <metadata id="CorelCorpID_27Corel-Layer"/>
            <circle class="fil10 str1" cx="4798" cy="3121" r="80"/>
            <text x="4777" y="3159" class="fil22 fnt2">2</text>
        </g>
        <g id="step3">
            <metadata id="CorelCorpID_28Corel-Layer"/>
            <circle class="fil10 str1" cx="4802" cy="4145" r="80"/>
            <text x="4781" y="4183" class="fil22 fnt2">3</text>
        </g>
        <g id="step4">
            <metadata id="CorelCorpID_29Corel-Layer"/>
            <circle class="fil10 str1" cx="4094" cy="4813" r="80"/>
            <text x="4074" y="4852" class="fil22 fnt2">4</text>
        </g>
        <g id="step5">
            <metadata id="CorelCorpID_30Corel-Layer"/>
            <circle class="fil10 str1" cx="3087" cy="4813" r="80"/>
            <text x="3058" y="4850" class="fil22 fnt2">5</text>
        </g>
        <g id="step6">
            <metadata id="CorelCorpID_31Corel-Layer"/>
            <circle class="fil10 str1" cx="2422" cy="4144" r="80"/>
            <text x="2393" y="4182" class="fil22 fnt2">6</text>
        </g>
        <g id="step7">
            <metadata id="CorelCorpID_32Corel-Layer"/>
            <circle class="fil10 str1" cx="2426" cy="3123" r="80"/>
            <text x="2397" y="3160" class="fil22 fnt2">7</text>
        </g>
        <g id="step8">
            <metadata id="CorelCorpID_33Corel-Layer"/>
            <circle class="fil10 str1" cx="3086" cy="2426" r="80"/>
            <text x="3057" y="2463" class="fil22 fnt2">8</text>
        </g>
        <g id="centerRing">
            <metadata id="CorelCorpID_34Corel-Layer"/>
            <circle class="fil23 str2" cx="3611" cy="3628" r="1185"/>
        </g>
        <g id="externalCenterRing">
            <metadata id="CorelCorpID_35Corel-Layer"/>
            <path class="fil24" d="M3611 4813c-655,0 -1185,-530 -1185,-1185 0,-655 530,-1185 1185,-1185 655,0 1185,530 1185,1185 0,655 -530,1185 -1185,1185zm0 -84c-608,0 -1101,-493 -1101,-1101 0,-608 493,-1101 1101,-1101 608,0 1101,493 1101,1101 0,608 -493,1101 -1101,1101z"/>
        </g>
    </svg>
</div>