﻿@model ColorLongLife.Models.FreeExpressDiagnostics.ExpressDiagnosticsResultsModel

@{
    ViewBag.Title = "ExpressDiagnosticsResults";
    Layout = "~/Views/Shared/_FreeExpressDiagnosticsLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/FreeExpressDiagnostics/StepZero">&larr; Экспресс тестирование</a></div>
        <div class="col-md-8 padding0 main-vivod">
            <h1>Результаты экспресс-теста</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> Цветовое тестирование выявило высокую вероятность наличия в вашей жизни следующих проблем и характеристик личности, которые способствуют развитию психосоматических болезней.</p>
            </div>
            <h2>1. Ваша основная жизненная проблема, создающая психосоматические болезни.</h2>
            <div class="hidden-abzac">
                <p><strong>Вам трудно сочетать одновременно деньги (карьеру) и любовь</strong>. Возможно, это происходит оттого, что вы сосредоточиваетесь лишь на чем-то одном, исключая все остальное. </p>
                <p>Для вас характерны <strong>отстраненные (отчужденные) отношения с людьми вообще и брачным партнером в частности.</strong> Такая дистанцированность предоставляет Вам  достаточно времени для работы, которая в вашей системе внутренних ценностей находиться на первом месте. Вы способны предоставят партнеру полную свободу личной жизни, не возражая против его встреч с другим человеком. Часто подобная отчужденность становится настоящей проблемой.</p>
            </div>
            <div class="col-md-3 padding0"><a class="readmore" href="">Читать полностью</a></div>
            <div class="clearfix"></div>
            <h2>2. Характеристики личности, способствующие развитию психосоматических болезней.</h2>
            <p>Вы способны заниматься одновременно (и скорее всего и занимаетесь) несколькими делами. Насыщенное общение,  путешествия (поездки), множество телефонных звонков и другой активности. Все это вызывает распыление энергии, внимания и ведет к усталости и стрессу.</p>
            <p><strong>Отметьте наиболее проблемные качества, от которых вы хотели бы избавиться, которые, по вашему мнению, мешают вам быть счастливыми:</strong></p>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-12 padding0">

            <div class="col-md-8 padding0 changecharacter">
                <div class="col-md-5 padding0">
                    <form role="form">
                        <ul class="list-unstyled">
                            <li><input type="checkbox" value=""><label><span></span>Внутренне беспокойство</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Стремление  к контролю над людьми и ожидание от других большего, чем они способны дать</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Глубинная нереализованная потребность в любви</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Желание уединения</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Замкнутость</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Корысть в любви и близких отношениях</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Не могу соблюсти баланс между самоуверенностью и умением идти на компромисс</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Нерешительность</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Неуверенность в себе</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Нехватка самодисциплины</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Пессимизм</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Раздражительность, жестокость и упрямство при общении с людьми</label></li>
                        </ul>
                    </form>

                </div>
                <div class="col-md-5 col-md-offset-1 padding0">
                    <form role="form">
                        <ul class="list-unstyled">
                            <li><input type="checkbox" value=""><label><span></span>Резкие слова и бестактность в общении с другими людьми</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Склонность спорить</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Слишком серьезное восприятие жизни</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Сложные отношения с матерью</label></li>
                            <li><input type="checkbox" value="" checked><label><span></span>Страх ответственности</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Страх перед денежными трудностями</label></li>
                            <li><input type="checkbox" value="" checked><label><span></span>Упрямство</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Цепляется за прошлое, страх перед будущим</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Чрезмерная независимость мешает создать семью или отношения</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Чрезмерная независимость мешает создать семью или отношения</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Эгоцентризм в отношениях с близкими людьми</label></li>
                            <li><input type="checkbox" value=""><label><span></span>Эмоциональная разбалансировка: эмоции колеблются от чрезмерной заинтересованности до полного равнодушия, особенно в личной жизни</label></li>
                        </ul>
                    </form>

                </div>

            </div>
            <div class="col-md-2 col-md-offset-2 padding0">
                <div class="no-happy">
                    <p>Качества которые мешают мне быть счастливой:</p>
                    <p><span class="not-rash"><span class="glyphicon glyphicon-remove-sign"> </span>Страх ответственности</span></p>
                    <p><span class="not-rash"><span class="glyphicon glyphicon-remove-sign"> </span>Упрямство</span></p>

                </div>

            </div>
            <div class="clearfix"></div>
            <div class="col-md-10 padding0">
                <h2>3.	Как происходит формирование психосоматических болезней в вашем случае</h2>
                <div class="hidden-abzac">
                    <p>Стресс, возникающий из-за вашего не умения (не желания) найти баланс между карьерой и личной жизнью, а так же негативные характеристики личности, которые были рассмотрены выше, заставляют вас переживать различные негативные эмоции.  Любая, длительно переживаемая человеком, негативная эмоция создает сильное возбуждение в коре головного мозга.  Это возбуждение доминирует над всеми деятельностями. Чувства приобретают резко выраженную отрицательную окраску. Импульсы по вегетативной нервной системе устремляются к сердцу, и оно усиливает свою деятельность, к сосудам, и они повышают свой тонус, к мышцам, и они приобретают способность развивать большую силу при сокращении. Но это еще не все. </p>
                </div>
                <div class="col-md-3 padding0"><a class="readmore" href="">Читать полностью</a></div>
                <div class="clearfix"></div>
                <h2>4.	Органы в зоне риска развития психосоматической патологии (на момент теста)</h2>
                <div class="col-md-4 paddingleft0">
                    <div class="block-risk">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="" data-original-title="Здесь будет какой-то поясняющий текст"> </a>                         <div class="text-center"><a href="" class="organ-name">Печень</a></div>
                    </div>
                </div>
                <div class="col-md-4 paddingleft0">
                    <div class="block-risk">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="" data-original-title="Для того, чтобы узнать, что конкретно происходит в печени и сердце вам нужно воспользоваться полной расшифровкой теста в персональном кабинете здоровья."> </a>                       <div class="text-center"><a href="" class="organ-name">Сердце</a></div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <p>@Model.FirstName, обратите внимание на рисунок ниже. Это схема развития психосоматических болезней на физическом уровне. Найдите орган (органы) вашего тела (органы в зоне риска) в круге А или круге Б, и по стрелкам определите последовательность распространения болезни с органов в зоне риска на другие органы вашего тела. Именно так стресс и различные неразрешенные психологические проблемы проявляют себя в теле человека, лишая тело здоровья шаг за шагом. А механизм развития психосоматической болезни мы рассмотрели в предыдущем разделе расшифровки вашего цветового теста.</p>
                <p><img class="img-responsive" src="~/Content/img/nerv-system.jpg" /></p>
                <div class="hidden-abzac">
                    <p>ПЕРВЫЙ КРУГ ВЗАИМОДЕЙСТВИЙ (А) Круг взаимодействий «А» , составлен из следующих внутренних органов : 1 – желчный пузырь; 2 – печень, особенно левая (верхняя) ее доля, находящаяся в прямой зависимости состояния желчного пузыря; 3 – поджелудочная железа; 4 – восходящая ветвь толстого кишечника (область илеоцекального угла);. 5 – нисходящая ветвь толстого кишечника (область сигмовидной кишки); 6 – тонкий кишечник; 7 и 8 – половая система у женщин – левый и правый придатки с яичниками, у мужчин – нарушение, связанное с кровообращением в малом тазу, снижение потенции); 9 – желудок; 10 – селезенка; 11 – суставы (коленные, тазобедренные, голеностопный).</p>
                    <p>ВТОРОЙ КРУГ ВЗАИМОДЕЙСТВИЙ ОРГАНОВ (Б) Второй круг взаимодействий «Б» изображен на рис. 9, где: • 12 – левая почка; • 13 – правая почка; • 14 – левый мочеточник; • 15 – правый мочеточник; • 16 – мочевой пузырь; • 17 – предстательная железа; • 18 – сердце; • 19 – респираторная система; • 20 – правое ухо; • 21 – левое ухо.</p>
                </div>
                <div class="col-md-3 padding0"><a class="readmore" href="">Читать полностью</a></div>
                <div class="clearfix"></div>
                <h2>5.	А счастливы ли вы по-настоящему, @Model.FirstName?</h2>
                <div class="hidden-abzac">
                    <p>Стресс, возникающий из-за вашего не умения (не желания) найти баланс между карьерой и личной жизнью, а так же негативные характеристики личности, которые были рассмотрены выше, заставляют вас переживать различные негативные эмоции.  Любая, длительно переживаемая человеком, негативная эмоция создает сильное возбуждение в коре головного мозга.  Это возбуждение доминирует над всеми деятельностями. Чувства приобретают резко выраженную отрицательную окраску. Импульсы по вегетативной нервной системе устремляются к сердцу, и оно усиливает свою деятельность, к сосудам, и они повышают свой тонус, к мышцам, и они приобретают способность развивать большую силу при сокращении. Но это еще не все.</p>
                    <p>
                        Для усиленной деятельности мышечной системы необходимы питательные вещества. Поэтому изменяется деятельность желез внутренней секреции: повышается продукция адреналина и норадреналина, кора надпочечников во много раз увеличивает продукцию и выброс в кровь гормонов, называемых глюкокортикоидами. Получается замкнутый круг. Та или иная отрицательная эмоция вызывает гормональные (и прочие) сдвиги. А избыток адреналина, адренокортикотропного (АКТГ) гормона и глюкокортикоидов как бы задерживает эту эмоцию (страх, тревогу, гнев), не дает психике освободиться от нее. В норме этот круг довольно быстро ликвидируется — срабатывают системы саморегуляции. Но если отрицательные эмоции существуют и действуют длительно и неотступно, возвращение к норме становится затруднительным. Наступает «поломка» регуляторных механизмов, сосудистая и другие системы получают дополнительную нагрузку, работают на непосильных режимах. И тогда возникают физические  болезни, с которыми люди обращаются к докторам.
                        Врачи назначают необходимые обследования, исходя из жалоб человека. После прохождения процедур пациенту назначается комплекс лекарственных средств, которые приводят к облегчению состояния — и приносят, увы, только временное облегчение, а болезнь же по истечении небольшого промежутка времени возвращается вновь.
                    </p>
                </div>
                <div class="col-md-3 padding0"><a class="readmore" href="">Читать полностью</a></div>

                <div class="clearfix"></div>
                <h2>6.	Чем вам поможет Виртуальный Сканер Здоровья?</h2>
                <p>Виртуальный Сканер Здоровья  по факту расшифровки полного цветового теста создает индивидуально рассчитанный  коррекционный модуль, который вы просто будете просматривать на экране монитора 2-3 раза в день по 10-20 минут.</p>
                <div class="clearfix"></div>
                <div class="col-md-8 padding0">
                    <p>Во время просмотра персональных сеансов цветокоррекции происходит:</p>
                    <p><span class="glyphicon glyphicon-ok-sign glyphicon-ok-sign1"> </span> Улучшение психоэмоционального состояния пользователя</p>
                    <p><span class="glyphicon glyphicon-ok-sign glyphicon-ok-sign1"> </span> Снимаются последствия стресса</p>
                    <p><span class="glyphicon glyphicon-ok-sign glyphicon-ok-sign1"> </span> Устраняются проявления негативных черт характера:</p>
                    <p class="second-p"><span class="glyphicon glyphicon-remove-sign"> </span> Страх ответственности</p>
                    <p class="second-p second-p-marginbottom"><span class="glyphicon glyphicon-remove-sign"> </span> Упрямство</p>
                    <p>За счёт этого в организме включаются дополнительные ресурсы саморегуляции  и организм  начинает лечить сам  себя, что проявляется уменьшением или исчезновением симптомов ваших заболеваний.</p>
                </div>
                <div class="col-md-2 col-md-offset-2 padding0">
                    <div class="body-content">
                        <div class="head-1">Пример персонального корректирующего модуля</div>
                        <div class="body-1 text-center">
                            <img class="" src="~/Content/img/personal-module.jpg" />
                            <a href="" class="btn-buy">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <h2>Как получить коррекционный модуль?</h2>
                <p>Если ваша проблема только психологическая (у вас ничего не болит, вас ничего не беспокоит физически) тогда для ее коррекции вам нужно построить цветограмму одного из проблемных жизненных секторов и получить платный модуль цветовой коррекции  в<a href=""> персональном кабинете психологической помощи</a>. <a href="" class="readmore">Перейти &rarr;</a></p>
                <p>Если же ваша проблема кроме психологического аспекта  имеет медицинский (есть медицинские жалобы или диагнозы), то вам нужно продолжить работу в <a href=""> персональном кабинете здоровья</a>. <a href="" class="readmore">Перейти &rarr;</a></p>
                <div class="clearfix"></div>
                <h2>Выбрав нужный кабинет:</h2>
                <div class="col-md-10 padding0">
                    <p><span class="glyphicon glyphicon-ok-sign glyphicon-ok-sign1"> </span>Пройдите полное платное психологическое цветовое тестировани.</p>
                    <p><span class="glyphicon glyphicon-ok-sign glyphicon-ok-sign1"> </span>Тестирование выявит степень присутствия 60 основных негативные черты характера в вашем характере и их влияние на здоровье.</p>
                    <p><span class="glyphicon glyphicon-ok-sign glyphicon-ok-sign1"> </span>В персональном кабинете вы найдете расшифровку данных цветового теста, ознакомивших с которой вы узнаете, почему вы болеете на самом деле!</p>
                    <p><span class="glyphicon glyphicon-ok-sign glyphicon-ok-sign1"> </span>Вы получите персональные рекомендации по коррекции психологических проблем.</p>
                    <p><span class="glyphicon glyphicon-ok-sign glyphicon-ok-sign1"> </span>Вы получите рекомендации, к какому врачу вам следует обратиться.</p>
                    <p><span class="glyphicon glyphicon-ok-sign glyphicon-ok-sign1"> </span>Вы получите список биологически активных добавок, подобранных для вас на основании вашего цветового теста.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3 padding0"><a class="readmore" href="">Пример расшифровки</a></div>
                <div class="clearfix"></div>
                <div class="intro-2">
                    <p><span class="name">@Model.FirstName,</span> другие пользователи уже оценили точность экспресс теста!</p>
                    <p>По результатам голосования:<strong> 2500 пользователей</strong></p>
                    <p>Точность экспресс теста составляет: <strong>85%</strong></p>
                </div>
                <div class="clearfix"></div>
                <h2>@Model.FirstName, просим вас оценить точность экспресс теста!</h2>
                <div class="percent-blocks">
                    <div class="col-md-1 paddingleft7">
                        <div class="percent-block">
                            <span>40 %</span>
                        </div>
                    </div>
                    <div class="col-md-1 paddingleft7">
                        <div class="percent-block">
                            <span>50 %</span>
                        </div>
                    </div>
                    <div class="col-md-1 paddingleft7">
                        <div class="percent-block">
                            <span>60 %</span>
                        </div>
                    </div>
                    <div class="col-md-1 paddingleft7">
                        <div class="percent-block">
                            <span>65 %</span>
                        </div>
                    </div>
                    <div class="col-md-1 paddingleft7">
                        <div class="percent-block">
                            <span>70 %</span>
                        </div>
                    </div>
                    <div class="col-md-1 paddingleft7">
                        <div class="percent-block">
                            <span>75 %</span>
                        </div>
                    </div>
                    <div class="col-md-1 paddingleft7">
                        <div class="percent-block">
                            <span>80 %</span>
                        </div>
                    </div>
                    <div class="col-md-1 paddingleft7">
                        <div class="percent-block">
                            <span>85 %</span>
                        </div>
                    </div>
                    <div class="col-md-1 paddingleft7">
                        <div class="percent-block">
                            <span>90 %</span>
                        </div>
                    </div>
                    <div class="col-md-1 paddingleft7">
                        <div class="percent-block">
                            <span>95 %</span>
                        </div>
                    </div>
                    <div class="col-md-1 paddingleft7">
                        <div class="percent-block">
                            <span>99 %</span>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</section><!--/.main-content -->

