﻿@model ColorLongLife.Models.FreeExpressDiagnostics.ExpressDiagnosticsExampleModel

@{
    ViewBag.Title = "ExpressDiagnosticsExample";
    Layout = "~/Views/Shared/_DefaultExpressDiagnosticsLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/FreeExpressDiagnostics/StepZero">← Результаты экспресс-тестирования</a></div>
        <div class="col-md-9 padding0 main-vivod">
            <h1>Пример персонального корректирующего модуля</h1>
            <div class="clearfix"></div>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> данный корректирующий модуль (флэш-ролик) является примером. Он был создан посторонним человеком, проблема которого соответствует исключительно его психологическому состоянию. Поэтому, просмотрев данный пример, на Вас не будет оказано позитивного либо негативного корректирующего воздействия. Флэш-ролик предоставляется исключительно с целью ознакомления. </p>
                <p>Длительность примера (сеанса) составляет 2 мин. (при установленных по умолчанию настроек: продолжительность импульса - 2000 мс, продолжительность сеанса - 1). Для того чтобы остановить просмотр флэш-ролика преждевременно, до его полного окончания, необходимо нажать клавишу Escape (Esc). Для начала просмотра, нажмите внизу кнопку "Начать сеанс".</p>
            </div>
        </div>
        <div class="col-md-12 padding0">
            <img src="~/Content/img/primer-module.png" alt="" />
        </div>
        <div class="clearfix"></div>

    </div>
</section><!--/.main-content -->

