﻿@model ColorLongLife.Models.FreeExpressDiagnostics.IndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultExpressDiagnosticsLayout.cshtml";
}
<section class="main-content">
    <div class="container">

        <div class="col-md-9 padding0 main-vivod">
            <h1>Подготовка к экспресс-тестированию «Краски моей жизни»</h1>
            <div class="clearfix"></div>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> экспресс тест «Краски моей жизни»  определяет  основные психологические проблемы в жизни человека и набор деструктивных качеств характера. При столкновении  с психологическими проблемами люди, обыкновенно, испытывают негативные эмоции. При наличии деструктивных качеств характера общение человека с другими людьми порождает массу проблем и в конечном итоге ведет человека к переживанию негативных эмоций.</p>
                <p>В свою очередь  любая, длительно переживаемая человеком, негативная эмоция создает болезни в его теле. Такие болезни называются психосоматическими. Современная медицина к данному классу болезней относит около 80% известных ей заболеваний.</p>
                <p><strong>Таким образом, выполнив этот несложный тест, вы начнете понимать, почему вы болеете на самом деле!</strong></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 padding0">
            <h2>Для выполнения теста вам потребуется:</h2>
            <ul class="list-unstyled skils">
                <li><span class="glyphicon glyphicon-ok-sign"> </span>15-30 минут времени,  на самом деле это индивидуально</li>
                <li><span class="glyphicon glyphicon-ok-sign"> </span>Спокойная обстановка вокруг</li>
                <li>
                    <span class="glyphicon glyphicon-ok-sign"> </span>Ментальное спокойствие внутри вас
                </li>
                <li><span class="glyphicon glyphicon-ok-sign"> </span>Компьютер</li>
                <li><span class="glyphicon glyphicon-ok-sign"> </span>Интернет</li>
            </ul>
        </div>

    </div>

    <hr />
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6 video">
            <p>Видео-инструкция по работе с программой</p>
            <p><img src="~/Content/img/play.jpg"></p>
        </div>
        <div class="col-md-3"></div>
        <div class="clearfix"> </div>
        <div class="col-md-8 padding0">
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> убедитесь, что ваши личные данные, которые требовались при регистрации в сервисе, введены полностью и корректно, т.к. все данные нужны при расчете результатов теста. <a href="~/HealthPanel/EditProfile" class="readmore">Перейти в профайл для проверки данных &rarr;</a></p>
            </div>
            <div class="col-md-5 padding0">
                <div class="primer">
                    <a href="~/FreeExpressDiagnostics/StepZero">Начать экспресс-тест</a>
                    <p>Пожалуйста, выключите мобильный телефон, скайп, успокойтесь и начните тестирование.</p>
                </div>
            </div>
        </div>
    </div>
</section><!--/.main-content -->

