﻿@model ColorLongLife.Models.FreeExpressDiagnostics.InformationAboutTestModel

@{
    ViewBag.Title = "InformationAboutTest";
    Layout = "~/Views/Shared/_DefaultExpressDiagnosticsLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/FreeExpressDiagnostics/StepZero">← Экспресс-тестирование</a></div>
        <div class="col-md-9 padding0 main-vivod">
            <h1>О тестировании</h1>
            <div class="clearfix"></div>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет реплика. Вновь взгляните на категории слева и выберите слово или фразу, которую вы бы поставили на третье место.</p>
            </div>

        </div>
        <div class="clearfix"> </div>
    </div>
    <hr />
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6 video">
            <p>Видео-инструкция по работе с программой</p>
            <p><img src="~/Content/img/play.jpg"></p>
        </div>
        <div class="col-md-3"></div>
        <div class="clearfix"> </div>
        <div class="col-md-10 padding0">
            <p>В таблице, расположенной в левой части экрана, приведен примерный список категорий, которые имеют определенное значение в вашей жизни. Вы можете вписать свои категории в пустую строку сверху или, дважды кликнув в любой другой строке, и затем перенести их в нужный сектор. Начинать надо с самой важной для вас в настоящий момент, заполняя последовательно сектора по убыванию степени значимости категорий. После заполнения каждого сектора окрасьте его цветом или оттенком, с которым вы ассоциируете категорию, записанную в нем.</p>
            <h3>Цветодиагностика ПРОБЛЕМЫ</h3>
            <ul class="list-blue-disc">
                <li>Сектора следует заполнять поочередно, один за другим, сформулировав первоначально в центре диаграммы свою проблему, которую хотите решить или от которой хотите избавиться; проблему закрасьте цветом или оттенком, с которым Вы ее ассоциируете.</li>
                <li>Сектор будет заполнен, если Вы прописали в нем свое ощущение, связанное с вашей проблемой или причину, вызвавшую ее, после чего закрасили сектор цветом или оттенком цвета, который, по Вашему мнению, ассоциируется с данным ощущением, только после этого следует приступать к следующему сектору;</li>
            </ul>
            <div class="col-md-4 padding0"><a href="" class="readmore">Читать полностью</a></div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="col-md-12 recomended padding0">
            <h1>Рекомендуем прочитать <a href="~/HealthPanel/DictionaryTerms">Словарь терминов</a></h1>
            <ul class="list-unstyled col-md-5 padding0">
                <li><a href="">Для женщин</a></li>
                <li><a href="">Что такое женская психоматика</a></li>
                <li><a href="">Откуда берется женская психоматика</a></li>
                <li><a href="">Психоматика = мысли + эмоции</a></li>
                <li><a href="">Как негативные эмоции создают болезни</a></li>
            </ul>
            <ul class="list-unstyled col-md-4 padding0">
                <li><a href="">Какие женщины в зоне риска</a></li>
                <li><a href="">Как избавиться от психоматика</a></li>
                <li><a href="">Цвет эффективное решение</a></li>
                <li><a href="">Словарь женской психоматики</a></li>
            </ul>
        </div>

    </div>
</section><!--/.main-content -->

