﻿@model ColorLongLife.Models.FreeExpressDiagnostics.StepOneModel

@{
    ViewBag.Title = "StepOne";
    Layout = "~/Views/Shared/_FreeExpressDiagnosticsLayout.cshtml";
}
<section class="main-content">
    <div class="container">

        <div class="col-md-12 padding0 main-vivod">
            <div class="col-md-8 padding0"><h1>Экспресс тестирование</h1></div><div class="dop-tarif col-md-4 padding0"><a href="~/FreeExpressDiagnostics/ArchiveResults">Архив результатов</a></div>
            <div class="clearfix"></div>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> вновь взгляните на категории слева и выберите слово или фразу, которую вы бы поставили на третье место. Впишите это слово в третий сектор диаграммы.</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3 padding0 kategories">
            <h2>Категории</h2>
            <div class="col-md-12 paddingleft0">
                <div class="kategory-block">
                    <div class="kat-number pull-left"><span>1</span></div>
                    <div class="kat-name pull-right"><a href="" class="">Здоровье</a></div>
                </div>
            </div>

            <div class="col-md-12 paddingleft0">
                <div class="kategory-block">
                    <div class="kat-number pull-left"><span>2</span></div>
                    <div class="kat-name pull-right"><a href="" class="">Семья, брак, свадьба</a></div>
                </div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="kategory-block">
                    <div class="kat-number pull-left"><span>3</span></div>
                    <div class="kat-name pull-right"><a href="" class="">Дети</a></div>
                </div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="kategory-block">
                    <div class="kat-number pull-left"><span>4</span></div>
                    <div class="kat-name pull-right"><a href="" class="">Общение: друзья, коллеги, люди</a></div>
                </div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="kategory-block">
                    <div class="kat-number pull-left"><span>5</span></div>
                    <div class="kat-name pull-right"><a href="" class="">Деньги / недвижимость</a></div>
                </div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="kategory-block">
                    <div class="kat-number pull-left"><span>6</span></div>
                    <div class="kat-name pull-right"><a href="" class="">Бизнес, карьера, социальный статус</a></div>
                </div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="kategory-block">
                    <div class="kat-number pull-left"><span>7</span></div>
                    <div class="kat-name pull-right"><a href="" class="">Духовность, предназначение, жизненная цель</a></div>
                </div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="kategory-block">
                    <div class="kat-number pull-left"><span>8</span></div>
                    <div class="kat-name pull-right"><a href="" class="">Яркость жизни</a></div>
                </div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="kategory-block">
                    <div class="kat-number pull-left"><span>9</span></div>
                    <div class="kat-name pull-right"><a href="" class="">Я сама</a></div>
                </div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="kategory-block">
                    <div class="kat-number pull-left"><span>10</span></div>
                    <div class="kat-name pull-right"><a href="" class="">Мои переживания, мысли и переживания</a></div>
                </div>
            </div>
            <p class="text-center"><a href="~/FreeExpressDiagnostics/InformationAboutTest" class="readmore">Подробнее о тестировании</a></p>
        </div>
        <div class="col-md-9 padding0 cvetodiagramma">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="900px" height="900px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                 viewBox="0 0 7197 7197"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
            <font id="FontID1" horiz-adv-x="666" font-variant="normal" style="fill-rule:nonzero" font-style="italic" font-weight="400">
            <font-face font-family="Arial">
            <font-face-src>
            <font-face-name name="Arial Italic" />
		</font-face-src>
	</font-face>
            <missing-glyph><path d="M0 0z" /></missing-glyph>
            <glyph unicode="Рє" horiz-adv-x="472" d="M139.678 519.028l87.8038 0 -46.4886 -222.025 15.6615 -0.496067c24.5199,0 44.5043,6.30714 59.8115,18.8505 15.5198,12.4725 37.3468,42.1657 65.8352,88.6542 29.3388,47.9768 54.213,79.1581 74.5518,93.4732 20.3387,14.3151 47.6224,21.5435 82.1345,21.5435l41.0318 0 -16.1576 -71.0084 -21.0474 0c-21.8269,0 -36.7798,-3.04727 -45.1421,-8.85834 -8.36227,-5.81107 -20.6931,-22.8191 -36.8507,-50.8114 -22.1813,-38.5515 -41.457,-66.0478 -57.969,-82.4888 -16.5119,-16.5119 -37.8428,-29.5514 -63.8509,-39.0476 22.1813,-8.2914 39.8271,-20.4805 53.15,-36.2838 13.3229,-15.8741 26.0081,-40.0397 38.1972,-72.7092l59.6698 -157.82 -91.985 0 -48.1894 129.828c-17.8584,48.1894 -34.8664,79.0164 -50.6697,92.6936 -15.8741,13.6773 -38.9767,20.4805 -69.5202,20.4805l-50.8114 -243.002 -87.8747 0 108.71 519.028z" />
            <glyph unicode="С‚" horiz-adv-x="832" d="M33.0239 0l108.639 519.028 87.8038 0 -18.0001 -85.8904c32.8821,36.709 62.3627,62.0084 88.229,75.8274 25.9372,14.0316 54.0004,21.0474 84.3314,21.0474 32.3152,0 59.3154,-8.504 81.0006,-25.6537 21.6143,-17.008 35.7877,-40.8901 42.6618,-71.5045 26.5041,32.4569 54.2839,56.8351 83.481,72.9927 29.1971,16.1576 59.8115,24.1655 92.1976,24.1655 43.2996,0 75.8274,-10.2048 97.4417,-30.6853 21.6852,-20.4805 32.5278,-49.1815 32.5278,-86.1739 0,-16.0159 -3.8268,-42.3074 -11.4804,-79.1581l-71.0084 -333.995 -87.8747 0 71.8588 342.357c6.1654,27.9923 9.3544,47.9768 9.3544,59.9532 0,17.008 -5.5276,30.3309 -16.1576,40.0397 -10.8426,9.85047 -26.0081,14.6694 -45.709,14.6694 -26.5041,0 -53.2918,-8.00794 -80.788,-23.8821 -27.5671,-15.8033 -48.898,-36.6381 -64.0635,-62.5044 -15.1655,-25.7955 -28.4884,-65.4808 -39.9688,-118.985l-52.654 -251.648 -87.8747 0 73.347 349.656c5.17327,23.8112 7.8662,40.6775 7.8662,50.8114 0,16.8663 -5.38587,30.5435 -15.8741,40.8901 -10.63,10.4883 -24.449,15.6615 -41.3153,15.6615 -25.1577,0 -51.5201,-8.00794 -79.0164,-23.8821 -27.638,-15.945 -49.961,-38.1263 -67.3234,-66.473 -17.2915,-28.3467 -31.4648,-68.8116 -42.52,-121.466l-51.3075 -245.199 -87.8038 0z" />
            <glyph unicode="Рј" horiz-adv-x="685" d="M139.678 519.028l130.466 0 52.5122 -414.003 238.679 414.003 129.19 0 -108.71 -519.028 -87.8038 0 87.5204 418.326 -241.018 -418.326 -77.6699 0 -54.3548 428.318 -89.6464 -428.318 -87.8747 0 108.71 519.028z" />
            <glyph unicode="СЌ" horiz-adv-x="491" d="M219.332 232.018l14.6694 70.0163 157.466 0 1.55907 38.6224c0,31.6774 -8.85834,59.3154 -26.7167,83.3392 -17.7875,24.0238 -43.4413,36.0003 -76.8195,36.0003 -60.6619,0 -106.017,-36.3546 -136.489,-108.993l-88.0164 9.3544c47.835,113.174 122.883,169.655 225.002,169.655 58.6776,0 104.812,-18.2127 138.544,-54.7091 33.6617,-36.2838 50.4571,-87.166 50.4571,-152.434 0,-91.3472 -23.8112,-169.726 -71.2919,-235.348 -47.5516,-65.6934 -113.528,-98.5047 -198.002,-98.5047 -54.0004,0 -97.8669,14.8111 -131.67,44.2917 -33.6617,29.6931 -51.024,67.6777 -52.0162,113.883l85.9613 6.8032c1.7008,-29.3388 12.1891,-52.654 31.89,-69.5202 19.4883,-17.008 44.0082,-25.4411 73.1344,-25.4411 39.8271,0 73.347,14.4568 100.702,43.2996 27.1419,28.8427 47.9768,72.0006 62.5044,129.686l-160.867 0z" />
            <glyph unicode="Рў" horiz-adv-x="610" d="M232.018 0l133.159 634.966 -240.663 0 17.1497 81.0006 568.493 0 -17.1497 -81.0006 -232.868 0 -133.159 -634.966 -94.9614 0z" />
            <glyph unicode="СЃ" horiz-adv-x="500" d="M390.972 189.001l89.0086 -9.00007c-22.1813,-64.7013 -53.6461,-112.678 -94.6779,-144.001 -40.8192,-31.3231 -87.3078,-46.9846 -139.466,-46.9846 -56.4808,0 -102.19,18.1419 -137.34,54.6382 -35.0081,36.3546 -52.5122,87.166 -52.5122,152.505 0,56.4808 11.1969,112.04 33.6617,166.678 22.5356,54.4965 54.7091,96.1661 96.5204,124.513 42.024,28.4884 89.859,42.6618 143.505,42.6618 55.6304,0 99.8512,-15.6615 132.521,-47.1972 32.4569,-31.4648 48.8272,-72.9927 48.8272,-124.796l-87.0243 -6.02367c-0.354333,32.8113 -9.85047,58.6776 -28.6301,77.1738 -18.7088,18.4962 -43.5122,27.8506 -74.1974,27.8506 -35.5042,0 -66.3312,-11.1969 -92.481,-33.6617 -26.0081,-22.323 -46.4886,-56.339 -61.3706,-102.048 -14.8111,-45.6382 -22.323,-89.6464 -22.323,-131.812 0,-44.15 9.85047,-77.3156 29.3388,-99.3551 19.4883,-22.1104 43.6539,-33.1656 72.3549,-33.1656 28.8427,0 56.1264,10.8426 82.4888,32.6695 26.1498,21.6852 46.8429,54.8508 61.7958,99.3551z" />
            <glyph unicode="Рѕ" horiz-adv-x="556" d="M48.9689 197.151c0,100.985 29.8349,184.679 89.3629,251.01 49.1815,54.4965 113.528,81.851 193.324,81.851 62.3627,0 112.678,-19.4883 151.017,-58.5359 38.1263,-38.9767 57.3312,-91.6306 57.3312,-157.82 0,-59.4572 -11.9765,-114.804 -36.142,-165.97 -24.0238,-51.1658 -58.3942,-90.4968 -102.686,-117.71 -44.5043,-27.2837 -91.2054,-40.961 -140.316,-40.961 -40.394,0 -77.0321,8.64574 -110.056,25.7955 -33.1656,17.2206 -58.3233,41.6696 -75.6148,73.2053 -17.5041,31.4648 -26.2207,67.8194 -26.2207,109.135zm88.0164 8.7166c0,-48.898 11.8347,-85.8904 35.3625,-111.048 23.4569,-25.1577 53.5044,-37.8428 89.7881,-37.8428 19.0631,0 37.8428,3.8268 56.339,11.5513 18.7088,7.6536 36.0003,19.134 52.0162,34.7955 16.1576,15.6615 29.8349,33.5199 41.0318,53.5044 11.3387,19.9844 20.4805,41.5279 27.2837,64.7013 10.2048,32.1026 15.1655,63.0005 15.1655,92.6228 0,46.8429 -11.8347,83.1975 -35.5042,108.993 -23.8112,25.8663 -53.6461,38.835 -89.6464,38.835 -27.8506,0 -53.15,-6.66147 -75.9691,-19.8427 -23.0317,-13.1103 -43.6539,-32.3152 -62.221,-57.8272 -18.4962,-25.2994 -31.9609,-54.78 -40.6066,-88.4416 -8.7166,-33.7325 -13.0395,-63.7092 -13.0395,-90.0007z" />
            <glyph unicode=" " horiz-adv-x="277" d="" />
            <glyph unicode="Рё" horiz-adv-x="556" d="M387.499 93.8275c-62.1501,-69.8037 -126.001,-104.812 -191.198,-104.812 -39.9688,0 -72.284,11.3387 -96.9456,34.1577 -24.6616,22.8191 -36.9924,50.8114 -36.9924,83.8353 0,21.8269 6.1654,59.1737 18.1419,112.324l68.1738 299.695 88.796 0 -75.473 -336.05c-6.30714,-27.9923 -9.49614,-49.8193 -9.49614,-65.3391 0,-17.7875 6.02367,-31.8191 18.1419,-41.6696 12.0473,-9.9922 29.8349,-14.9529 53.3626,-14.9529 25.1577,0 49.6776,5.9528 73.6305,18.0001 24.0238,11.9765 44.7169,28.1341 62.0084,48.4728 17.3623,20.3387 31.5357,44.5043 42.52,72.3549 7.15754,17.6458 15.6615,48.8272 25.1577,93.4732l49.3232 225.71 87.8747 0 -114.875 -519.028 -81.6384 0 19.4883 93.8275z" />
            <glyph unicode="С†" horiz-adv-x="571" d="M140.67 519.028l85.9613 0 -67.4651 -321.38c-6.8032,-33.1656 -10.3465,-58.6776 -10.3465,-76.6778 0,-19.4883 6.02367,-34.1577 18.0001,-44.15 12.0473,-9.85047 30.0475,-14.8111 54.0004,-14.8111 27.3545,0 54.7091,7.51187 82.2054,22.4647 27.4963,14.882 49.8193,34.5121 67.1108,59.032 17.3623,24.3073 34.016,72.9927 50.1736,145.844l50.3862 229.679 87.8038 0 -82.3471 -367.727c-8.504,-37.4885 -12.6851,-58.1107 -12.6851,-62.1501 0,-18.1419 11.0552,-27.1419 33.1656,-27.1419l59.8824 0 -48.3311 -213.025 -73.8431 0 32.3152 142.017c-25.512,0 -46.3468,6.51974 -62.6462,19.7009 -16.3702,13.1103 -24.5199,31.6065 -24.5199,55.4886 0,5.315 0.141733,12.1182 0.496067,20.6222l-15.1655 -14.1733c-58.3233,-55.7721 -116.505,-83.6227 -174.332,-83.6227 -37.3468,0 -68.1738,10.9843 -92.481,32.8113 -24.3073,21.8269 -36.4964,52.3705 -36.4964,91.8432 0,18.4962 3.47247,44.646 10.4883,78.5203l68.6698 326.837z" />
            <glyph unicode="Рµ" horiz-adv-x="556" d="M415.35 176.033l85.9613 -8.00794c-12.4725,-42.6618 -40.961,-83.0558 -85.4652,-121.536 -44.5043,-38.3389 -97.6543,-57.4729 -159.379,-57.4729 -38.4806,0 -73.7722,8.78747 -105.804,26.5041 -32.1735,17.7875 -56.6934,43.5122 -73.4888,77.3156 -16.8663,33.8034 -25.1577,72.3549 -25.1577,115.513 0,56.4808 13.1812,111.332 39.331,164.482 26.2915,53.15 60.3076,92.6936 101.977,118.489 41.8114,25.8663 87.0243,38.6932 135.71,38.6932 61.9375,0 111.473,-19.2049 148.466,-57.5438 36.9924,-38.1263 55.4886,-90.4968 55.4886,-156.615 0,-25.3703 -2.3386,-51.1658 -6.8032,-77.8825l-383.176 0c-1.34647,-10.1339 -1.98427,-19.134 -1.98427,-27.2837 0,-48.6854 11.1261,-85.6778 33.6617,-111.332 22.323,-25.512 49.8193,-38.3389 82.1345,-38.3389 30.3309,0 60.3784,9.85047 89.859,29.6223 29.3388,19.7009 52.2996,48.1894 68.6698,85.3944zm-258.167 129.97l292.325 0c0.354333,9.00007 0.496067,15.5198 0.496067,19.4883 0,44.0082 -11.1969,77.8116 -33.3073,101.339 -22.3939,23.5277 -50.8823,35.1499 -85.8904,35.1499 -37.9846,0 -72.4966,-12.9686 -103.607,-38.835 -31.3939,-26.0081 -54.5674,-64.9848 -70.0163,-117.143z" />
  </font>
            <font id="FontID0" horiz-adv-x="666" font-variant="normal" style="fill-rule:nonzero" font-style="normal" font-weight="400">
            <font-face font-family="Arial">
            <font-face-src>
            <font-face-name name="Arial" />
		</font-face-src>
	</font-face>
            <missing-glyph><path d="M0 0z" /></missing-glyph>
            <glyph unicode="3" horiz-adv-x="556" d="M41.9541 190.022l88.0658 12.0004c10.1106,-49.9858 27.119,-85.987 51.3087,-108.003 24.1897,-22.0164 53.86,-32.9774 89.0107,-32.9774 41.6706,0 76.8213,14.2682 105.169,42.9935 28.3473,28.6308 42.521,64.1595 42.521,106.492 0,40.3477 -13.2288,73.6086 -39.6863,99.9717 -26.363,26.1741 -59.8129,39.3083 -100.633,39.3083 -16.7249,0 -37.4185,-3.30719 -62.1752,-9.82708l9.82708 77.0103c5.76396,-0.661438 10.6775,-0.944912 14.1737,-0.944912 37.6075,0 71.3408,9.82708 101.484,29.2923 29.9537,19.4652 44.9778,49.5134 44.9778,89.9556 0,32.2215 -10.961,58.868 -32.7884,80.034 -21.8275,21.166 -50.0803,31.6545 -84.5696,31.6545 -34.3003,0 -62.8366,-10.772 -85.609,-32.505 -22.8669,-21.6385 -37.513,-54.1434 -44.0329,-97.5149l-87.9713 16.0635c10.772,58.9625 35.1507,104.791 73.3251,137.296 37.9854,32.505 85.5145,48.663 142.115,48.663 39.0249,0 75.026,-8.31522 107.909,-25.1346 32.9774,-16.7249 58.1121,-39.4973 75.4984,-68.3171 17.4809,-29.0088 26.1741,-59.7184 26.1741,-92.2234 0,-30.8041 -8.40971,-58.7735 -24.8512,-84.0971 -16.7249,-25.4181 -41.3871,-45.5447 -73.8921,-60.5688 42.332,-9.6381 75.215,-29.9537 98.7433,-60.8523 23.2448,-30.6151 34.9617,-69.262 34.9617,-115.468 0,-62.4587 -22.8669,-115.657 -68.3171,-159.123 -45.7337,-43.5604 -103.373,-65.1989 -173.013,-65.1989 -62.8366,0 -114.996,18.8037 -156.477,56.3167 -41.6706,37.513 -65.3879,85.987 -71.2463,145.705z" />
            <glyph unicode="СЂ" horiz-adv-x="556" d="M65.9769 -198.994l0 718.021 80.0085 0 0 -68.1738c18.8505,26.2915 40.1814,46.1342 63.9926,59.3154 23.6695,13.1812 52.5122,19.8427 86.3865,19.8427 44.2917,0 83.2684,-11.3387 117.143,-34.1577 33.8034,-22.6773 59.3154,-54.8508 76.6778,-96.1661 17.1497,-41.5279 25.7955,-86.8826 25.7955,-136.348 0,-52.8666 -9.49614,-100.489 -28.4884,-143.009 -18.9923,-42.3074 -46.6303,-74.8352 -82.9849,-97.5126 -36.142,-22.4647 -74.3392,-33.8034 -114.308,-33.8034 -29.3388,0 -55.7012,6.1654 -78.8746,18.4962 -23.3151,12.3308 -42.3074,27.8506 -57.3312,46.6303l0 -253.136 -88.0164 0zm80.0085 455.319c0,-66.473 13.5355,-115.654 40.3232,-147.474 27.0002,-31.8191 59.6698,-47.835 98.0086,-47.835 39.0476,0 72.3549,16.5119 99.9929,49.465 27.8506,33.0239 41.6696,84.0479 41.6696,153.214 0,65.9769 -13.4647,115.3 -40.6775,148.111 -27.1419,32.8821 -59.4572,49.1815 -97.1582,49.1815 -37.2759,0 -70.2998,-17.5041 -99.0008,-52.2996 -28.8427,-35.0081 -43.1578,-85.6778 -43.1578,-152.363z" />
            <glyph unicode="Рє" horiz-adv-x="437" d="M64.9848 519.028l88.0164 0 0 -224.01c27.9923,0 47.6933,5.315 59.032,16.1576 11.1261,10.63 27.638,41.8114 49.6067,93.6858 17.3623,40.961 31.3939,67.9612 42.024,81.0006 10.8426,12.9686 23.1734,21.8269 37.1342,26.2915 14.1733,4.53547 36.709,6.87407 67.536,6.87407l17.6458 0 0 -72.4966 -24.449 0.496067c-23.1734,0 -38.0554,-3.54333 -44.5043,-10.3465 -6.87407,-7.15754 -17.3623,-28.4884 -31.3939,-63.9926 -13.3229,-34.016 -25.4411,-57.5438 -36.6381,-70.5124 -10.9843,-13.0395 -28.1341,-24.8742 -51.3075,-35.6459 37.8428,-10.2048 75.1187,-45.3547 111.828,-105.662l96.5204 -160.867 -96.733 0 -95.1031 160.3c-19.2049,32.5278 -35.8586,53.8587 -50.0319,64.2052 -14.3151,10.3465 -31.3231,15.5198 -51.1658,15.5198l0 -240.026 -88.0164 0 0 519.028z" />
            <glyph unicode="8" horiz-adv-x="556" d="M177.454 388.17c-36.4736,13.3233 -63.4981,32.505 -81.1679,57.1672 -17.4809,24.8512 -26.2685,54.5214 -26.2685,89.0107 0,52.1591 18.6148,95.814 55.9388,131.343 37.513,35.4342 87.2153,53.293 149.391,53.293 62.3642,0 112.633,-18.1423 150.619,-54.5214 38.0799,-36.2846 57.0727,-80.5065 57.0727,-132.666 0,-33.1664 -8.69319,-62.1752 -26.0796,-86.6484 -17.2919,-24.6622 -43.6549,-43.6549 -79.0891,-56.9782 43.7494,-14.3627 77.0103,-37.324 99.7827,-69.3565 22.8669,-31.8435 34.3003,-69.829 34.3003,-114.145 0,-61.1358 -21.6385,-112.539 -64.8209,-154.21 -43.277,-41.6706 -100.161,-62.4587 -170.651,-62.4587 -70.4904,0 -127.28,20.7881 -170.651,62.6476 -43.1825,41.8596 -64.8209,94.0187 -64.8209,156.477 0,46.5841 11.8114,85.5145 35.5287,116.886 23.6228,31.4656 57.2616,52.8206 100.917,64.1595zm-17.4809 149.296c0,-33.9223 10.8665,-61.6082 32.316,-83.1522 21.733,-21.4495 50.0803,-32.316 85.231,-32.316 34.1113,0 61.7972,10.6775 83.3412,32.0325 21.4495,21.2605 32.127,47.4346 32.127,78.4277 0,32.4105 -10.961,59.5294 -33.1664,81.5459 -22.0164,22.0164 -49.7968,32.9774 -83.3412,32.9774 -33.8278,0 -61.6082,-10.772 -83.6247,-32.316 -21.8275,-21.544 -32.8829,-47.1511 -32.8829,-77.1993zm-29.0088 -331.003c0,-25.1346 5.85845,-49.3244 17.5754,-72.7582 11.6224,-23.3393 29.2923,-41.5761 52.9151,-54.3324 23.5283,-12.8508 48.8519,-19.3707 75.6874,-19.3707 42.332,0 77.0103,13.5122 104.224,40.5367 27.119,26.93 40.6312,61.3248 40.6312,102.995 0,42.332 -13.9847,77.2938 -41.8596,104.98 -27.9694,27.6859 -63.3091,41.4816 -105.83,41.4816 -41.6706,0 -75.7819,-13.7012 -102.806,-41.0092 -27.0245,-27.3079 -40.5367,-61.5137 -40.5367,-102.523z" />
            <glyph unicode="5" horiz-adv-x="556" d="M41.9541 188.037l92.0344 6.99235c6.80336,-44.8833 22.6779,-78.5222 47.3401,-101.2 24.6622,-22.4889 54.8049,-33.8278 90.3336,-33.8278 42.8045,0 78.7111,15.969 107.814,47.8125 29.0088,32.0325 43.5604,74.3645 43.5604,126.996 0,50.1748 -13.8902,89.6721 -41.6706,118.681 -27.8749,29.0088 -64.7264,43.4659 -110.555,43.4659 -28.4418,0 -53.9545,-6.4254 -76.6323,-19.4652 -22.4889,-12.9453 -40.1587,-29.8592 -53.1985,-50.4583l-82.9632 12.0004 68.9786 367.949 355.003 0 0 -84.0026 -284.796 0 -38.1744 -193.14c42.8045,30.1427 87.7823,45.1668 134.839,45.1668 62.2697,0 114.996,-21.6385 157.8,-65.0099 42.8045,-43.3714 64.3485,-99.0267 64.3485,-166.966 0,-64.8209 -18.8037,-120.854 -56.5057,-168.005 -45.8282,-58.0176 -108.476,-87.0264 -187.848,-87.0264 -65.0099,0 -118.019,18.3313 -159.123,54.8049 -41.1981,36.5681 -64.7264,84.8531 -70.5849,145.233z" />
            <glyph unicode="С‚" horiz-adv-x="458" d="M19.9844 519.028l420.027 0 0 -72.9927 -166.041 0 0 -446.035 -87.9456 0 0 446.035 -166.041 0 0 72.9927z" />
            <glyph unicode="2" horiz-adv-x="556" d="M503.012 83.977l0 -83.977 -474.027 0c-0.6378,21.1891 2.83467,41.5279 10.3465,61.158 12.1891,32.1735 31.6774,63.9926 58.5359,95.174 26.7876,31.1813 65.1265,67.1816 114.946,108.001 77.5282,63.8509 130.182,114.308 157.678,151.655 27.7089,37.3468 41.5279,72.7092 41.5279,106.017 0,34.7955 -12.5434,64.1344 -37.4885,88.1582 -25.0159,23.8112 -57.6855,35.8586 -97.8669,35.8586 -42.52,0 -76.4652,-12.6851 -101.977,-38.0554 -25.512,-25.1577 -38.3389,-60.1658 -38.6932,-104.954l-90.0007 9.00007c6.1654,67.3234 29.4805,118.631 69.8746,153.993 40.4649,35.3625 94.607,53.0083 162.781,53.0083 68.6698,0 123.166,-18.9923 163.206,-57.1894 40.1814,-38.1263 60.1658,-85.4652 60.1658,-141.804 0,-28.701 -5.88194,-56.8351 -17.7167,-84.544 -11.6221,-27.7797 -31.1105,-56.9768 -58.3233,-87.6621 -27.2837,-30.4727 -72.4966,-72.6384 -135.497,-126.001 -52.7957,-44.2917 -86.8117,-74.3392 -101.835,-90.1424 -14.9529,-15.8033 -27.2837,-31.6774 -37.1342,-47.6933l351.499 0z" />
            <glyph unicode="7" horiz-adv-x="556" d="M46.9621 622.98l0 84.0026 463.007 0 0 -67.9391c-45.4503,-48.5685 -90.806,-113.011 -135.5,-193.518 -44.7888,-80.5065 -79.2781,-163.375 -103.846,-248.512 -17.4809,-59.8129 -28.8198,-125.673 -33.6389,-197.014l-89.9556 0c0.944912,56.3167 12.0004,124.539 33.1664,204.29 21.166,80.034 51.3087,157.044 90.806,231.22 39.4973,74.1756 81.5459,136.634 125.957,187.47l-349.995 0z" />
            <glyph unicode="Рі" horiz-adv-x="364" d="M65.9769 519.028l299.057 0 0 -72.9927 -211.041 0 0 -446.035 -88.0164 0 0 519.028z" />
            <glyph unicode="Рў" horiz-adv-x="610" d="M259.018 0l0 631.989 -235.986 0 0 83.977 566.934 0 0 -83.977 -235.986 0 0 -631.989 -94.9614 0z" />
            <glyph unicode="4" horiz-adv-x="556" d="M322.971 0l0 171.029 -310.97 0 0 80.9789 327.034 463.952 72.0023 0 0 -463.952 96.9479 0 0 -80.9789 -96.9479 0 0 -171.029 -88.0658 0zm0 252.008l0 322.12 -224.511 -322.12 224.511 0z" />
            <glyph unicode="Р°" horiz-adv-x="556" d="M405.003 64.9848c-32.6695,-27.8506 -64.2052,-47.339 -94.3236,-58.8194 -30.1892,-11.4804 -62.5044,-17.1497 -97.1582,-17.1497 -57.0477,0 -100.843,13.819 -131.529,41.6696 -30.6853,27.638 -45.9925,63.1422 -45.9925,106.3 0,25.3703 5.81107,48.5437 17.3623,69.5202 11.6221,20.9765 26.7876,37.6302 45.4964,50.3154 18.7797,12.6851 39.8271,22.323 63.284,28.8427 17.3623,4.53547 43.5122,8.85834 78.3786,13.1812 71.0084,8.2914 123.45,18.4962 156.97,30.1892 0.354333,11.9765 0.496067,19.6301 0.496067,22.8191 0,35.6459 -8.2914,60.8036 -25.0159,75.473 -22.4647,19.8427 -55.9847,29.6931 -100.276,29.6931 -41.5279,0 -72.2132,-7.37014 -91.8432,-21.8269 -19.8427,-14.5277 -34.3703,-40.1814 -43.8665,-77.1738l-85.9613 11.9765c7.79534,36.8507 20.6222,66.6856 38.6224,89.3629 18.0001,22.6773 44.0082,39.9688 78.0242,52.2996 33.8034,12.1891 73.347,18.3545 117.993,18.3545 44.3626,0 80.5046,-5.17327 108.355,-15.6615 27.638,-10.4883 48.1185,-23.5277 61.158,-39.331 12.9686,-15.8741 22.1813,-35.8586 27.4963,-60.0241 2.83467,-15.0237 4.32287,-42.024 4.32287,-80.8589l0 -116.647c0,-81.4967 1.84253,-133.017 5.5276,-154.844 3.47247,-21.8269 10.8426,-42.6618 21.4726,-62.6462l-91.985 0c-8.85834,18.4962 -14.5277,40.1814 -17.008,64.9848zm-7.0158 195.025c-31.9609,-13.0395 -80.0085,-24.0238 -144.001,-33.0239 -36.3546,-5.17327 -62.0084,-10.9843 -76.9612,-17.5041 -15.0237,-6.44887 -26.5041,-16.0159 -34.7247,-28.3467 -8.14967,-12.4725 -12.3308,-26.2915 -12.3308,-41.6696 0,-23.1025 8.85834,-42.6618 26.7167,-58.1107 17.7875,-15.5198 43.7956,-23.386 77.9534,-23.386 33.8743,0 63.9926,7.37014 90.4968,22.1813 26.3624,14.6694 45.8508,34.8664 58.1816,60.3784 9.49614,19.7718 14.1733,48.9689 14.1733,87.4495l0.496067 32.0317z" />
            <glyph unicode="СЃ" horiz-adv-x="500" d="M405.003 189.994l86.0322 -11.9765c-9.567,-59.1737 -33.5199,-105.379 -72.3549,-138.828 -38.835,-33.5199 -86.67,-50.1736 -143.151,-50.1736 -70.8667,0 -127.844,23.1734 -170.86,69.4494 -43.1578,46.3468 -64.7013,112.678 -64.7013,199.065 0,55.9847 9.3544,104.812 27.8506,146.836 18.4962,41.8114 46.7012,73.2762 84.6857,94.111 37.8428,21.0474 79.0164,31.5357 123.662,31.5357 56.1973,0 102.332,-14.1733 137.977,-42.6618 35.8586,-28.4884 58.8902,-69.0242 68.8824,-121.324l-85.04 -13.0395c-8.14967,34.8664 -22.4647,61.0162 -43.2996,78.662 -20.6931,17.5041 -45.709,26.3624 -75.0478,26.3624 -44.2917,0 -80.292,-15.8741 -108.143,-47.4807 -27.638,-31.89 -41.5279,-81.851 -41.5279,-150.521 0,-69.662 13.3938,-120.19 40.0397,-151.655 26.8585,-31.5357 61.654,-47.339 104.458,-47.339 34.7247,0 63.5674,10.4883 86.5282,31.6774 23.1734,20.9765 37.8428,53.5044 44.0082,97.3z" />
            <glyph unicode="1" horiz-adv-x="556" d="M372.012 0l-87.9713 0 0 560.333c-21.166,-20.3156 -49.0409,-40.5367 -83.3412,-60.6633 -34.3948,-20.1266 -65.3879,-35.3397 -92.6958,-45.3558l0 85.042c49.1354,22.9614 92.1289,50.9307 128.98,84.0026 36.8516,32.7884 63.0256,64.632 78.3332,95.6251l56.6947 0 0 -718.983z" />
            <glyph unicode="Рѕ" horiz-adv-x="556" d="M33.0239 259.514c0,95.8118 26.6459,166.82 80.1502,212.954 44.5043,38.3389 99.0008,57.5438 163.135,57.5438 71.221,0 129.544,-23.3151 174.828,-70.0163 45.213,-46.4886 67.8903,-110.977 67.8903,-193.183 0,-66.6147 -10.0631,-118.985 -30.0475,-157.111 -19.9844,-38.1972 -49.1815,-67.8903 -87.4495,-89.0086 -38.1972,-21.1891 -80.0085,-31.6774 -125.221,-31.6774 -72.6384,0 -131.316,23.1734 -176.175,69.662 -44.7878,46.4886 -67.1108,113.458 -67.1108,200.836zm90.0007 -0.2126c0,-66.3312 14.4568,-115.938 43.4413,-148.82 29.1971,-32.953 65.6934,-49.465 109.843,-49.465 43.7248,0 80.0085,16.5119 109.206,49.6776 28.9845,33.1656 43.5122,83.6227 43.5122,151.442 0,64.0635 -14.6694,112.536 -43.8665,145.348 -29.1262,33.0239 -65.4808,49.5358 -108.851,49.5358 -44.15,0 -80.6463,-16.3702 -109.843,-49.1815 -28.9845,-32.8113 -43.4413,-82.3471 -43.4413,-148.537z" />
            <glyph unicode=" " horiz-adv-x="277" d="" />
            <glyph unicode="." horiz-adv-x="277" d="M90.9928 0l0 99.9929 99.9929 0 0 -99.9929 -99.9929 0z" />
            <glyph unicode="Рё" horiz-adv-x="558" d="M65.9769 519.028l88.0164 0 0 -395.861 244.49 395.861 94.5362 0 0 -519.028 -88.0164 0 0 393.31 -244.136 -393.31 -94.8905 0 0 519.028z" />
            <glyph unicode="Рµ" horiz-adv-x="556" d="M420.027 168.025l90.9928 -12.0473c-14.1733,-52.7957 -40.6775,-93.9692 -79.3707,-123.166 -38.6224,-29.1262 -88.0164,-43.7956 -148.182,-43.7956 -75.6148,0 -135.639,23.3151 -180.001,70.0163 -44.2917,46.4886 -66.473,111.969 -66.473,196.159 0,86.9534 22.323,154.631 67.1816,202.608 44.8586,48.1894 102.969,72.2132 174.474,72.2132 69.1659,0 125.718,-23.5277 169.513,-70.6541 43.8665,-47.1972 65.8352,-113.528 65.8352,-198.994 0,-5.17327 -0.141733,-13.0395 -0.496067,-23.386l-386.507 0c3.33073,-56.8351 19.3466,-100.489 48.3311,-130.678 28.8427,-30.1183 64.9848,-45.2838 108.143,-45.2838 32.1735,0 59.6698,8.504 82.3471,25.512 22.8191,16.9371 40.8192,44.15 54.213,81.4967zm-288.002 140.954l288.994 0c-3.8268,43.6539 -15.0237,76.3234 -33.1656,98.2212 -27.8506,33.8034 -64.2052,50.8114 -108.71,50.8114 -40.3232,0 -74.1266,-13.5355 -101.623,-40.5358 -27.3545,-27.0002 -42.52,-63.1422 -45.4964,-108.497z" />
            <glyph unicode="6" horiz-adv-x="556" d="M498.972 540.996l-86.9534 -7.0158c-7.8662,34.5121 -18.9923,59.6698 -33.5199,75.3313 -23.8112,25.1577 -53.3626,37.7011 -88.2999,37.7011 -28.2049,0 -53.2209,-7.8662 -74.6935,-23.5277 -27.638,-20.1261 -49.3232,-49.465 -65.4808,-88.1582 -16.0159,-38.835 -24.3781,-93.9692 -25.0159,-165.474 21.1891,32.1735 47.1264,56.1264 77.8116,71.6462 30.6853,15.6615 62.6462,23.5277 96.3787,23.5277 58.6068,0 108.639,-21.6852 149.954,-64.843 41.1736,-43.1578 61.8666,-98.859 61.8666,-167.316 0,-45.0004 -9.70874,-86.67 -28.9845,-125.363 -19.5592,-38.6932 -46.0634,-68.1738 -80.0085,-88.6542 -33.8743,-20.5513 -72.3549,-30.827 -115.371,-30.827 -73.1344,0 -133.017,27.0002 -179.293,80.788 -46.2051,53.8587 -69.3785,142.655 -69.3785,266.388 0,138.332 25.6537,238.963 76.8195,301.821 44.7169,54.6382 104.883,81.9928 180.71,81.9928 56.339,0 102.686,-15.8741 138.686,-47.339 36.0003,-31.5357 57.6146,-74.977 64.7722,-130.678zm-360.003 -308.979c0,-30.3309 6.51974,-59.3863 19.3466,-87.0243 12.8269,-27.638 30.827,-48.6854 53.717,-63.1422 22.9608,-14.5277 47.2681,-21.8269 73.1344,-21.8269 37.4885,0 69.5202,14.9529 96.0244,45.0004 26.5041,29.9766 39.8271,70.6541 39.8271,122.174 0,49.465 -13.1812,88.4416 -39.331,117.001 -26.2207,28.4884 -59.528,42.8035 -99.9929,42.8035 -39.6854,0 -73.5596,-14.3151 -101.198,-42.8035 -27.638,-28.5593 -41.5279,-65.8352 -41.5279,-112.182z" />
  </font>
            <style type="text/css">
    /*font-face { font-family:"Arial";font-variant:normal;font-style:italic;font-weight:normal;src:url("#FontID1") format(svg)}*/
    /*font-face { font-family:"Arial";font-variant:normal;font-style:normal;font-weight:normal;src:url("#FontID0") format(svg)}*/
    .str0 {stroke:#CDCDCD;stroke-width:20}
    .str2 {stroke:#F8F8F8;stroke-width:20}
    .str1 {stroke:#CDCDCD;stroke-width:7.62}
    .fil2 {fill:#FEFEFE}
    .fil0 {fill:#FEFEFE}
    .fil22 {fill:#2B2A29}
    .fil19 {fill:#FFED00}
    .fil4 {fill:#FFED00}
    .fil17 {fill:#FAD7D8}
    .fil16 {fill:#F7B57D}
    .fil20 {fill:#F5B2B6}
    .fil8 {fill:#F5B2B6}
    .fil7 {fill:#EF7F1A}
    .fil12 {fill:#EE7B7B}
    .fil5 {fill:#E5097F}
    .fil3 {fill:#E31E24}
    .fil13 {fill:#FCF17C}
    .fil14 {fill:#E866A1}
    .fil6 {fill:#AE4A84}
    .fil15 {fill:#B85EA0}
    .fil23 {fill:#5E5971}
    .fil11 {fill:#9FD0A9}
    .fil18 {fill:#85D0F5}
    .fil24 {fill:#849FD2}
    .fil1 {fill:#009846}
    .fil21 {fill:#008DD2}
    .fil9 {fill:#008DD2}
    .fil10 {fill:#F8F8F8}
    .fnt2 {font-weight:normal;font-size:105.83px;font-family:'Arial'}
    .fnt0 {font-weight:normal;font-size:141.11px;font-family:'Arial'}
    .fnt1 {font-style:italic;font-weight:normal;font-size:141.11px;font-family:'Arial'}
  </style>
 </defs>
            <g id="externalRadius">
            <metadata id="CorelCorpID_0Corel-Layer" />
            <circle class="fil0 str0" cx="3611" cy="3611" r="3366" />
 </g>
            <g id="sector1">
            <metadata id="CorelCorpID_1Corel-Layer" />
            <path class="fil1" d="M3612 2206c364,-6 731,140 1004,394l1263 -1253c-602,-602 -1417,-942 -2266,-944l-1 1803z" />
            <text x="3996" y="1278" class="fil2 fnt0">6.2 тут будет текст</text>
            <text x="4217" y="1524" class="fil2 fnt1">РўРµРєСЃС‚ СЌРјРѕС†РёРё</text>
 </g>
            <g id="sector2">
            <metadata id="CorelCorpID_2Corel-Layer" />
            <path class="fil3" d="M4616 2600c261,252 422,648 436,1020l1761 0c0,-852 -336,-1671 -935,-2273l-1262 1253z" />
 </g>
            <g id="sector3">
            <metadata id="CorelCorpID_3Corel-Layer" />
            <path class="fil4" d="M5052 3620c6,363 -178,750 -431,1023l1246 1245c602,-602 943,-1419 946,-2268l-1761 0z" />
 </g>
            <g id="sector4">
            <metadata id="CorelCorpID_4Corel-Layer" />
            <path class="fil5" d="M4624 4640c-253,261 -640,404 -1011,418l-1 1761c851,0 1655,-335 2257,-934l-1245 -1245z" />
 </g>
            <g id="sector5">
            <metadata id="CorelCorpID_5Corel-Layer" />
            <path class="fil6" d="M2586 4643c253,261 654,398 1026,411l0 1762c-851,0 -1654,-333 -2256,-931l1230 -1242z" />
 </g>
            <g id="sector6">
            <metadata id="CorelCorpID_6Corel-Layer" />
            <path class="fil7" d="M2165 3620c-7,363 166,753 419,1025l-1228 1240c-602,-602 -949,-1416 -951,-2265l1760 0z" />
 </g>
            <g id="sector7">
            <metadata id="CorelCorpID_7Corel-Layer" />
            <path class="fil8" d="M2593 2610c-261,253 -415,638 -428,1010l-1771 0c0,-852 337,-1671 935,-2273l1264 1263z" />
 </g>
            <g id="sector8">
            <metadata id="CorelCorpID_8Corel-Layer" />
            <path class="fil9" d="M3612 2206c-363,-6 -748,140 -1020,394l-1250 -1251c598,-603 1419,-951 2271,-946l-1 1803z" />
 </g>
            <g id="innerRing">
            <metadata id="CorelCorpID_9Corel-Layer" />
            <path class="fil10 str1" d="M3611 5067c-795,0 -1439,-644 -1439,-1439 0,-795 644,-1439 1439,-1439 795,0 1439,644 1439,1439 0,795 -644,1439 -1439,1439zm0 -93c-743,0 -1346,-603 -1346,-1346 0,-744 603,-1346 1346,-1346 744,0 1346,602 1346,1346 0,743 -602,1346 -1346,1346z" />
 </g>
            <g id="externalSector1">
            <metadata id="CorelCorpID_10Corel-Layer" />
            <path class="fil11" d="M4965 704c307,143 592,338 853,585l-1253 1260 59 51c434,-432 868,-863 1301,-1296 -311,-303 -637,-529 -977,-677 -83,136 -280,55 -262,-105 -364,-123 -735,-185 -1074,-186 -2,617 0,1235 0,1853l85 0 -4 -1783c363,16 672,68 929,161 13,184 204,280 343,137z" />
 </g>
            <g id="externalSector2">
            <metadata id="CorelCorpID_11Corel-Layer" />
            <path class="fil12" d="M5052 3544l1762 -3c-10,-362 -91,-698 -190,-1022 -199,2 -267,-201 -145,-340 -137,-241 -298,-507 -544,-776l-1256 1260 -55 -63c321,-320 1249,-1245 1304,-1298 239,240 457,546 628,890 -126,101 -44,298 111,260 136,345 208,733 214,1168l-1829 0 0 -76z" />
 </g>
            <g id="externalSector3">
            <metadata id="CorelCorpID_12Corel-Layer" />
            <path class="fil13" d="M5052 3620c426,0 1481,0 1829,0 -1,338 -63,709 -186,1073 -160,-18 -241,180 -105,263 -148,339 -374,665 -677,976l-1287 -1285 59 -56 1238 1239c250,-263 446,-549 590,-858 -143,-138 -47,-330 137,-342 92,-256 147,-564 164,-923l-1762 -2 0 -85z" />
 </g>
            <g id="externalSector4">
            <metadata id="CorelCorpID_13Corel-Layer" />
            <path class="fil14" d="M4696 6629c-319,116 -645,179 -1003,189l0 -1749 -80 -2c0,606 -1,1211 -1,1816 434,-5 805,-76 1150,-211 -38,-155 159,-238 260,-112 344,-170 651,-389 891,-628 -179,-175 -978,-976 -1286,-1284l-57 59 1237 1236c-267,244 -525,424 -772,540 -139,-121 -342,-53 -339,146z" />
 </g>
            <g id="externalSector5">
            <metadata id="CorelCorpID_14Corel-Layer" />
            <path class="fil15" d="M3611 5070c0,604 1,1205 1,1809 -434,-5 -807,-72 -1152,-207 38,-155 -159,-238 -260,-112 -345,-170 -651,-389 -891,-628 369,-379 967,-974 1279,-1288l56 59 -1235 1235c286,235 544,415 778,545 139,-121 342,-53 339,146 320,98 642,151 1004,183l-1 -1744 82 2z" />
 </g>
            <g id="externalSector6">
            <metadata id="CorelCorpID_15Corel-Layer" />
            <path class="fil16" d="M2165 3620c-426,0 -1477,0 -1824,0 1,338 63,709 186,1073 160,-18 241,180 105,263 148,339 374,665 677,976l1283 -1283 -59 -56 -1235 1237c-249,-263 -445,-549 -589,-858 143,-138 47,-330 -137,-342 -93,-256 -147,-564 -164,-923l1757 -2 0 -85z" />
 </g>
            <g id="externalSector7">
            <metadata id="CorelCorpID_16Corel-Layer" />
            <path class="fil17" d="M2165 3544l-1757 -3c9,-362 91,-698 190,-1022 199,2 266,-201 145,-340 137,-241 298,-507 543,-776l1257 1260 55 -63c-320,-320 -1250,-1245 -1304,-1298 -239,240 -458,546 -628,890 126,101 44,298 -111,260 -136,345 -209,733 -214,1168l1824 0 0 -76z" />
 </g>
            <g id="externalSector8">
            <metadata id="CorelCorpID_17Corel-Layer" />
            <path class="fil18" d="M2257 704c-308,143 -592,338 -853,585l1253 1260 -59 51c-434,-432 -868,-863 -1301,-1296 311,-303 637,-529 976,-677 83,136 281,55 263,-105 364,-123 735,-185 1073,-186 2,617 0,1235 0,1853l-84 0 3 -1783c-362,16 -671,68 -929,161 -12,184 -204,280 -342,137z" />
 </g>
            <g id="circleEdit1">
            <metadata id="CorelCorpID_18Corel-Layer" />
            <circle class="fil1 str1" cx="4830" cy="553" r="144" />
 </g>
            <g id="circleEdit2">
            <metadata id="CorelCorpID_19Corel-Layer" />
            <circle class="fil3 str1" cx="6634" cy="2316" r="144" />
 </g>
            <g id="circleEdit3">
            <metadata id="CorelCorpID_20Corel-Layer" />
            <circle class="fil19 str1" cx="6651" cy="4830" r="144" />
 </g>
            <g id="circleEdit4">
            <metadata id="CorelCorpID_21Corel-Layer" />
            <circle class="fil5 str1" cx="4898" cy="6642" r="144" />
 </g>
            <g id="circleEdit5">
            <metadata id="CorelCorpID_22Corel-Layer" />
            <ellipse class="fil6 str1" transform="matrix(0.725996 -0.725996 0.707107 0.707107 2324.09 6642.1)" rx="140" ry="144" />
 </g>
            <g id="circleEdit6">
            <metadata id="CorelCorpID_23Corel-Layer" />
            <circle class="fil7 str1" cx="556" cy="4830" r="144" />
 </g>
            <g id="circleEdit7">
            <metadata id="CorelCorpID_24Corel-Layer" />
            <circle class="fil20 str1" cx="597" cy="2316" r="144" />
 </g>
            <g id="circleEdit8">
            <metadata id="CorelCorpID_25Corel-Layer" />
            <ellipse class="fil21 str1" transform="matrix(0.725996 -0.725996 0.707107 0.707107 2391.83 554.57)" rx="140" ry="144" />
 </g>
            <g id="step1">
            <metadata id="CorelCorpID_26Corel-Layer" />
            <circle class="fil10 str1" cx="4095" cy="2426" r="80" />
            <text x="4060" y="2464" class="fil22 fnt2">1</text>
 </g>
            <g id="step2">
            <metadata id="CorelCorpID_27Corel-Layer" />
            <circle class="fil10 str1" cx="4798" cy="3121" r="80" />
            <text x="4777" y="3159" class="fil22 fnt2">2</text>
 </g>
            <g id="step3">
            <metadata id="CorelCorpID_28Corel-Layer" />
            <circle class="fil10 str1" cx="4802" cy="4145" r="80" />
            <text x="4781" y="4183" class="fil22 fnt2">3</text>
 </g>
            <g id="step4">
            <metadata id="CorelCorpID_29Corel-Layer" />
            <circle class="fil10 str1" cx="4094" cy="4813" r="80" />
            <text x="4074" y="4852" class="fil22 fnt2">4</text>
 </g>
            <g id="step5">
            <metadata id="CorelCorpID_30Corel-Layer" />
            <circle class="fil10 str1" cx="3087" cy="4813" r="80" />
            <text x="3058" y="4850" class="fil22 fnt2">5</text>
 </g>
            <g id="step6">
            <metadata id="CorelCorpID_31Corel-Layer" />
            <circle class="fil10 str1" cx="2422" cy="4144" r="80" />
            <text x="2393" y="4182" class="fil22 fnt2">6</text>
 </g>
            <g id="step7">
            <metadata id="CorelCorpID_32Corel-Layer" />
            <circle class="fil10 str1" cx="2426" cy="3123" r="80" />
            <text x="2397" y="3160" class="fil22 fnt2">7</text>
 </g>
            <g id="step8">
            <metadata id="CorelCorpID_33Corel-Layer" />
            <circle class="fil10 str1" cx="3086" cy="2426" r="80" />
            <text x="3057" y="2463" class="fil22 fnt2">8</text>
 </g>
            <g id="centerRing">
            <metadata id="CorelCorpID_34Corel-Layer" />
            <circle class="fil23 str2" cx="3611" cy="3628" r="1185" />
 </g>
            <g id="externalCenterRing">
            <metadata id="CorelCorpID_35Corel-Layer" />
            <path class="fil24" d="M3611 4813c-655,0 -1185,-530 -1185,-1185 0,-655 530,-1185 1185,-1185 655,0 1185,530 1185,1185 0,655 -530,1185 -1185,1185zm0 -84c-608,0 -1101,-493 -1101,-1101 0,-608 493,-1101 1101,-1101 608,0 1101,493 1101,1101 0,608 -493,1101 -1101,1101z" />
 </g>
</svg>
        <div class="clearfix"></div>
    </div> <!-- /.main-health-->


    <hr />
    <div class="container">
        <div class="col-md-12 recomended padding0">

            <h1>Рекомендуем прочитать <a href="~/HealthPanel/DictionaryTerms">Словарь терминов</a></h1>
            <ul class="list-unstyled col-md-5 padding0">
                <li><a href="">Для женщин</a></li>
                <li><a href="">Что такое женская психоматика</a></li>
                <li><a href="">Откуда берется женская психоматика</a></li>
                <li><a href="">Психоматика = мысли + эмоции</a></li>
                <li><a href="">Как негативные эмоции создают болезни</a></li>
            </ul>
            <ul class="list-unstyled col-md-4 padding0">
                <li><a href="">Какие женщины в зоне риска</a></li>
                <li><a href="">Как избавиться от психоматика</a></li>
                <li><a href="">Цвет эффективное решение</a></li>
                <li><a href="">Словарь женской психоматики</a></li>
            </ul>
        </div>

    </div>


</section><!--/.main-content -->

