﻿@using ColorLongLife.DataAccessLayer.Models
@model ColorLongLife.Models.FreeExpressDiagnostics.StepZeroModel

@{
    ViewBag.Title = "StepZero";
    Layout = "~/Views/Shared/_FreeExpressDiagnosticsLayout.cshtml";
}
<section class="main-content">
    <div class="container">

        <div class="col-md-12 padding0 main-vivod">
            <div class="col-md-8 padding0"><h1>Экспресс тестирование</h1></div><div class="dop-tarif col-md-4 padding0"><a href="~/FreeExpressDiagnostics/ArchiveResults">Архив результатов</a></div>
            <div class="clearfix"></div>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> каким цветом вы бы изобразили свое собственное «Я» или свое нынешнее состояние? Пожалуйста, закрасьте этим цветом центральный круг вашей цветограммы.</p>
            </div>
        </div>
        <div class="clearfix"></div>
        @* Color palette *@
        <div class="col-md-4 padding0 colors colorsMenu">
            <h2>Цвета</h2>
            <div class="col-md-12 paddingleft0">
                <div class="col-md-6 paddingleft0 color color1"></div>
                <div class="col-md-6 marginleft2 color color2"></div>
            </div>

            <div class="col-md-12 paddingleft0">
                <div class="col-md-6 paddingleft0 color color3"></div>
                <div class="col-md-6 marginleft2 color color4"></div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="col-md-6 paddingleft0 color color5"></div>
                <div class="col-md-6 marginleft2 color color6"></div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="col-md-6 paddingleft0 color color7"></div>
                <div class="col-md-6 marginleft2 color color8"></div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="col-md-6 paddingleft0 color color9"></div>
                <div class="col-md-6 marginleft2 color color10"></div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="col-md-6 paddingleft0 color color11"></div>
                <div class="col-md-6 marginleft2 color color12"></div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="col-md-6 paddingleft0 color color13"></div>
                <div class="col-md-6 marginleft2 color color14"></div>
            </div>
            <div class="col-md-12 paddingleft0">
                <div class="col-md-6 paddingleft0 color color15"></div>
                <div class="col-md-6 marginleft2 color color16"></div>
            </div>
            <div class="clearfix"></div>
            <div class="ottenki ottenki-menu">
                <h2>Оттенки</h2>
                <div class="col-md-12 paddingleft0">
                    <div class="col-md-4 padding0 ottenok ottenok1" data-opacity="0.9">
                        90%
                    </div>
                    <div class="col-md-4 marginleft2 padding0 ottenok ottenok2" data-opacity="0.8">
                        80%
                    </div>
                    <div class="col-md-4 marginleft2 padding0 ottenok ottenok3" data-opacity="0.7">
                        70%
                    </div>
                </div>
                <div class="col-md-12 paddingleft0">
                    <div class="col-md-4 padding0 ottenok ottenok4" data-opacity="0.6">
                        60%
                    </div>
                    <div class="col-md-4 marginleft2 padding0 ottenok ottenok5" data-opacity="0.5">
                        50%
                    </div>
                    <div class="col-md-4 marginleft2 padding0 ottenok ottenok6" data-opacity="0.4">
                        40%
                    </div>
                </div>
                <div class="col-md-12 paddingleft0">
                    <div class="col-md-4 padding0 ottenok ottenok7" data-opacity="0.3">
                        30%
                    </div>
                    <div class="col-md-4 marginleft2 padding0 ottenok ottenok8" data-opacity="0.2">
                        20%
                    </div>
                    <div class="col-md-4 marginleft2 padding0 ottenok ottenok9" data-opacity="0.1">
                        10%
                    </div>
                </div>
            </div>
            <p class="text-left"><a href="" class="readmore">Дополнительный цвет</a></p>
            <hr>
            <p class="text-left"><a href="~/FreeExpressDiagnostics/InformationAboutTest" class="readmore">Подробнее о тестировании</a></p>
        </div>

        @* Categories *@
        <div class="col-md-4 padding0 kategories">
            <h2>Категории</h2>
            @for (int i = 0; i < Model.Categories.Count(); i++)
            {
                <div class="col-md-12 paddingleft0">
                    <div class="kategory-block">
                        <div class="kat-number pull-left"><span>@(i + 1)</span></div>
                        <div class="kat-name pull-right">
                            <a href="#" class="category" data-index="@i" data-category-id="@Model.Categories.ElementAt(i).IdCategory">@Model.Categories.ElementAt(i).Name</a>
                            <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="@Model.Categories.ElementAt(i).Description"> </a>
                        </div>
                    </div>
                </div>
            }
            <p class="text-center"><a href="~/FreeExpressDiagnostics/InformationAboutTest" class="readmore">Подробнее о тестировании</a></p>
        </div>

        @* Pie chart *@
        <div class="col-md-8 padding0 cvetodiagramma">

        <svg class="pieChart4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" width="816px" height="816px" version="1.1" style="shape-rendering: geometricPrecision; text-rendering: geometricPrecision; image-rendering: optimizeQuality; fill-rule: evenodd; clip-rule: evenodd" viewBox="-8 0 816 816">
            <g class="externalRadius">
                <circle class="fil0 str0" cx="401" cy="401" r="398"/>
            </g>
            <g class="sectors sector1">
                <path class="fil1" d="M571 400l215 0c2,-197 -148,-384 -385,-387l0 218c94,-2 167,76 170,169z" style="fill: rgb(244, 244, 244);"></path>
                <text class="textCategories textCategory1 fnt0" x="530" y="200"></text>
                <text class="textSubcategories textSubcategory1 fnt0" x="530" y="220"></text>
                <text class="textEmotions textEmotion1 fnt1" x="530" y="240"></text>
                <text class="textAddCategorySector1 fnt0" x="530" y="220">Добавьте категорию</text>
                <text class="textAddCategorySector1 fnt0" x="530" y="240">← Левая панель</text>
            </g>
            <g class="sectors sector2">
                <path class="fil4" d="M521 521c-31,31 -76,51 -120,49l0 215c207,3 387,-172 385,-385l-215 0c1,43 -17,91 -50,121z" style="fill: rgb(244, 244, 244);"></path>
                <text class="textCategories textCategory2 fnt0" x="530" y="550"></text>
                <text class="textSubcategories textSubcategory2 fnt0" x="530" y="570"></text>
                <text class="textEmotions textEmotion1 fnt1" x="530" y="590"></text>
                <text class="textAddCategorySector2 fnt0" x="530" y="590">Добавьте категорию</text>
                <text class="textAddCategorySector2 fnt0" x="530" y="610">← Левая панель</text>
            </g>
            <g class="sectors sector3">
                <path class="fil5" d="M230 401c-1,43 20,88 50,120l0 0c30,31 76,51 121,48l0 216c-213,4 -392,-180 -386,-384l215 0z" style="fill: rgb(244, 244, 244);"></path>
                <text class="textCategories textCategory3 fnt0" x="130" y="550"></text>
                <text class="textSubcategories textSubcategory3 fnt0" x="130" y="570"></text>
                <text class="textEmotions textEmotion3 fnt1" x="130" y="590"></text>
                <text class="textAddCategorySector3 fnt0" x="130" y="590">Добавьте категорию</text>
                <text class="textAddCategorySector3 fnt0" x="130" y="610">← Левая панель</text>
            </g>
            <g class="sectors sector4">
                <path class="fil6" d="M230 401c7,-61 15,-79 51,-121 31,-31 73,-49 119,-49l1 -218c-222,3 -389,177 -386,388l215 0z" style="fill: rgb(244, 244, 244);"></path>
                <text class="textCategories textCategory4 fnt0" x="130" y="200"></text>
                <text class="textSubcategories textSubcategory4 fnt0" x="130" y="220"></text>
                <text class="textEmotions textEmotion4 fnt1" x="130" y="240"></text>
                <text class="textAddCategorySector4 fnt0" x="130" y="220">Добавьте категорию</text>
                <text class="textAddCategorySector4 fnt0" x="130" y="240">← Левая панель</text>
            </g>
            <g class="grayRing">
                <path class="fil11 str2" d="M401 571c-94,0 -170,-76 -170,-170 0,-94 76,-170 170,-170 94,0 170,76 170,170 0,94 -76,170 -170,170zm0 -11c-88,0 -159,-71 -159,-159 0,-88 71,-159 159,-159 88,0 159,71 159,159 0,88 -71,159 -159,159z"/>
            </g>
            <g class="externalSectors externalSector1">
                <path class="color0" d="M411 21c-1,142 0,210 0,210 0,0 -5,0 -10,0 0,-147 0,-219 0,-219 112,3 204,42 277,116 -8,9 -8,16 -1,24 8,7 15,8 23,2 52,59 87,150 89,246 -142,0 -141,0 -218,0 0,-2 0,-8 0,-10 19,0 200,0 206,0 4,-77 -41,-178 -79,-225 -24,10 -43,-14 -33,-35 -53,-59 -151,-106 -254,-109z"/>
            </g>
            <g class="externalSectors externalSector2">
                <path class="color0" d="M411 776c0,-142 0,-205 0,-205 0,0 -5,0 -10,0 0,147 0,215 0,215 112,-3 203,-41 276,-116 -12,-18 7,-34 23,-24 58,-70 87,-150 89,-246 -146,1 -218,-1 -218,-1 0,2 0,8 0,10 19,0 200,0 206,0 -1,86 -36,169 -80,225 -24,-10 -43,12 -32,34 -55,58 -148,100 -254,108z"/>
            </g>
            <g class="externalSectors externalSector3">
                <path class="color0" d="M392 776c0,-142 -1,-205 -1,-205 0,0 5,0 10,0 0,147 0,215 0,215 -112,-2 -203,-41 -276,-116 15,-14 -6,-36 -22,-24 -58,-70 -87,-149 -88,-245 68,0 216,1 216,1 0,2 -1,8 -1,10 -92,0 -125,-1 -206,-1 1,99 38,165 81,222 23,-10 46,16 33,35 33,39 132,99 254,108z"/>
            </g>
            <g class="externalSectors externalSector4">
                <path class="color0" d="M391 21c0,142 0,210 0,210 1,0 5,0 10,0 0,-147 0,-219 0,-219 -112,3 -204,42 -277,117 15,16 -7,36 -22,25 -58,70 -86,151 -87,247 62,0 206,1 215,1 0,-2 0,-8 0,-10 -19,0 -199,-1 -205,-1 -2,-92 31,-158 77,-225 24,9 44,-15 34,-36 69,-67 153,-106 255,-109z"/>
            </g>
            <g class="step1">
                <circle class="str2" cx="516" cy="294" r="9"/>
                <text x="512" y="299" class="fil23 fnt2">1</text>
            </g>
            <g class="step2">
                <circle class="str2" cx="516" cy="515" r="9"/>
                <text x="512" y="520" class="fil23 fnt2">2</text>
            </g>
            <g class="step3">
                <circle class="str2" cx="286" cy="515" r="9"/>
                <text x="282" y="520" class="fil23 fnt2">3</text>
            </g>
            <g class="step4">
                <circle class="str2" cx="286" cy="294" r="9"/>
                <text x="282" y="299" class="fil23 fnt2">4</text>
            </g>
            <g class="centerRing">
                <circle cx="401" cy="401" r="136"/>
                <text class="textCenterCircle fnt0" x="310" y="401">Мое сегодняшнее «Я»</text>
                <text class="textAddColor fnt0" x="350" y="420">Добавьте цвет</text>
                <text class="textAddColor fnt0" x="348" y="440">&larr; Левая панель</text>
            </g>
            <g class="externalCenterRing">
                <path class="fil11" d="M401 543c-78,0 -140,-63 -140,-140 0,-77 62,-140 140,-140 77,0 139,63 139,140 0,77 -62,140 -139,140zm0 -10c-72,0 -131,-58 -131,-130 0,-72 59,-130 131,-130 71,0 130,58 130,130 0,72 -59,130 -130,130z"/>
            </g>
            <g class="circleEdit1">
                <circle class="str2" cx="689" cy="142" r="17" fill="white"/>
                <circle cx="689" cy="142" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"/>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="681" y="134">
                    <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                        <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                    </g>
                    <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                        <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                    </g>
                </svg>
            </g>
            <g class="circleEdit2">
                <circle class="str2" cx="688" cy="659" r="17" fill="white"/>
                <circle cx="688" cy="659" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"/>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="680" y="651">
                    <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                        <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                    </g>
                    <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                        <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                    </g>
                </svg>
            </g>
            <g class="circleEdit3">
                <circle class="str2" cx="114" cy="659" r="17" fill="white"/>
                <circle cx="114" cy="659" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"/>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="106" y="651">
                    <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                        <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                    </g>
                    <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                        <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                    </g>
                </svg>
            </g>
            <g class="circleEdit4">
                <circle class="str2" cx="114" cy="143" r="17" fill="white"/>
                <circle cx="114" cy="143" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"/>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="106" y="134">
                    <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                        <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                    </g>
                    <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                        <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                    </g>
                </svg>
            </g>
            <g class="line1">
                <line class="fil0 str0" x1="401" y1="231" x2="401" y2="12"></line>
            </g>
            <g class="line3">
                <line class="fil0 str0" x1="571" y1="400" x2="787" y2="400"></line>
            </g>
            <g class="line5">
                <line class="fil0 str0" x1="401" y1="785" x2="401" y2="571"></line>
            </g>
            <g class="line7">
                <line class="fil0 str0" x1="231" y1="400" x2="15" y2="400"></line>
            </g>
        </svg>

        <svg class="pieChart6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" width="816px" height="816px" version="1.1" style="shape-rendering: geometricPrecision; text-rendering: geometricPrecision; image-rendering: optimizeQuality; fill-rule: evenodd; clip-rule: evenodd" viewBox="-8 0 816 816">

        <g class="externalRadius">
            <circle class="fil0 str0" cx="401" cy="399" r="398"/>
        </g>

        <g class="sectors sector1">
            <path class="fil2" d="M402 230c64,3 112,32 145,84 62,-36 126,-73 188,-109 -69,-119 -196,-192 -334,-192l1 217z"/>
            <text class="textCategories textCategory1 fnt0" x="460" y="132"></text>
            <text class="textSubcategories textSubcategory1 fnt0" x="460" y="150"></text>
            <text class="textEmotions textEmotion1 fnt1" x="460" y="168"></text>
            <text class="textAddCategorySector1 fnt0" x="460" y="168">Добавьте категорию</text>
            <text class="textAddCategorySector1 fnt0" x="460" y="188">← Левая панель</text>
        </g>
        <g class="sectors sector2">
            <path class="fil4" d="M547 313c30,58 31,117 3,171 62,36 123,71 185,107 68,-119 68,-268 -1,-387l-187 109z"></path>
            <text class="textCategories textCategory2 fnt0" x="596" y="388"></text>
            <text class="textSubcategories textSubcategory2 fnt0" x="596" y="406"></text>
            <text class="textEmotions textEmotion2 fnt1" x="596" y="424"></text>
            <text class="textAddCategorySector2 fnt0" x="596" y="395">Добавьте категорию</text>
            <text class="textAddCategorySector2 fnt0" x="596" y="415">← Левая панель</text>
        </g>
        <g class="sectors sector3">
            <path class="fil5" d="M401 571c65,-3 116,-35 149,-87 62,36 123,71 185,107 -69,119 -196,192 -334,192l0 -212z"/>
            <text class="textCategories textCategory3 fnt0" x="463" y="637"></text>
            <text class="textSubcategories textSubcategory3 fnt0" x="463" y="655"></text>
            <text class="textEmotions textEmotion3 fnt1" x="463" y="673"></text>
            <text class="textAddCategorySector3 fnt0" x="463" y="673">Добавьте категорию</text>
            <text class="textAddCategorySector3 fnt0" x="463" y="693">← Левая панель</text>
        </g>
        <g class="sectors sector4">
            <path class="fil6" d="M401 571c-64,-3 -115,-35 -149,-87 -62,36 -122,71 -185,107 69,119 197,192 334,192l0 -212z"/>
            <text class="textCategories textCategory4 fnt0" x="175" y="637"></text>
            <text class="textSubcategories textSubcategory4 fnt0" x="175" y="655"></text>
            <text class="textEmotions textEmotion4 fnt1" x="175" y="673"></text>
            <text class="textAddCategorySector4 fnt0" x="175" y="673">Добавьте категорию</text>
            <text class="textAddCategorySector4 fnt0" x="175" y="693">← Левая панель</text>
        </g>
        <g class="sectors sector5">
            <path class="fil7" d="M255 313c-30,58 -31,117 -3,171 -62,36 -122,71 -185,107 -68,-119 -68,-268 1,-387l187 109z"></path>
            <text class="textCategories textCategory5 fnt0" x="42" y="388"></text>
            <text class="textSubcategories textSubcategory5 fnt0" x="42" y="406"></text>
            <text class="textEmotions textEmotion5 fnt1" x="42" y="424"></text>
            <text class="textAddCategorySector5 fnt0" x="42" y="395">Добавьте категорию</text>
            <text class="textAddCategorySector5 fnt0" x="42" y="415">← Левая панель</text>
        </g>
        <g class="sectors sector6">
            <path class="fil8" d="M401 230c-65,3 -113,32 -146,84 -62,-36 -125,-73 -188,-109 69,-119 197,-192 334,-192l0 217z"/>
            <text class="textCategories textCategory6 fnt0" x="177" y="132"></text>
            <text class="textSubcategories textSubcategory6 fnt0" x="177" y="150"></text>
            <text class="textEmotions textEmotion6 fnt1" x="177" y="168"></text>
            <text class="textAddCategorySector6 fnt0" x="177" y="168">Добавьте категорию</text>
            <text class="textAddCategorySector6 fnt0" x="177" y="188">← Левая панель</text>
        </g>
        <!--<g id="innerRing">
            <path class="fil9 str2" d="M401 571c-94,0 -170,-76 -170,-170 0,-94 76,-170 170,-170 94,0 170,76 170,170 0,94 -76,170 -170,170zm0 -11c-88,0 -159,-71 -159,-159 0,-88 71,-159 159,-159 88,0 159,71 159,159 0,88 -71,159 -159,159z"/>
        </g>-->
        <g class="grayRing">
            <path class="fil11 str2" d="M401 571c-94,0 -170,-76 -170,-170 0,-94 76,-170 170,-170 94,0 170,76 170,170 0,94 -76,170 -170,170zm0 -11c-88,0 -159,-71 -159,-159 0,-88 71,-159 159,-159 88,0 159,71 159,159 0,88 -71,159 -159,159z"/>
        </g>
        <g class="externalSectors externalSector1">
            <path class="color0" d="M567 65c3,22 17,30 40,23 40,23 82,62 113,112 0,0 -61,36 -179,105 3,5 4,5 6,8 0,0 63,-36 187,-109 -35,-58 -78,-102 -128,-132 -18,11 -28,5 -29,-16 -52,-28 -110,-42 -176,-43 0,0 0,73 0,218 13,0 10,0 10,0 0,-134 0,-207 0,-207 53,1 112,15 156,41z"/>
        </g>
        <g class="externalSectors externalSector2">
            <path class="color0" d="M553 322c-3,-5 -6,-9 -6,-9 125,-73 187,-109 187,-109 31,52 48,111 52,177 -17,14 -16,25 0,33 -3,66 -20,125 -51,177 -123,-72 -184,-108 -184,-108 2,-6 3,-9 4,-9 115,67 175,102 176,102 23,-43 37,-96 44,-156 -15,-13 -16,-30 -2,-43 -1,-58 -15,-108 -43,-158 -118,70 -177,103 -177,103z"></path>
        </g>
        <g class="externalSectors externalSector3">
            <path class="color0" d="M565 733c7,-17 17,-24 39,-20 39,-23 86,-69 116,-119 0,0 -57,-33 -175,-102 3,-5 3,-5 6,-9 0,0 97,58 184,108 -36,58 -82,106 -132,136 -15,-5 -24,0 -26,15 -53,27 -110,40 -176,41 0,0 0,-67 0,-212 13,0 10,0 10,0 0,134 0,202 0,202 53,-1 109,-18 154,-40z"/>
        </g>
        <g class="externalSectors externalSector4">
            <path class="color0" d="M237 733c-4,-17 -18,-24 -39,-21 -52,-35 -95,-82 -116,-116 0,0 58,-35 175,-103 -2,-4 -4,-7 -6,-9 0,0 -99,58 -185,108 35,58 83,105 132,135 16,-5 25,0 27,15 52,28 111,41 176,41 0,0 0,-67 0,-212 -13,0 -10,0 -10,0 0,134 0,202 0,202 -53,-1 -110,-14 -154,-40z"></path>
        </g>
        <g class="externalSectors externalSector5">
            <path class="color0" d="M250 323c3,-6 5,-10 5,-10 -125,-73 -187,-109 -187,-109 -31,52 -50,110 -53,177 16,13 16,24 -1,33 4,66 22,126 52,178 123,-72 186,-108 186,-108 -2,-4 -5,-8 -5,-9 -115,68 -176,100 -178,101 -31,-52 -41,-99 -44,-156 15,-14 16,-31 2,-43 0,-57 16,-108 43,-158 119,69 180,104 180,104z"></path>
        </g>
        <g class="externalSectors externalSector6">
            <path class="color0" d="M235 65c-4,22 -17,30 -40,23 -40,27 -80,67 -113,114 0,0 111,62 179,102 -3,4 -5,6 -7,9 0,0 -62,-36 -186,-109 35,-57 78,-101 127,-132 19,11 29,5 29,-16 53,-27 111,-42 177,-42 0,0 0,72 0,217 -13,0 -10,0 -10,0 0,-134 0,-207 0,-207 -53,1 -111,19 -156,41z"/>
        </g>
        <g class="circleEdit1">
            <circle class="str2" cx="594" cy="61" r="17" fill="white"></circle>
            <circle cx="594" cy="61" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="586" y="52">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                    <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        <g class="circleEdit2">
            <circle class="str2" cx="790" cy="397" r="17" fill="white"></circle>
            <circle cx="790" cy="397" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="783" y="388">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                    <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        <g class="circleEdit3">
            <circle class="str2" cx="594" cy="741" r="17" fill="white"></circle>
            <circle cx="594" cy="741" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="586" y="732">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                    <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        <g class="circleEdit4">
            <circle class="str2" cx="208" cy="741" r="17" fill="white"></circle>
            <circle cx="208" cy="741" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="200" y="732">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                    <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        <g class="circleEdit5">
            <circle class="str2" cx="12" cy="397" r="17" fill="white"></circle>
            <circle cx="12" cy="397" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="4" y="388">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                    <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        <g class="circleEdit6">
            <circle class="str2" cx="208" cy="61" r="17" fill="white"></circle>
            <circle cx="208" cy="61" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="200" y="52">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                    <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        <g class="step1">
            <circle class="str2" cx="479" cy="262" r="9"/>
            <text x="475" y="266" class="fil23 fnt2">1</text>
        </g>
        <g class="step2">
            <circle class="str2" cx="559" cy="401" r="9"/>
            <text x="557" y="405" class="fil23 fnt2">2</text>
        </g>
        <g class="step3">
            <circle class="str2" cx="480" cy="539" r="9"/>
            <text x="477" y="544" class="fil23 fnt2">3</text>
        </g>
        <g class="step4">
            <circle class="str2" cx="322" cy="540" r="9"/>
            <text x="320" y="544" class="fil23 fnt2">4</text>
        </g>
        <g class="step5">
            <circle class="str2" cx="242" cy="401" r="9"/>
            <text x="239" y="405" class="fil23 fnt2">5</text>
        </g>
        <g class="step6">
            <circle class="str2" cx="324" cy="262" r="9"/>
            <text x="321" y="266" class="fil23 fnt2">6</text>
        </g>
        <g class="centerRing">
            <circle cx="401" cy="401" r="136"/>
            <!--<path class="fil16 str3" d="M401 546c-80,0 -145,-65 -145,-145 0,-80 65,-145 145,-145 80,0 145,65 145,145 0,80 -65,145 -145,145z"/>-->
            <text class="textCenterCircle fnt0" x="310" y="401">Мое сегодняшнее «Я»</text>
            <text class="textAddColor fnt0" x="350" y="420">Добавьте цвет</text>
            <text class="textAddColor fnt0" x="348" y="440">&larr; Левая панель</text>
        </g>
        <g class="externalCenterRing">
            <path class="fil11" d="M401 546c-80,0 -145,-65 -145,-145 0,-80 65,-145 145,-145 80,0 145,65 145,145 0,80 -65,145 -145,145zm0 -10c-74,0 -135,-61 -135,-135 0,-74 61,-135 135,-135 74,0 135,61 135,135 0,74 -61,135 -135,135z"/>
        </g>
        @* There are lines to separate sectors  *@
        <g class="line1">
            <line class="fil0 str0" x1="401" y1="14" x2="401" y2="231"/>
        </g>
        <g class="line2">
            <line class="fil0 str0" x1="547" y1="313" x2="734" y2="204"/>
        </g>
        <g class="line3">
            <line class="fil0 str0" x1="550" y1="484" x2="735" y2="591"/>
        </g>
        <g class="line4">
            <line class="fil0 str0" x1="401" y1="571" x2="401" y2="783"/>
        </g>
        <g class="line5">
            <line class="fil0 str0" x1="252" y1="484" x2="66" y2="592"/>
        </g>
        <g class="line6">
            <line class="fil0 str0" x1="255" y1="314" x2="67" y2="205"/>
        </g>
        </svg>

        <svg class="pieChart8" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="816px" height="816px" version="1.1" style="shape-rendering: geometricPrecision; text-rendering: geometricPrecision; image-rendering: optimizeQuality; fill-rule: evenodd; clip-rule: evenodd"
             viewBox="-8 0 816 816"
             xmlns:xlink="http://www.w3.org/1999/xlink">
        @* The outer gray circle *@
        <g class="externalRadius">
            <circle class="fil0 str0" cx="401" cy="399" r="398"/>
        </g>
        @* Sectors for circle *@
        <g class="sectors sector1">
            <path class="color0" d="M401 231c46,0 89,17 120,49l153 -153c-75,-73 -165,-111 -273,-114l0 218z"/>
            <text class="textCategories textCategory1 fnt0" x="460" y="98"></text>
            <text class="textSubcategories textSubcategory1 fnt0" x="460" y="116"></text>
            <text class="textEmotions textEmotion1 fnt1" x="490" y="137"></text>
            <text class="textAddCategorySector1 fnt0" x="440" y="137">Добавьте категорию</text>
            <text class="textAddCategorySector1 fnt0" x="440" y="157">&larr; Левая панель</text>
        </g>
        <g class="sectors sector2">
            <path class="color0" d="M520 280c31,29 48,78 51,120l215 0c-1,-103 -43,-204 -112,-273l-154 153z"/>
            <text class="textCategories textCategory2 fnt0" x="620" y="250"></text>
            <text class="textSubcategories textSubcategory2 fnt0" x="620" y="270"></text>
            <text class="textEmotions textEmotion2 fnt1" x="620" y="290"></text>
            <text class="textAddCategorySector2 fnt0" x="600" y="290">Добавьте категорию</text>
            <text class="textAddCategorySector2 fnt0" x="600" y="310">&larr; Левая панель</text>
        </g>
        <g class="sectors sector3">
            <path class="color0" d="M571 400c-1,42 -23,86 -51,121l152 152c70,-64 110,-172 114,-273l-215 0z"/>
            <text class="textCategories textCategory3 fnt0" x="620" y="450"></text>
            <text class="textSubcategories textSubcategory3 fnt0" x="620" y="470"></text>
            <text class="textEmotions textEmotion3 fnt1" x="620" y="490"></text>
            <text class="textAddCategorySector3 fnt0" x="600" y="490">Добавьте категорию</text>
            <text class="textAddCategorySector3 fnt0" x="600" y="510">&larr; Левая панель</text>
        </g>
        <g class="sectors sector4">
            <path class="color0" d="M521 521c-31,29 -76,47 -120,49l0 214c96,1 190,-40 271,-111l-151 -152z"/>
            <text class="textCategories textCategory4 fnt0" x="460" y="620"></text>
            <text class="textSubcategories textSubcategory4 fnt0" x="460" y="640"></text>
            <text class="textEmotions textEmotion4 fnt1" x="490" y="660"></text>
            <text class="textAddCategorySector4 fnt0" x="430" y="660">Добавьте категорию</text>
            <text class="textAddCategorySector4 fnt0" x="430" y="680">&larr; Левая панель</text>
        </g>
        <g class="sectors sector5">
            <path class="color0" d="M280 521c30,28 77,47 121,48l0 215c-101,0 -200,-41 -271,-111l150 -152z"/>
            <text class="textCategories textCategory5 fnt0" x="260" y="620"></text>
            <text class="textSubcategories textSubcategory5 fnt0" x="260" y="640"></text>
            <text class="textEmotions textEmotion5 fnt1" x="280" y="660"></text>
            <text class="textAddCategorySector5 fnt0" x="230" y="660">Добавьте категорию</text>
            <text class="textAddCategorySector5 fnt0" x="250" y="680">&larr; Левая панель</text>
        </g>
        <g class="sectors sector6">
            <path class="color0" d="M231 400c3,44 24,88 49,121l-150 152c-71,-71 -111,-171 -114,-273l215 0z"/>
            <text class="textCategories textCategory6 fnt0" x="100" y="450"></text>
            <text class="textSubcategories textSubcategory6 fnt0" x="100" y="470"></text>
            <text class="textEmotions textEmotion6 fnt1" x="120" y="490"></text>
            <text class="textAddCategorySector6 fnt0" x="80" y="490">Добавьте категорию</text>
            <text class="textAddCategorySector6 fnt0" x="80" y="510">&larr; Левая панель</text>
        </g>
        <g class="sectors sector7">
            <path class="color0" d="M281 281c-26,33 -44,77 -50,119l-215 0c-1,-98 43,-203 112,-273l153 154z"/>
            <text class="textCategories textCategory7 fnt0" x="100" y="250"></text>
            <text class="textSubcategories textSubcategory7 fnt0" x="100" y="270"></text>
            <text class="textEmotions textEmotion7 fnt1" x="120" y="290"></text>
            <text class="textAddCategorySector7 fnt0" x="80" y="290">Добавьте категорию</text>
            <text class="textAddCategorySector7 fnt0" x="80" y="310">&larr; Левая панель</text>
        </g>
        <g class="sectors sector8">
            <path class="color0" d="M401 233c-43,-1 -87,20 -119,47l-154 -153c71,-70 169,-112 273,-114l0 220z"/>
            <text class="textCategories textCategory8 fnt0" x="220" y="103"></text>
            <text class="textSubcategories textSubcategory8 fnt0" x="220" y="116"></text>
            <text class="textEmotions textEmotion8 fnt1" x="200" y="137"></text>
            <text class="textAddCategorySector8 fnt0" x="200" y="137">Добавьте категорию</text>
            <text class="textAddCategorySector8 fnt0" x="200" y="157">&larr; Левая панель</text>
        </g>
        <g class="grayRing">
            <path class="fil11 str2" d="M401 571c-94,0 -170,-76 -170,-170 0,-94 76,-170 170,-170 94,0 170,76 170,170 0,94 -76,170 -170,170zm0 -11c-88,0 -159,-71 -159,-159 0,-88 71,-159 159,-159 88,0 159,71 159,159 0,88 -71,159 -159,159z"/>
        </g>
        @* External sectors for circle *@
        <g class="externalSectors externalSector1">
            <path class="color0" d="M561 56c36,17 70,40 101,69l-148 149 7 6c51,-51 102,-102 153,-153 -36,-36 -75,-63 -115,-80 -10,16 -33,6 -31,-13 -43,-14 -87,-22 -127,-22 0,24 0,146 0,219l10 0 0 -211c43,2 79,8 109,19 2,22 25,34 41,17z"/>
        </g>
        <g class="externalSectors externalSector2">
            <path class="color0" d="M571 391l208 0c-1,-43 -10,-83 -22,-121 -24,0 -32,-24 -17,-40 -16,-29 -35,-60 -64,-92l-149 149 -6 -7c38,-38 147,-147 153,-153 28,28 55,64 75,104 -15,12 -5,36 13,31 16,41 25,87 25,138l-216 0 0 -9z"/>
        </g>
        <g class="externalSectors externalSector3">
            <path class="color0" d="M571 400c50,0 175,0 216,0 0,40 -7,84 -22,127 -19,-2 -28,21 -12,31 -18,40 -44,78 -80,115l-152 -152 7 -6 146 146c30,-31 53,-65 70,-101 -17,-17 -6,-39 16,-41 11,-30 17,-66 19,-109l-208 0 0 -10z"/>
        </g>
        <g class="externalSectors externalSector4">
            <path class="color0" d="M529 755c-38,14 -76,22 -118,23l0 -207 -10 0c0,71 0,143 0,214 51,-1 95,-8 136,-25 -5,-18 18,-27 30,-13 41,-20 78,-46 106,-74 -21,-20 -116,-115 -152,-152l-7 7 146 146c-31,29 -62,51 -91,64 -16,-14 -40,-6 -40,17z"/>
        </g>
        <g class="externalSectors externalSector5">
            <path class="color0" d="M401 571c0,72 0,143 0,214 -51,-1 -95,-8 -136,-25 4,-18 -19,-27 -30,-12 -41,-20 -78,-47 -106,-75 44,-45 114,-115 151,-152l7 7 -146 146c34,28 64,49 92,64 16,-14 40,-6 40,17 38,12 76,18 118,22l0 -206 10 0z"/>
        </g>
        <g class="externalSectors externalSector6">
            <path class="color0" d="M230 400c-50,0 -174,0 -215,0 0,40 7,84 22,127 19,-2 28,21 12,31 18,40 44,78 80,115l152 -151 -7 -7 -146 146c-30,-31 -53,-65 -70,-101 17,-17 6,-39 -16,-41 -11,-30 -17,-66 -19,-109l207 0 0 -10z"/>
        </g>
        <g class="externalSectors externalSector7">
            <path class="color0" d="M230 391l-207 0c1,-43 10,-83 22,-121 24,0 32,-24 17,-40 16,-29 35,-60 64,-92l149 149 6 -7c-38,-38 -147,-147 -153,-153 -29,28 -55,64 -75,104 15,12 5,36 -13,31 -16,41 -25,87 -25,138l215 0 0 -9z"/>
        </g>
        <g class="externalSectors externalSector8">
            <path class="color0" d="M241 56c-36,17 -70,40 -101,69l148 149 -7 6c-51,-51 -102,-102 -153,-153 36,-36 75,-63 115,-80 10,16 33,6 31,-13 43,-14 87,-22 127,-22 0,23 0,146 0,219l-10 0 0 -211c-43,2 -79,8 -109,19 -2,22 -25,34 -41,17z"/>
        </g>
        @* Litle circle on the outer gray circle for edit data *@
        <g class="circleEdit1">
            <circle class="str2" cx="545" cy="38" r="17" fill="white"></circle>
            <circle cx="545" cy="38" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="537" y="30">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        <g class="circleEdit2">
            <circle class="str2" cx="758" cy="246" r="17" fill="white"/>
            <circle cx="758" cy="246" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="750" y="238">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        <g class="circleEdit3">
            <circle class="str2" cx="760" cy="543" r="17" fill="white"/>
            <circle cx="760" cy="543" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="753" y="535">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        <g class="circleEdit4">
            <circle class="str2" cx="553" cy="757" r="17" fill="white"/>
            <circle cx="553" cy="757" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="546" y="749">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        <g class="circleEdit5">
            <circle class="str2" cx="250" cy="757" r="17" fill="white" />
            <circle cx="250" cy="757" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="242" y="749">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        <g class="circleEdit6">
            <circle class="str2" cx="41" cy="543" r="17" fill="white" />
            <circle cx="41" cy="543" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="33" y="535">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        <g class="circleEdit7">
            <circle class="str2" cx="45" cy="246" r="17" fill="white" />
            <circle cx="45" cy="246" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="37" y="238">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        <g class="circleEdit8">
            <circle class="str2" cx="257" cy="38" r="17" fill="white" />
            <circle cx="257" cy="38" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="250" y="30">
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none" display="none">
                    <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
                </g>
                <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
                <path d="M2255 2021 c-463 -257 -821 -511 -1093 -776 -87 -84 -238 -250 -258 -283 -1 -2 -51 23 -111 55 -176 96 -349 165 -550 222 -112 32 -233 61 -233 57 0 -2 58 -53 129 -115 256 -222 520 -511 744 -813 61 -82 112 -148 116 -148 3 0 35 55 71 123 293 552 716 1126 1174 1595 76 78 137 144 135 146 -2 2 -58 -26 -124 -63z"></path>
                </g>
            </svg>
        </g>
        @* Litle circle on the gray ring to display steps *@
        <g class="step1">
            <circle class="str2" cx="461" cy="255" r="9"/>
            <text x="457" y="259" class="fil23 fnt2">1</text>
        </g>
        <g class="step2">
            <circle class="str2" cx="547" cy="341" r="9"/>
            <text x="545" y="346" class="fil23 fnt2">2</text>
        </g>
        <g class="step3">
            <circle class="str2" cx="546" cy="462" r="9"/>
            <text x="544" y="467" class="fil23 fnt2">3</text>
        </g>
        <g class="step4">
            <circle class="str2" cx="461" cy="547" r="9"/>
            <text x="458" y="551" class="fil23 fnt2">4</text>
        </g>
        <g class="step5">
            <circle class="str2" cx="341" cy="547" r="9"/>
            <text x="338" y="551" class="fil23 fnt2">5</text>
        </g>
        <g class="step6">
            <circle class="str2" cx="256" cy="463" r="9"/>
            <text x="253" y="467" class="fil23 fnt2">6</text>
        </g>
        <g class="step7">
            <circle class="str2" cx="254" cy="341" r="9"/>
            <text x="251" y="346" class="fil23 fnt2">7</text>
        </g>
        <g class="step8">
            <circle class="str2" cx="341" cy="255" r="9"/>
            <text x="338" y="259" class="fil23 fnt2">8</text>
        </g>
        @* This is circle in center chart *@
        <g class="externalCenterRing">
            <path d="M401 546c-80,0 -145,-65 -145,-145 0,-80 65,-145 145,-145 80,0 145,65 145,145 0,80 -65,145 -145,145zm0 -10c-74,0 -135,-61 -135,-135 0,-74 61,-135 135,-135 74,0 135,61 135,135 0,74 -61,135 -135,135z"/>
        </g>
        <g class="centerRing">
            <circle cx="401" cy="401" r="136"/>
            <text class="textCenterCircle fnt0" x="310" y="401">Мое сегодняшнее «Я»</text>
            <text class="textAddColor fnt0" x="350" y="420">Добавьте цвет</text>
            <text class="textAddColor fnt0" x="348" y="440">&larr; Левая панель</text>
        </g>
        @* There are lines to separate sectors  *@
        <g class="line1">
            <line class="fil0 str0" x1="401" y1="231" x2="401" y2="12"/>
        </g>
        <g class="line2">
            <line class="fil0 str0" x1="521" y1="280" x2="674" y2="127"/>
        </g>
        <g class="line3">
            <line class="fil0 str0" x1="571" y1="400" x2="787" y2="400"/>
        </g>
        <g class="line4">
            <line class="fil0 str0" x1="521" y1="522" x2="673" y2="673"/>
        </g>
        <g class="line5">
            <line class="fil0 str0" x1="401" y1="785" x2="401" y2="571"/>
        </g>
        <g class="line6">
            <line class="fil0 str0" x1="281" y1="522" x2="129" y2="673"/>
        </g>
        <g class="line7">
            <line class="fil0 str0" x1="231" y1="400" x2="15" y2="400"/>
        </g>
        <g class="line8">
            <line class="fil0 str0" x1="281" y1="280" x2="128" y2="127"/>
        </g>
        </svg>

        <svg class="pieChart10" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="816px" height="816px" version="1.1" style="shape-rendering: geometricPrecision; text-rendering: geometricPrecision; image-rendering: optimizeQuality; fill-rule: evenodd; clip-rule: evenodd"
             viewBox="-8 0 816 816"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <text text-anchor="middle" x="50%" y="50%" dy=".35em" class="text">Text</text>
        </svg>

        <svg class="pieChart12" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="816px" height="816px" version="1.1" style="shape-rendering: geometricPrecision; text-rendering: geometricPrecision; image-rendering: optimizeQuality; fill-rule: evenodd; clip-rule: evenodd"
             viewBox="-8 0 816 816"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <text text-anchor="middle" x="50%" y="50%" dy=".35em" class="text">Text</text>
        </svg>

        <svg class="pieChart14" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="816px" height="816px" version="1.1" style="shape-rendering: geometricPrecision; text-rendering: geometricPrecision; image-rendering: optimizeQuality; fill-rule: evenodd; clip-rule: evenodd"
             viewBox="-8 0 816 816"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <text text-anchor="middle" x="50%" y="50%" dy=".35em" class="text">Text</text>
        </svg>

        <svg class="pieChart16" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="816px" height="816px" version="1.1" style="shape-rendering: geometricPrecision; text-rendering: geometricPrecision; image-rendering: optimizeQuality; fill-rule: evenodd; clip-rule: evenodd"
             viewBox="-8 0 816 816"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <text text-anchor="middle" x="50%" y="50%" dy=".35em" class="text">Text</text>
        </svg>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-md-offset-5">
                    <div class="input-group input-group-lg sectors-counter-panel">
                        <div class="input-group-btn">
                            <button class="btn btn-default decrease-button" type="button">-</button>
                        </div>
                        <input type="text" class="form-control sectors-counter text-center" disabled aria-label="...">
                        <div class="input-group-btn">
                            <button class="btn btn-default increase-button" type="button">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        @* Modal windows *@
        <!-- Modal -->
    @*<div class="modal fade" id="subcategoriesModal" tabindex="-1" role="dialog" aria-labelledby="subcategoriesModal" aria-hidden="true">
            <div class="modal-dialog modal-large">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="intro-2">
                            <p><span>@Model.FirstName,</span> здесь будет текст реплики с важной информацией. Вновь взгляните на категории и выберите слово или фразу, которую вы бы поставили на первое место. </p>
                        </div>
                        <div class="steps">
                            <ul class="pager">
                                <li><a href="#" class="active-pag">1 <span>шаг</span></a></li>
                                <li><a href="#" class="arrow-next-step"> </a></li>
                                <li><a href="#">2 <span>шаг</span></a></li>
                                <li><a href="#" class="arrow-next-step"> </a></li>
                                <li><a href="#">3 <span>шаг</span></a></li>
                            </ul>
                            <p class="first-step">Выберите или добавьте проблему наиболее близкую Вам</p>
                        </div>
                        <div class="col-md-12 padding0 problems"></div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="modal fade" id="subcategoriesModal" tabindex="-1" role="dialog" aria-labelledby="subcategoriesModal" aria-hidden="true">
            <div class="modal-dialog modal-large">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="intro-2">
                            <p><span>@Model.FirstName,</span> здесь будет текст реплики с важной информацией. Вновь взгляните на категории и выберите слово или фразу, которую вы бы поставили на первое место. </p>
                        </div>
                        <div class="steps">
                            <ul class="pager">
                                <li><a href="#">1 <span>шаг</span></a></li>
                                <li><a href="#" class="arrow-next-step"> </a></li>
                                <li><a href="#">2 <span>шаг</span></a></li>
                                <li><a href="#" class="arrow-next-step"> </a></li>
                                <li><a href="#">3 <span>шаг</span></a></li>
                            </ul>
                            <p class="first-step">Выберите или добавьте проблему наиболее близкую Вам</p>
                        </div>
                        <div class="col-md-12 padding0 problems"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="emotionsModal" tabindex="-1" role="dialog" aria-labelledby="emotionsModal" aria-hidden="true">
            <div class="modal-dialog modal-large">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel1"></h4>
                        <span></span>
                    </div>
                    <div class="modal-body">
                        <div class="intro-2">
                            <p>
                                <span>@Model.FirstName,</span> здесь будет текст реплики с важной информацией. Вновь взгляните на категории и выберите слово или фразу, которую вы бы поставили на первое место.
                            </p>
                        </div>
                        <div class="steps">
                            <ul class="pager">
                                <li><a href="#">1 <span>шаг</span></a></li>
                                <li><a href="#" class="arrow-next-step"> </a></li>
                                <li class="active"><a href="#">2 <span>шаг</span></a></li>
                                <li><a href="#" class="arrow-next-step"> </a></li>
                                <li><a href="#">3 <span>шаг</span></a></li>
                            </ul>
                            <p class="first-step step-last">!!!!!!!!!!!!!!!!</p>
                            <p class="second-step">Выберите эмоцию, которую у вас вызывает выбранная проблема?</p>
                        </div>
                        <div class="col-md-12 padding0 problems">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-prev pull-left">Назад</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="colorsModal" tabindex="-1" role="dialog" aria-labelledby="colorsModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel2"></h4>
                        <span></span>
                    </div>
                    <div class="modal-body">
                        <div class="intro-2">
                            <p><span>@Model.FirstName,</span> здесь будет текст реплики с важной информацией. Вновь взгляните на категории и выберите слово или фразу, которую вы бы поставили на первое место. </p>
                        </div>
                        <div class="steps">
                            <ul class="pager">
                                <li><a href="#">1 <span>шаг</span></a></li>
                                <li><a href="#" class="arrow-next-step"> </a></li>
                                <li class=""><a href="#">2 <span>шаг</span></a></li>
                                <li><a href="#" class="arrow-next-step"> </a></li>
                                <li class="active"><a href="#">3 <span>шаг</span></a></li>
                            </ul>
                            @*<p class="first-step step-last">Борьба против авторитета</p>*@
                            <p class="second-step step-last">Выберите эмоцию, которую у вас вызывает выбранная проблема?</p>
                            <p class="thrid-step">С каким цветом  вы ассоциируете выбранную проблему?</p>
                        </div>

                        <div class="col-md-8 padding0 colors modalStep3">
                            <h2>Цвета</h2>
                            <div class="col-md-12 padding0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="color color1"><a href="" title=""></a></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="color color2"><a href="" title=""></a></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="color color3"><a href="#"></a></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="color color4"><a href="#"></a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 padding0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="color color5">
                                            <a href="#"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="color color6"><a href="#"></a></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="color color7"><a href="#"></a></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="color color8"><a href="#"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 padding0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="color color9"><a href="#"></a></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="color color10"><a href="#"></a></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="color color11"><a href="#"></a></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="color color12"><a href="#"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 padding0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="color color13"><a href="#"></a></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="color color14"><a href="#"></a></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="color color15"><a href="#"></a></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="color color16">
                                            <a href="#" title=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="ottenki ottenki-step">
                                <h2>Оттенки</h2>
                                <div class="col-md-12 paddingleft5">
                                    <div class="row">
                                        <div class="col-md-1 marginright10">
                                            <div class="ottenok ottenok1" data-opacity="0.9">90%</div>
                                        </div>
                                        <div class="col-md-1 marginright10">
                                            <div class="ottenok ottenok2" data-opacity="0.8">80%</div>
                                        </div>
                                        <div class="col-md-1 marginright10">
                                            <div class="ottenok ottenok3" data-opacity="0.7">70%</div>
                                        </div>
                                        <div class="col-md-1 marginright10">
                                            <div class="ottenok ottenok4" data-opacity="0.6">60%</div>
                                        </div>
                                        <div class="col-md-1 marginright10">
                                            <div class="ottenok ottenok5" data-opacity="0.5">50%</div>
                                        </div>
                                        <div class="col-md-1 marginright10">
                                            <div class="ottenok ottenok6" data-opacity="0.4">40%</div>
                                        </div>
                                        <div class="col-md-1 marginright10">
                                            <div class="ottenok ottenok7" data-opacity="0.3">30%</div>
                                        </div>
                                        <div class="col-md-1 marginright10">
                                            <div class="ottenok ottenok8" data-opacity="0.2">20%</div>
                                        </div>
                                        <div class="col-md-1 marginright10">
                                            <div class="ottenok ottenok9" data-opacity="0.1">10%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="block-with-add-color">
                                <div class="add-color"> </div>
                                @*<div class="color-name">Золотистый</div>*@
                            </div>
                            <p class="text-center"><a href="" class="readmore">Дополнительный цвет</a></p>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-prev pull-left">Назад</button>
                        <button type="button" class="btn btn-danger btn-next pull-right">Ок</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModal" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="ConfirmationLabel">Подтверждение</h4>
                    </div>
                    <div class="modal-body">
                        <p><span class="name">@Model.FirstName</span>, проверьте верно ли заполнен <span class="sector-index">3</span> сектор?</p>
                        <table class="table-modal"></table>
                        <div class="clearfix"> </div>
                        <div class="col-md-12 padding0">
                            <div class="col-md-6">
                                <a href="" class="btn-buy btnConfirmation">Подтвердить</a>
                            </div>
                            <div class="col-md-6">
                                <a href="" class="readmore">Назад</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="happinessModal" tabindex="-1" role="dialog" aria-labelledby="happinessModal" aria-hidden="true" style="overflow-x: hidden; overflow-y: visible">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="happinessModal">Мое счастье ... </h4>
                        <span>... как запрятанный клад</span>
                    </div>
                    <div class="modal-body">
                        <div class="intro-2">
                            <p><span>@Model.FirstName,</span> здесь будет текст реплики с важной информацией. Вновь взгляните на категории и выберите слово или фразу, которую вы бы поставили на первое место. </p>
                        </div>
                        <div class="row">
                            <div class="col-md-12 happy-blocks padding0">
                                @foreach (var happiness in ViewBag.HappinessList as List<Happiness>)
                                {
                                    <div class="col-md-4">
                                        <div class="body-part text-center">
                                            <div class="head-part">@happiness.Title</div>
                                            <div class="body-part-content text-center">
                                                <img class="" src="@Url.Content(happiness.PathToImage)" />
                                            </div>
                                            <div class="footer-part">
                                                <a href="" class="btn-buy" data-happinessId="@happiness.HappinessId">Выбрать</a>
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger">Ок</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="increaseSectorsModal" tabindex="-1" role="dialog" aria-labelledby="increaseSectorsModal" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="increaseSectorsModal">Сектора заполнены</h4>
                    </div>
                    <div class="modal-body">
                        <p><span class="name">@Model.FirstName,</span> вы заполнили все сектора. Вы можете увеличить их количество или завершить тестирование.</p>
                        <div class="clearfix"> </div>
                        <span class="input-sektor1">
                            <span class="sectorov">секторов</span>
                            <button type="button" class="sector-minus"> - </button>
                            <input type="text" data-link="quantity" autocomplete="off" maxlength="2" class="in_tb numeric num-sec ignore" value="1">
                            <button type="button" class="sector-plus"> + </button>
                            <span class="sectorov-max">max 16</span>
                        </span>
                        <div class="clearfix"> </div>
                        <div class="col-md-12 padding0">
                            <div class="col-md-6">
                                <a href="" class="btn-buy btn-buy1">Ок</a>
                            </div>
                            <div class="col-md-6">
                                <a href="" class="btn-buy btn-buy1">Отмена</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="diagnosticCompleteModal" tabindex="-1" role="dialog" aria-labelledby="diagnosticCompleteModal" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="diagnosticCompleteModal">Сектора заполнены</h4>
                    </div>
                    <div class="modal-body">
                        <p><span class="name">@Model.FirstName,</span> вы заполнили все сектора. Вы можете увеличить их количество или завершить тестирование.</p>
                        <div class="clearfix"> </div>
                        <div class="col-md-12 padding0">
                            <div class="row">
                                <div class="col-md-6 paddingleft0">
                                    <a href="" class="btn-buy btn-buy2">Увеличить</a>
                                </div>
                                <div class="col-md-6 padding0">
                                    <a href="" class="btn-buy btn-buy2">Завершить тест</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Popover -->
        <div class="col-lg-12" style="display: none;">
            <div class="list-group popover-editor">
                <a href="#" class="list-group-item" data-action="1">Изменить категорию</a>
                <a href="#" class="list-group-item" data-action="2">Изменить эмоцию</a>
                <a href="#" class="list-group-item" data-action="3">Изменить цвет</a>
            </div>
        </div>

        <div class="clearfix"></div>

        <hr />
        <div class="container">
            <div class="col-md-12 recomended padding0">

                <h1>
                    Рекомендуем прочитать <a href="~/HealthPanel/DictionaryTerms">Словарь терминов</a>
                </h1>
                <ul class="list-unstyled col-md-5 padding0">
                    <li><a href="">Для женщин</a></li>
                    <li><a href="">Что такое женская психоматика</a></li>
                    <li><a href="">Откуда берется женская психоматика</a></li>
                    <li><a href="">Психоматика = мысли + эмоции</a></li>
                    <li><a href="">Как негативные эмоции создают болезни</a></li>
                </ul>
                <ul class="list-unstyled col-md-4 padding0">
                    <li><a href="">Какие женщины в зоне риска</a></li>
                    <li><a href="">Как избавиться от психоматика</a></li>
                    <li><a href="">Цвет эффективное решение</a></li>
                    <li><a href="">Словарь женской психоматики</a></li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/.main-content -->
@section scripts{
    <script src="~/Content/scripts/PieChart.js"></script>
}