﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/Styles/page-enter.css" rel="stylesheet" />
    <link href="~/Content/Styles/sticky-footer.css" rel="stylesheet">
    <link href="~/Content/Styles/style.css" rel="stylesheet">
    <link href="~/Content/Styles/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/Content/Styles/StyleButton.css" rel="stylesheet" />
        

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="~/Content/scripts/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/Content/scripts/jquery-1.11.0.js"></script>
    <script src="~/Content/scripts/moment-with-locales.min.js"></script>
    <script src="~/Content/scripts/bootstrap.min.js"></script>
    <script src="~/Content/scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/scripts/jquery.validate.js"></script>
    <script src="~/Content/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/scripts/map.js"></script>
    <script src="~/Content/scripts/moment-with-locales.min.js"></script>
    <script>
        jQuery.validator.methods["date"] = function (value, element) {
            return true;
        }
    </script>
    @RenderSection("scripts", false)
</body>
</html>
