﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/Styles/pieChart.css" rel="stylesheet" />
    <link href="~/Content/Styles/sticky-footer.css" rel="stylesheet">
    <link href="~/Content/Styles/style.css" rel="stylesheet">
    <link href="~/Content/Styles/personal.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Begin page content -->
<header>
    <div class="container">
        <div class="page-top">
            <ul class="nav nav-tabs">
                <li class="active"><a href="~/FreeExpressDiagnostics">Бесплатная экспресс диагностика</a></li>
                <li><a href="/">Персональный кабинет психологической помощи</a></li>
                <li><a href="~/healthpanel">Персональный кабинет здоровья</a></li>
            </ul>
        </div>
    </div>
    <div class="page-top-sec-lv">
        <div class="container">
            <div class="navbar navbar-default" role="navigation"></div>
        </div>
    </div><!--/.page-top-sec-lv -->
    <div class="page-top-thr-lv">
        <div class="container">
            <div class="top-3">
                @if (!ViewBag.IsNotAutorized)
                {
                    <div class="col-md-7 padding0 col-xs-12">
                        <div class="col-md-2 padding0 text-center">
                            <a href="/" title=""><img src="~/Content/img/kontakt1.png" alt=""/></a>
                        </div>
                        <div class="col-md-10 personal padding0">
                            <p>@ViewBag.Caption</p>
                            <a href="#" class="profile">@ViewBag.UserName</a><a href="~/healthpanel/editprofile" class="settings"> </a>
                        </div>
                    </div>
                }
                <div class="col-md-5 col-xs-6">
                    <div class="col-md-5 col-md-offset-4 logo">
                        <p class="text-center">Виртуальный сканер здоровья</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/" title=""><img src="~/Content/img/logo.png" alt=""/></a>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-default navbar-second" style="display: none;" role="navigation">

                @if (!ViewBag.IsNotAutorized)
                {
                    <ul class="nav nav-pills col-md-12 text-center">
                        <li><a href="~/HealthPanel/Index" class="item1" target="_parent">С чего начать</a></li>
                        <li><a href="~/Healthpanel/editprofile" class="item3" target="_parent">Редактировать профиль</a></li>
                        <li><a href="" class="item6" target="_parent">Моя семья</a></li>
                    </ul>
                }

            </div><!--/.navbar-second -->
            <div class="top-4 col-md-12 padding0">
                <div class="pagination-arrow">
                    <div class="col-md-4 padding0 text-center">
                        <div class="pag active-pag pag1">
                            <p><span>1</span>Мое сегодняшнее "Я"
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 padding0 text-center">
                        <div class="pag pag2">
                            <p><span>2</span>Определение проблемных секторов
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 padding0 text-center">
                        <div class="pag pag3">
                            <p><span>3</span>Результаты тестирования
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!--/.page-top-thr-lv -->
</header>

    <div>
        @RenderBody()
    </div>
    <div class="bg"></div>
    <div id="footer">
        <div class="container">
            <p class="text-muted">© 2015, Виртуальный сканер здоровья</p>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/scripts/jquery-1.11.0.js"></script>
    <script src="~/Content/scripts/jquery.validate.js"></script>
    <script src="~/Content/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/scripts/bootstrap.js"></script>
    <script src="~/Content/scripts/map.js"></script>
    <script>
        jQuery.validator.methods["date"] = function (value, element) {
            return true;
        }
    </script>
    @RenderSection("scripts", false)
</body>
</html>
