﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/Styles/sticky-footer.css" rel="stylesheet">
    <link href="~/Content/Styles/style.css" rel="stylesheet">
    <link href="~/Content/Styles/StyleButton.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Begin page content -->
    <header>
        <div class="container">
            <div class="page-top">
                <ul class="nav nav-tabs">
                    <li><a href="~/FreeExpressDiagnostics">Бесплатная экспресс диагностика</a></li>
                    <li><a href="/">Персональный кабинет психологической помощи</a></li>
                    <li class="active"><a href="~/healthpanel">Персональный кабинет здоровья</a></li>
                    <li>@{Html.RenderAction("Summary", "ShoppingCart");}</li>
                </ul>
            </div>
        </div>
        <div class="page-top-sec-lv">
            <div class="container">

                <div class="navbar navbar-default" role="navigation">
                    <div class="container padding0">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="~/HealthPanel/SendAFile" class="item1">Отправить расшифровку</a></li>
                                <li><a href="~/DiagnosticResults/HealthPFS" class="item2">Результаты диагностики</a></li>
                                <li><a href="~/DiagnosticResults/RecommendedCorrection" class="item3">Рекомендованная коррекция</a></li>
                                <li><a href="~/DiagnosticResults/MyCorretion" class="item4">Моя коррекция</a></li>
                                <li><a href="~/Shop/Index" class="item5">Магазин</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>

            </div>
        </div><!--/.page-top-sec-lv -->
        <div class="page-top-thr-lv">
            <div class="container">
                
                <div class="top-3">
                    @if (!ViewBag.IsNotAutorized)
                    {
                        <div class="col-md-7 padding0 col-xs-12">
                            <div class="col-md-2 padding0 text-center">
                                <a href="/" title=""><img src="~/Content/img/kontakt1.png" alt="" /></a>
                            </div>
                            <div class="col-md-10 personal padding0">
                                <p>@ViewBag.Caption</p>
                                <a href="#" class="profile">@ViewBag.UserName</a><a href="~/healthpanel/editprofile" class="settings"> </a>
                            </div>
                        </div>
                    }
                    <div class="col-md-5 col-xs-6">
                        <div class="col-md-5 col-md-offset-4 logo">
                            <p class="text-center">Виртуальный сканер здоровья</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="/" title=""><img src="~/Content/img/logo.png" alt="" /></a>
                        </div>
                    </div>
                </div>

                <div class="navbar navbar-default navbar-second" style="display: none;" role="navigation">
                    @if (!ViewBag.IsNotAutorized)
                    {
                        <ul class="nav nav-pills col-md-12 text-center">
                            <li><a href="~/HealthPanel/Index" class="item1" target="_parent">С чего начать</a></li>
                            <li><a href="~/HealthPanel/SendAFile" class="item2" target="_parent">Отправить диагностику</a></li>
                            <li><a href="~/Healthpanel/editprofile" class="item3" target="_parent">Редактировать профиль</a></li>
                            <li><a href="~/HealthPanel/OnlineConsultation" class="item4" target="_parent">Онлайн-консультация</a></li>
                            <li><a href="~/HealthPanel/DownloadProgram" class="item5" target="_parent">Скачать программу</a></li>
                            <li><a href="" class="item6" target="_parent">Моя семья</a></li>
                            <li><a href="~/HealthPanel/CustomerRequest" class="item7" target="_parent">Написать нам</a></li>
                            <li><a href="~/HealthPanel/DictionaryTerms" class="item8" target="_parent">Словарь терминов</a></li>
                        </ul>
                    }
                </div><!--/.navbar-second -->
            
            </div>
        </div><!--/.page-top-thr-lv -->
        <div class="menu-main">
            <div class="container">
                <div class="navbar navbar-default" role="navigation">
                    <div class="col-md-3"></div>
                    <ul class="nav nav-pills col-md-6">
                        <li><a href="~/Shop/Index" class="item1">Диагностика</a></li>
                        <li><a href="" class="item2">Цветокоррекция</a></li>
                        <li><a href="~/Shop/BADs" class="item3">Бады</a></li>
                        <li><a href="~/Shop/BuyBook" class="item4">Моя книга</a></li>
                    </ul>
                    <div class="col-md-3"></div>
                </div><!--/.nav-collapse -->
            </div>
        </div><!--/.menu-main -->
    </header>
    <div>
        @RenderBody()
    </div>
    <div class="bg"></div>
    <div id="footer">
        <div class="container">
            <p class="text-muted">© 2015, Виртуальный сканер здоровья</p>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Content/scripts/bootstrap.min.js"></script>
    <script src="~/Content/scripts/map.js"></script>
    <script src="~/Content/scripts/moment-with-locales.min.js"></script>
    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });

    </script>
</body>
</html>
