﻿@model ColorLongLife.Areas.admin.Models.Happiness.HappinessModel
@{
    ViewBag.Title = "Новое счастье";
    Layout = "~/Areas/admin/Views/Shared/_CRUDLayout.cshtml";
}

@section styles
{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Areas/admin/plugins/fileupload/css/fileinput.min.css")" />
}

@section scripts{
    
    <script type="text/javascript" src="~/Areas/admin/plugins/fileupload/fileinput.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/plugins/fileupload/locale/fileinput_locale_ru.js"></script>
    <script type="text/javascript">
        $('#pathToImage').fileinput({
            showUpload: false,
            showCaption: true,
            allowedFileTypes: ['image'],
            allowedFileExtensions: ['jpg', 'png'],
            maxFileSize: 5120, // max file size is 5Mb
            maxFileCount: 1,
            msgInvalidFileExtension: 'Выбран неверный тип файла "{name}". Только "{extensions}" файлы разрешено загружать.',
            msgInvalidFileType: 'Выбран неверный тип файла "{name}". Только "{types}" файлы разрешено загружать.',
            msgSizeTooLarge: 'Файл "{name}" ({size} KB) превысил допустимый размер файла {maxSize} KB. Пожалуйста, выберите новый файл!'
        });
    </script>
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Добавление нового счастья</h3>
    </div>
    @using (Html.BeginForm("Create", "HappinessAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="box-body">
            <div class="form-group">
                <label for="tbxTitle">Заголовок</label>
                @Html.TextBoxFor(x => x.Title, new { id = "tbxTitle", @class = "form-control", placeholder = "Мое счастье как..." })
            </div>
            <div class="form-group">
                <label for="tbxDescription">Описание</label>
                @Html.TextAreaFor(x => x.Description, new {id = "tbxDescription", @class = "form-control", placeholder = "Краткое описание"})
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Изображение счастья</label>
                <input type="file" class="file" id="pathToImage" name="file">
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-success" type="submit">Сохранить</button>
            <a class="btn btn-link" href="/admin/database/happiness">Назад</a>
        </div>
    }
</div>