﻿@using GridMvc.Html
@model ColorLongLife.Areas.admin.Models.Happiness.IndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_CRUDLayout.cshtml";
}

@section styles{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Gridmvc.css")" />
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/gridmvc.js")"></script>
}

<h2>Мое счастье как...</h2>

<div>
    @Html.Grid(Model.HappinessList).Columns(columns =>
    {
        columns.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(150)
                    .RenderValueAs(x =>
                    @<img alt="@($"{x.Title}")" src="@x.PathToImage" width="75" height="75" class="img-circle" />);
        columns.Add(x => x.Title, "Title").Titled("Мое счастье как...");
        columns.Add(x => x.Description, "Description").Titled("Описание");
        columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(250)
            .RenderValueAs(x =>
            @<div class="btn-group">
                @Html.RouteLink("Редактировать", "happiness_edit", new { happinessId = x.HappinessId }, new { @class = "btn btn-primary btn-flat" })
                @Html.RouteLink("Удалить", "happiness_delete", new { happinessId = x.HappinessId }, new { @class = "btn btn-danger btn-flat" })
            </div>);
    })

    <a class="btn btn-link" href="@Url.RouteUrl("happiness_create")">Создать</a>
</div>