﻿@model ColorLongLife.Models.MyFamily.CommunicabilityModel

@{
    ViewBag.Title = "Communicability";
    Layout = "~/Views/Shared/_MyFamilyPsychologyPersonLayout.cshtml";
}
<section class="main-content">
    <div class="container">

        <div class="col-md-8 padding0 brain">
            <h1>Действие и информация</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет текст на 2-4 строки. На графике вы видите полосу психосоматических процессов из красных, желтых и зеленых прямоугольников.</p>
            </div>
            <div class="col-md-12 padding0 diagrams">
                <img src="~/Content/img/diagram2.png" class="img-responsive" />
            </div>
            <div class="clearfix"></div>
            <p class="info"><img src="~/Content/img/info.png" /> Кликните на любую функцию или ее значение для получения детальной информации.</p>
            <h2>Интерпретация показателей графика</h2>
            <p><strong>Способность работать под управлением других</strong> — хорошие организаторские способности. Руководитель проекта, имеющий хорошие технические навыки управления проектами и сопутствующие навыки управления, и другие важные умения, со временем займет.</p>
            <p><strong>Умение общаться с людьми </strong>— важнейшая способность, обеспечивающая совместную деятельность и позволяющая накапливать, передавать громадный запас знаний.</p>
            <p><strong>Способность обучать</strong> — нет текста.</p>
            <p><strong>Возможность управлять другими</strong> — нет текста.</p>
        </div>
        <div class="col-md-3 col-md-offset-1 demo">
            <p class="dop-info">
                <img class="info" src="~/Content/img/info.png" />Вы видите расшифровку диагностики человека из раздела <a href="">Моя семья</a>.
            </p>
            <p>Профиль: <a href="">Иван</a></p>

            <div class="change-profile"><button type="button" class="" data-toggle="collapse" data-target="#demo">Сменить профиль</button></div>

            <div id="demo" class="collapse">
                <div class="demo-block col-md-10 col-sm-10 col-xs-10 arrow-top">
                    <div class="demo-head">Профили</div>
                    <div class="demo-profile col-md-11 col-md-offset-1">
                        <a href="">Анна Зареченская</a>
                        <a href="" class="no-active">Иван Зареченский</a>
                        <a href="" class="no-active">Полина зареченская <span class="not-rash"><span class="glyphicon glyphicon-remove-sign"></span> Нет расшифровки</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <p class="dop-info-two"><img class="info" src="~/Content/img/info.png" />Кликните на интересующий профиль для смены</p>
                    <p class="text-center"><button type="button" class="btn btn-roll-up" data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-chevron-up"> </span>Свернуть</button></p>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>


    </div>
    <hr />
    <div class="container">
        <div class="col-md-12 recomended padding0">
            <h1>Рекомендуем прочитать <a href="~/HealthPanel/DictionaryTerms">Словарь терминов</a></h1>
            <ul class="list-unstyled col-md-5 padding0">
                <li><a href="">Для женщин</a></li>
                <li><a href="">Что такое женская психоматика</a></li>
                <li><a href="">Откуда берется женская психоматика</a></li>
                <li><a href="">Психоматика = мысли + эмоции</a></li>
                <li><a href="">Как негативные эмоции создают болезни</a></li>
            </ul>
            <ul class="list-unstyled col-md-4 padding0">
                <li><a href="">Какие женщины в зоне риска</a></li>
                <li><a href="">Как избавиться от психоматика</a></li>
                <li><a href="">Цвет эффективное решение</a></li>
                <li><a href="">Словарь женской психоматики</a></li>
            </ul>
        </div>

    </div>
    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="~/MyFamily/ActionAndInformation" class="left-nav yellow pull-right">Действие и информация</a>
                </div>
                <div class="col-md-6">
                    <a href="~/MyFamily/PsychoEmotionalPattern" class="right-nav next-yellow pull-left">Психоэмоциональный фон</a>
                </div>

            </div>
        </div>

    </div>
</section><!--/.main-content -->

