﻿@model ColorLongLife.Models.MyFamily.HealthFUSModel

@{
    ViewBag.Title = "HealthFUS";
    Layout = "~/Views/Shared/_MyFamilyHealthLayout.cshtml";
}
<section class="main-content">
    <div class="container">

        <div class="col-md-8 padding0 main-pfs main-health">
            <h1>Рейтинг функциональных систем (ФУС)</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> ниже представлен рейтинг функциональных систем вашего родственника, по сумме и силе проблем в органах входящих в эти системы организма. Чем выше числовое значение тем больше внимания необходимо уделить этой функциональной системе организма.</p>
            </div>
            <div class="col-md-8 padding0">
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo1">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный клеточный состав крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo1">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный клеточный состав крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo1">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo2">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, обеспечивающая оптимальный объем циркулирующей крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo2">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, обеспечивающая оптимальный объем циркулирующей крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo2">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo3">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный уровень pН</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo3">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный уровень pН</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo3">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div> <!-- /.info-part -->
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo4">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, определяющая оптимальный уровень осмотического давления</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo4">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, определяющая оптимальный уровень осмотического давления</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo4">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div> <!-- /.info-part -->
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo5">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальное количество глюкозы в крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo5">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальное количество глюкозы в крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo5">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div> <!-- /.info-part -->
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo6">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный уровень кровяного давления</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo6">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный уровень кровяного давления</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo6">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div> <!-- /.info-part -->
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo7">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный уровень кровяного давления</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo7">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный уровень кровяного давления</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo7">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div> <!-- /.info-part -->
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo8">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальное количество глюкозы в крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo8">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальное количество глюкозы в крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo8">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div> <!-- /.info-part -->

            </div>
        </div> <!-- /.main-health-->

        <div class="col-md-3 col-md-offset-1 demo">
            <p class="dop-info">
                <img class="info" src="~/Content/img/info.png" />Вы видите расшифровку диагностики человека из раздела <a href="">Моя семья</a>.
            </p>
            <p>Профиль: <a href="">Иван</a></p>

            <div class="change-profile"><button type="button" class="" data-toggle="collapse" data-target="#demo">Сменить профиль</button></div>

            <div id="demo" class="collapse">
                <div class="demo-block col-md-10 col-sm-10 col-xs-10 arrow-top">
                    <div class="demo-head">Профили</div>
                    <div class="demo-profile col-md-11 col-md-offset-1">
                        <a href="">Анна Зареченская</a>
                        <a href="" class="no-active">Иван Зареченский</a>
                        <a href="" class="no-active">Полина зареченская <span class="not-rash"><span class="glyphicon glyphicon-remove-sign"></span> Нет расшифровки</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <p class="dop-info-two"><img class="info" src="~/Content/img/info.png" />Кликните на интересующий профиль для смены</p>
                    <p class="text-center"><button type="button" class="btn btn-roll-up" data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-chevron-up"> </span>Свернуть</button></p>

                </div>
            </div>
        </div>

        <div class="col-md-12 padding0">
            <div class="col-md-10 padding0">
                <div class="col-md-3 paddingright30">
                    <div class="around-table">
                        <table class="table table-hover table-short">
                            <tbody>
                                <tr><th>Деструктивные эмоции и качества личности<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="Деструктивные эмоции и качества личности"> </a></th></tr>
                                <tr><td class=""><p class="pull-left">Высокомерие <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Страх старости <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Готовность спорить <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Уважение к другому <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Стремление к власти <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3 paddingright30">
                    <div class="around-table">
                        <table class="table table-hover table-short table-short16">
                            <tbody>
                                <tr>
                                    <th>
                                        <p class="zagolovok">Общий уровень</p>

                                        Патологическая функциональная система<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="Деструктивные эмоции и качества личности"> </a>
                                    </th>
                                </tr>
                                <tr><td class=""><p class="pull-left">Щитовидная железа <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Перефирическая <br />нервная система<div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Пищевод <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr> <td> </td></tr>
                                <tr> <td> </td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3 paddingright30">
                    <div class="around-table">
                        <table class="table table-hover table-short table-short16">
                            <tbody>
                                <tr><th><p class="zagolovok">Системный уровень</p>Поддержка оптимального режима сна<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="Деструктивные эмоции и качества личности"> </a></th></tr>

                                <tr><td class=""><p class="pull-left">Перефирическая <br />нервная система<div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Нос <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Спинной мозг <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Гипофиз<div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Головной мозг <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3 paddingright30">
                    <div class="around-table">
                        <table class="table table-hover table-short table-short16">
                            <tbody>
                                <tr><th><p class="zagolovok">Уровень органа</p>Высокая вероятность психоматических расстройств<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="Деструктивные эмоции и качества личности"> </a></th></tr>
                                <tr><td class=""><p class="pull-left">Перефирическая <br />нервная система<div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Нос <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="under-table">
                    <p><span class="name">@Model.FirstName,</span> в вашем случае объединение <a href="">Щитовидной железы (72/7)</a> с <a href="">Периферической нервной системы (88/3)</a> и <a href="">Пищеводом (87/2)</a> в Патологическую Функциональную Систему (ПФС)  обусловлено вашими деструктивными эмоциями и качествами личности: <a href="">рефлексия (зацикленностью на себе)</a>, <a href="">Планирование</a>, <a href="">разрушительной сексуальностью</a>, <a href="">низкой степенью уважения к другим</a>, <a href="">готовностью спорить по любому поводу</a>, <a href="">страхом старости</a> и <a href="">высокомерием</a>. Эти качества создают проблемы со здоровьем, ухудшают отношения с окружающими и усложняют вашу жизнь. С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                    <div class="col-md-2 padding0"><a href="" class="readmore">Читать полностью</a></div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>


    </div>
    <hr />
    <div class="container">
        <div class="col-md-12 recomended padding0">
            <h1>Рекомендуем прочитать <a href="">Словарь терминов</a></h1>
            <ul class="list-unstyled col-md-5 padding0">
                <li><a href="">Для женщин</a></li>
                <li><a href="">Что такое женская психоматика</a></li>
                <li><a href="">Откуда берется женская психоматика</a></li>
                <li><a href="">Психоматика = мысли + эмоции</a></li>
                <li><a href="">Как негативные эмоции создают болезни</a></li>
            </ul>
            <ul class="list-unstyled col-md-4 padding0">
                <li><a href="">Какие женщины в зоне риска</a></li>
                <li><a href="">Как избавиться от психоматика</a></li>
                <li><a href="">Цвет эффективное решение</a></li>
                <li><a href="">Словарь женской психоматики</a></li>
            </ul>
        </div>

    </div>
    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="" class="left-nav prev-green pull-right">Организм</a>
                </div>
                <div class="col-md-6">
                    <a href="" class="right-nav green pull-left">Органы</a>
                </div>

            </div>
        </div>

    </div>

</section><!--/.main-content -->
