﻿@model ColorLongLife.Models.MyFamily.IndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="col-md-9 padding0">
            <h1>Моя семья</h1>
            <div class="clearfix"></div>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь вы можете создавать и редактировать отдельные профили для диагностики свои близких.</p>
            </div>

        </div>
        <div class="clearfix"> </div>
        <div class="col-md-10 padding0 myfamily">
            <a href="#" class="btn-buy marginbottom15" data-toggle="modal" data-target="#myModal">Добавить родственника</a>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Новый профиль</h4>
                        </div>
                        <div class="modal-body feedback">
                            <div class="elder18 text-right"><span>18 +</span></div>
                            <form role="form">
                                <div class="form-group col-md-12 padding0">
                                    <label for="InputFIO">Фамилия</label>
                                    <input type="text" class="form-control" id="InputFIO" placeholder="Зареченская">
                                </div>
                                <div class="form-group col-md-12 padding0">
                                    <label for="InputName">Имя</label>
                                    <input type="text" class="form-control" id="InputName" placeholder="Анна">
                                </div>
                                <div class="form-group col-md-12 padding0">
                                    <label for="InputSecondName">Отчество</label>
                                    <input type="text" class="form-control" id="InputSecondName" placeholder="Ивановна">
                                </div>
                                <div class="form-group col-md-12 padding0">
                                    <label for="InputDate">Дата рождения</label>
                                    <input type="text" class="form-control" id="InputDate" placeholder="22.04.1959">
                                    <span><img src="~/Content/img/error.png" />Полное тестирование возможно только для лиц достигших 18 лет</span>
                                </div>
                                <div class="radio1">
                                    <p>Пол</p>

                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    <label><span></span> Мужской</label>


                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    <label><span></span>Женский</label>

                                </div>
                                <div class="form-group col-md-5 padding0">
                                    <label for="weight">Рост (см.)</label>
                                    <input type="text" class="form-control" id="weight" placeholder="176">
                                </div>
                                <div class="form-group col-md-5 col-md-offset-2 padding0">
                                    <label for="height">Вес (кг.)</label>
                                    <input type="text" class="form-control" id="height" placeholder="69">
                                </div>
                                <div class="form-group col-md-12 padding0">
                                    <label for="rod">Степень родства</label>
                                    <select class="form-control">
                                        <option>Дочь</option>
                                        <option>Сын</option>
                                        <option>Мать</option>
                                        <option>Отец</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12 padding0">
                                    <label for="secondNameMother">Фамилия матери</label>
                                    <input type="text" class="form-control" id="secondNameMother" placeholder="Кропоткина">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12 padding0 text-center">
                                    <button type="button" class="btn btn-send">Сохранить и добавить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <h2>Профили</h2>
            <div class="col-md-4 padding0">
                <div class="cusin">
                    <p>Иван Зареченский <span>сын</span></p>
                    <a href="" class="edit"> </a>
                </div>
            </div>
            <div class="col-md-3 padding0 text-center"><a href="" class="btn-buy">Включить профиль</a></div>
            <div class="clearfix"> </div>
            <div class="col-md-4 padding0">
                <div class="cusin">
                    <p>Полина Зареченская <span>дочь</span></p>
                    <a href="" class="edit"> </a>
                </div>
            </div>
            <div class="col-md-3 padding0 text-center">
                <a href="" class="btn-buy off">Включить профиль</a><span class="not-rash"><span class="glyphicon glyphicon-remove-sign"> </span> Нет расшифровки</span>
            </div>
            <div class="col-md-3 padding0">
                <a href="" class="readmore">Как активировать профиль</a>
            </div>
        </div>
    </div>
</section><!--/.main-content -->

