﻿@model ColorLongLife.Models.MyFamily.IntroductionModel

@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_MyFamilyPsychologyPersonLayout.cshtml";
}
<section class="main-content">
    <div class="container">

        <div class="col-md-8 padding0 brain">
            <h1>Введение</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет текст на 2-4 строки. На графике вы видите полосу психосоматических процессов из красных, желтых и зеленых прямоугольников. Каждый прямоугольник — это психосоматический процесс, запущенный вашими деструктивными эмоциями. </p>
            </div>
            <div class="under-table">
                <p>Вероятностный список деструктивных эмоций и чувств – это приобретенные в период формирования конфликта между подсознанием и умом (от рождения до 6 лет) деструктивные  эмоции и бусловленные ими чувства, которые вы испытываете очень часто, фактически – это ваш индивидуальный эмоциональный фон.</p>
                <p>Вероятностный список деструктивных качеств личности – это приобретенные в процессе жизни патологические качества личности (возможно приспособительно-защитные, как необходимые для выживания в определенной социальной среде), наличие в характере которых формирует неадекватное поведение, неадекватную оценку жизненной ситуации, приводит обладателя к стрессовым жизненным ситуациям.</p>
                <p>Важным является то, что деструктивные качества и эмоции-чувства поддерживают и подпитывают друг друга. Например, чем сильнее страх потери контроля над ситуацией, тем сильнее напористость, властность, непреклонность и безжалостность. И наоборот, чем больше власти человек получает, тем сильнее страх потерять контроль над ситуацией. И здесь не важно – это власть в масштабах государства или власть одного человека над другим…</p>
            </div>
            <div class="col-md-4 padding0"><a href="" class="readmore">Читать полностью</a></div>

        </div>
        <div class="col-md-3 col-md-offset-1 demo">
            <p class="dop-info">
                <img class="info" src="~/Content/img/info.png" />Вы видите расшифровку диагностики человека из раздела <a href="">Моя семья</a>.
            </p>
            <p>Профиль: <a href="">Иван</a></p>

            <div class="change-profile"><button type="button" class="" data-toggle="collapse" data-target="#demo">Сменить профиль</button></div>

            <div id="demo" class="collapse">
                <div class="demo-block col-md-10 col-sm-10 col-xs-10 arrow-top">
                    <div class="demo-head">Профили</div>
                    <div class="demo-profile col-md-11 col-md-offset-1">
                        <a href="">Анна Зареченская</a>
                        <a href="" class="no-active">Иван Зареченский</a>
                        <a href="" class="no-active">Полина зареченская <span class="not-rash"><span class="glyphicon glyphicon-remove-sign"></span> Нет расшифровки</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <p class="dop-info-two"><img class="info" src="~/Content/img/info.png" />Кликните на интересующий профиль для смены</p>
                    <p class="text-center"><button type="button" class="btn btn-roll-up" data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-chevron-up"> </span>Свернуть</button></p>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>


    </div>
    <hr />
    <div class="container">
        <div class="col-md-12 recomended padding0">
            <h1>Рекомендуем прочитать <a href="~/HealthPanel/DictionaryTerms">Словарь терминов</a></h1>
            <ul class="list-unstyled col-md-5 padding0">
                <li><a href="">Для женщин</a></li>
                <li><a href="">Что такое женская психоматика</a></li>
                <li><a href="">Откуда берется женская психоматика</a></li>
                <li><a href="">Психоматика = мысли + эмоции</a></li>
                <li><a href="">Как негативные эмоции создают болезни</a></li>
            </ul>
            <ul class="list-unstyled col-md-4 padding0">
                <li><a href="">Какие женщины в зоне риска</a></li>
                <li><a href="">Как избавиться от психоматика</a></li>
                <li><a href="">Цвет эффективное решение</a></li>
                <li><a href="">Словарь женской психоматики</a></li>
            </ul>
        </div>

    </div>
    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="" class="left-nav previous pull-right"></a>
                </div>
                <div class="col-md-6">
                    <a href="~/MyFamily/FUS" class="right-nav next-yellow pull-left">Функции головного мозга</a>
                </div>

            </div>
        </div>

    </div>
</section><!--/.main-content -->

