.page-enter {
    display: none;
}

.page-enter-pull-right {
    float: right !important;
}

.page-top-thr-lv {
    background: url(../img/bg-top-3-page-enter.png) repeat center center;
}

    .page-top-thr-lv .page-enter-top-3 {
        background: none;
        min-height: 70px;
        border-bottom: 0px solid #d2998b;
        border-radius: 10px 10px 0 0;
        padding: 12px 0;
        margin-top: 5px;
        position: relative;
    }

.page-enter-body .feedback {
    margin-top: 0px;
    margin-left: 105px;
}

.marginleft105 {
    margin-left: 105px;
}

body.page-enter-body {
    min-height: 0;
    margin-bottom: 300px;
    background-size: cover;
}

.page-enter-body .btn-send {
    margin-top: 10px;
    margin-right: 15px;
}

.page-enter-body .feedback .form-group {
    margin-bottom: 20px;
}
