.page-top-sec-lv {
    background: #fafafa;
    min-height: 50px;
    border-top: 1px solid #ffafa1;
    margin-top: -1px;
    padding-top: 0px;
}
.top-3 .my-family {
    display: block;
    position: absolute;
    left: 65%;
    top: -5px;
    background: url(../img/my-family.png) center center;
    width: 105px;
    height: 50px;
}
.top-4 .pag1 {
	padding:17px 0px 18px 10px;
    border-top: 1px solid #7cccd9;
	border-bottom: 1px solid #7cccd9;
	border-left: 1px solid #7cccd9;
	border-right: 0px solid #7cccd9;
    margin-top: 15px;
	margin-right:15px;
	font-size:16px;
	color:#0ba5bc;
	border-radius:5px 0 0 5px;
	}
.top-4 .pag1:after {
	content:" ";
	background:url(../img/123.png);
	background-position:center right;
	width: 20px;
    height: 68px;
    top: 11px;
    position: absolute;
    right: -4px;
}
.top-4 .pag1:hover {
	color:#0a0a0a;
	border-top: 1px solid #fc7c65;
	border-bottom: 1px solid #fc7c65;
	border-right: 0px solid #fc7c65;
	border-left: 1px solid #fc7c65;
}
.top-4 .pag1:hover:after {
	content:" ";
	background:url(../img/123-hover.png);
	background-position:center right;
	width: 20px;
    height: 68px;
    top: 11px;
    position: absolute;
    right: -4px;
}
.top-4 .pag2, .top-4 .pag3, .top-4 .pag4, .top-4 .pag5, .top-4 .pag6 {
	padding:17px 5px 19px 25px;
    border-top: 1px solid #7cccd9;
	border-bottom: 1px solid #7cccd9;
	border-right: 0px solid #7cccd9;
    margin-top: 15px;
	margin-right:15px;
	font-size:16px;
	color:#0ba5bc;
}
.top-4 .pag6 {
	padding: 16px 5px 8px 12px !important;
    line-height: 1.1;
}
.top-4 .pag2:after, .top-4 .pag3:after, .top-4 .pag4:after, .top-4 .pag5:after, .top-4 .pag6:after {
	content:" ";
	background:url(../img/123.png);
	background-position:center right;
	width: 20px;
    height: 68px;
    top: 11px;
    position: absolute;
    right: -4px;
}
.top-4 .pag2:hover, .top-4 .pag3:hover, .top-4 .pag4:hover, .top-4 .active-pag, .top-4 .pag5:hover, .top-4 .pag6:hover {
	border-top: 1px solid #fc7c65;
	border-bottom: 1px solid #fc7c65;
	border-right: 0px solid #fc7c65;
	color:#0a0a0a;
}
.top-4 .active-pag.pag1 {
	border-left: 1px solid #fc7c65;}
.top-4 .pag2:hover:after, .top-4 .pag3:hover:after, .top-4 .pag4:hover:after, .top-4 .active-pag:after, .top-4 .pag5:hover:after, .top-4 .pag6:hover:after {
	content:" ";
	background:url(../img/123-hover.png);
	background-position:center right;
	width: 20px;
    height: 68px;
    top: 11px;
    position: absolute;
    right: -4px;
}
.top-4 .pag1 .date {
	border:1px solid #9dcccc;
	border-radius:5px;
	padding:5px;
    margin-left:2%;
	width:40%;
}
.top-4 .pag span {
	display:block;
	width:19px;
	height:19px;
	border:1px solid #d6d6d6;
	border-radius:19px;
	float:left;
	text-align:center;
	font-size:13px;
	margin-right:10px;
	line-height:1.4;
}