﻿.str0 {
    stroke: #5B5B5B;
    stroke-width: 1;
}

.str1 {
    stroke: #CDCDCD;
    stroke-width: 1;
}

.gray {
    fill: #f4f4f4;
}

.color0 {
    fill: none;
}

.color1 {
    fill: #ff0000;
}

.color2 {
    fill: #ff6600;
}

.color3 {
    fill: #ffff00;
}

.color4 {
    fill: #008000;
}

.color5 {
    fill: #00ccff;
}

.color6 {
    fill: #0000ff;
}

.color7 {
    fill: #800080;
}

.color8 {
    fill: #993300;
}

.color9 {
    fill: #ff99cc;
}

.color10 {
    fill: #000080;
}

.color11 {
    fill: #00ffff;
}

.color12 {
    fill: #ffcc00;
}

.color13 {
    fill: #000000;
}

.color14 {
    fill: #00ff00;
}

.color15 {
    fill: #993366;
}

.color16 {
    fill: #8c8c8c;
}


.color1Shade {
    fill: #ee7b7b;
}

.color2Shade {
    fill: #f7b57d;
}

.color3Shade {
    fill: #fcf17c;
}

.color4Shade {
    fill: #9fd0a9;
}

.color5Shade {
    fill: #85d0f5;
}

.color6Shade {
    fill: #008dd2;
}

.color7Shade {
    fill: #b85ea0;
}

.color8Shade {
    fill: #cc6633;
}

.color9Shade {
    fill: #FDBEDE;
}

.color10Shade {
    fill: #6699FF;
}

.color11Shade {
    fill: #CCFFFF;
}

.color12Shade {
    fill: #FFCC66;
}

.color13Shade {
    fill: #333333;
}

.color14Shade {
    fill: #33FF33;
}

.color15Shade {
    fill: #FF99CC;
}

.color16Shade {
    fill: #CCCCCC;
}
    
.fnt0 {
    font-style:italic;
    font-weight:normal;
    font-size:18px;
    font-family: sans-serif;
}

.textAddColor, 
.textAddCategorySector1,
.textAddCategorySector2,
.textAddCategorySector3,
.textAddCategorySector4,
.textAddCategorySector5,
.textAddCategorySector6,
.textAddCategorySector7,  
.textAddCategorySector8 {
    font-size: 14px;
    fill: #cdcdcd;
}

.textCategory1,
.textCategory2,
.textCategory3,
.textCategory4,
.textCategory5,
.textCategory6,
.textCategory7,
.textCategory8 {
    font-size: 18px;
    fill: black;
}

.textSubcategory1,
.textSubcategory2,
.textSubcategory3,
.textSubcategory4,
.textSubcategory5,
.textSubcategory6,
.textSubcategory7,
.textSubcategory8 {
    font-size: 16px;
    fill: black;
}

.str1 {
        stroke: #2B2A29;
        stroke-width: 2;
    }

    .str0 {
        stroke: #CDCDCD;
        stroke-width: 2;
    }

    .str3 {
        stroke: #F8F8F8;
        stroke-width: 2;
    }

    .str2 {
        stroke: #CDCDCD;
        stroke-width: 1;
    }

    .fil0 {
        fill: none;
    }

    .fil3 {
        fill: #FEFEFE;
    }

    .fil23 {
        fill: #2B2A29;
    }

    .fil20 {
        fill: #FFED00;
    }

    .fil5 {
        fill: #FFED00;
    }

    .fil18 {
        fill: #FAD7D8;
    }

    .fil17 {
        fill: #F7B57D;
    }

    .fil21 {
        fill: #F5B2B6;
    }

    .fil9 {
        fill: #F5B2B6;
    }

    .fil8 {
        fill: #EF7F1A;
    }

    .fil13 {
        fill: #EE7B7B;
    }

    .fil6 {
        fill: #E5097F;
    }

    .fil4 {
        fill: #E31E24;
    }

    .fil14 {
        fill: #FCF17C;
    }

    .fil15 {
        fill: #E866A1;
    }

    .fil7 {
        fill: #AE4A84;
    }

    .fil16 {
        fill: #B85EA0;
    }

    .fil24 {
        fill: #5E5971;
    }

    .fil12 {
        fill: #9FD0A9;
    }

    .fil19 {
        fill: #85D0F5;
    }

    .fil25 {
        fill: #849FD2;
    }

    .fil2 {
        fill: #009846;
    }

    .fil22 {
        fill: #008DD2;
    }

    .fil10 {
        fill: #008DD2;
    }

    .fil11 {
        fill: #F8F8F8;
    }

    .fil1 {
        fill: #F0FCFF;
    }

    /*.fnt0 {
        font-weight: normal;
        font-size: 12.4701px;
        font-family: sans-serif;
    }

    .fnt2 {
        font-weight: normal;
        font-size: 12.4701px;
        font-family: sans-serif;
    }

    .fnt1 {
        font-style: italic;
        font-weight: normal;
        font-size: 12.4701px;
        font-family: sans-serif;
    }*/

.popover {
    margin: 0px;
    padding: 0px;
    color: rgb(40,170,191);
    border: none;
    background-color: transparent;
    border-radius: 10px;
}

.popover.top > .arrow {
    bottom: -10px;
}

.popover-content {
    margin: 0px;
    padding: 0px;
    color: rgb(40,170,191);
}

.popover-editor {
    margin: 0px;
    padding: 0px;
    color: rgb(40,170,191);
}

.popover-editor a {
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(40,170,191);
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
}

.popover-editor a:hover {
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #3BB5A4;
    font-size: 14px;
    font-weight: 600;
}

.list-group-item {
    margin: 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.list-group-item:first-child {
    -ms-border-top-right-radius: 10px;
    -ms-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.list-group-item:last-child {
    -ms-border-bottom-right-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}