﻿/*************************Наши кнопки**********************************/
.primer button {
    display: block;
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding: 16px 0;
    background: url(../img/primer.jpg) repeat left center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    width: 100%;
    background-size: cover;
    line-height: 1.2;
    border: none;
}
button.download {
    border: none;
}

.btn-closeRegSuccess {
    color: #fff;
    background: #ff442b;
    border-bottom: 1px solid #99291a;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    text-align: center;
    padding: 7px 25px;
    font-size: 14px;
    font-family: sans-serif;
    transition: all 3s ease;
}
.modal-footerRS {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.number-spinner {
    width:120px;
}