﻿@model ColorLongLife.Models.DiagnosticResults.CommunicabilityModel

@{
    ViewBag.Title = "Communicability";
    Layout = "~/Views/Shared/_PsychologyPersonLayout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/HealthPanel/Index">&larr; Личный кабинет</a></div>
        <div class="col-md-8 padding0 brain">
            <h1>Коммуникабельность</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет текст на 2-4 строки. На графике вы видите полосу психосоматических процессов из красных, желтых и зеленых прямоугольников.</p>
            </div>
            <div class="col-md-12 padding0 diagrams">
                <img src="~/Content/img/diagram2.png" class="img-responsive" />
            </div>
            <!--<div class="chart">
                <p><strong>Переходы из ПС</strong> 40%</p>
                <div class="pipe"><div style="width: 40%"></div></div>
                <p><strong>Переходы по ссылкам на сайтах</strong> 38%</p>
                <div class="pipe"><div style="width: 38%"></div></div>
                <p><strong>Прямые заходы</strong> 18%</p>
                <div class="pipe"><div style="width: 18%"></div></div>
                <p><strong>Переходы с сохраненных страниц</strong> 4%</p>
                <div class="pipe"><div style="width: 4%"></div></div>
            </div>-->
            <div class="clearfix"></div>

            <div class="clearfix"></div>
            <h2>Интерпретация показателей графика</h2>
            <ol class="pravila">
                <li>В норме графики должны быть плавными и синхронными. Пилообразный вид указывает на то, что перед диагностикой пациент принимал алкоголь, наркотики или испытывал психоэмоциональное напряжение.</li>

                <li>Определяется доминирующая функция: та, которая меньше всего отклонена от 0. У каждого возраста своя доминирующая функция. У людей до 18 лет — восприятие, от 18 до 31 года — воображение, старше 31 года — ассоциативное мышление и память.</li>

                <li>Определяются отклонения каждой функции. Отклонение любой из них на 25—50 единиц говорит о том, что человек склонен к немотивированным эмоциональным срывам. Отклонение на 50 единиц и более — о невротических реакциях.</li>

                <li>Оценивается качественная характеристика функций мозга. Если функция положительная, то она избыточна. Если отрицательна — то она избирательна.</li>
            </ol>
        </div>
        
        <div class="clearfix"></div>

    </div>
    <hr />
    <div class="container">
        <div class="col-md-12 recomended padding0">
            <h1>Рекомендуем прочитать <a href="~/HealthPanel/DictionaryTerms">Словарь терминов</a></h1>
            <ul class="list-unstyled col-md-5 padding0">
                <li><a href="">Для женщин</a></li>
                <li><a href="">Что такое женская психоматика</a></li>
                <li><a href="">Откуда берется женская психоматика</a></li>
                <li><a href="">Психоматика = мысли + эмоции</a></li>
                <li><a href="">Как негативные эмоции создают болезни</a></li>
            </ul>
            <ul class="list-unstyled col-md-4 padding0">
                <li><a href="">Какие женщины в зоне риска</a></li>
                <li><a href="">Как избавиться от психоматика</a></li>
                <li><a href="">Цвет эффективное решение</a></li>
                <li><a href="">Словарь женской психоматики</a></li>
            </ul>
        </div>

    </div>
    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="~/DiagnosticResults/ActionsAndInformation" class="left-nav yellow pull-right">Действие и информация</a>
                </div>
                <div class="col-md-6">
                    <a href="~/DiagnosticResults/PsychoEmotionalPattern" class="right-nav pull-left">Психоэмоциональный фон</a>
                </div>

            </div>
        </div>

    </div>
</section><!--/.main-content -->
