﻿@model ColorLongLife.Models.DiagnosticResults.HealthOrganismModel

@{
    ViewBag.Title = "HealthOrganism";
    Layout = "~/Views/Shared/_DemoHealthLayout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/HealthPanel/Index">&larr; Личный кабинет</a></div>
        <div class="col-md-8 padding0 main-pfs main-health">
            <h1>Общее состояние организма</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет реплика. Сейчас мы поговорим о влиянии  негативных эмоций и качеств личности на психосоматические и морфологические процессы головного мозга.</p>
            </div>
            <div class="hidden-ab col-md-12 padding0 punkty">
                <h2>1. Морфологическая ситуация организма</h2>
                <p class="classy">Морфология – это строение клеток, тканей и всего органа. Изменения на морфологическом уровне возникают в течение всей жизни и являются результатом колебаний условий внешней среды, наследственности или естественных процессов старения.</p>
                <p>При достаточном уровне резервных механизмов морфологические изменения компенсируются, орган функционирует в нормальном режиме. По мере ослабления компенсаторных механизмов изменения становятся стойкими и являются основой для возникновения различных болезней.</p>
                <div class="col-md-4 padding0"><a href="" class="readmore">Читать полностью</a></div>
            </div>

            <div class="col-md-12 padding0 diagrams text-center">
                <img src="~/Content/img/diagram6.png" class="img-responsive" />
                <!-- <p class="info"><img src="img/info.png" /> Кликните на любую функцию или ее значение для получения детальной информации.</p>-->

            </div>
            <div class="inter-color col-md-12 padding0 punkty">
                <h2>Интерпритация цветов </h2>
                <p class="green-inter"><strong>Зеленый</strong>: Морфологическое строение и функция органа в норме.</p>
                <h4>Кровоток</h4>
                <p class="red-inter"><strong>Красный</strong>: ускорен кровоток, увеличено количество расширенных сосудов. Повышена доставка кислорода и питательных веществ и температура орга</p>
                <p class="malina-inter"><strong>Малиновый</strong>: снижено количество крови, притекающей к органу, и количество функционирующих сосудов. Ткани испытывают недостаток кислорода и питательных веществ.</p>
                <h4>Функция органа</h4>
                <p class="blue-inter"><strong>Голубой</strong>: функция органа ускорена. Задействованы все рабочие ресурсы клеток и тканей органа. За единицу времени орган выполняет больший объем работы.</p>
                <p class="white-inter"><strong>Белый</strong>: функция органа замедлена за счет истощения ресурсов или замещения его функции внешними источниками. Органу требуется больше времени, чем раньше для выполнения прежней работы.</p>
                <h4>Клетки органа</h4>
                <p class="blue-dark-inter"><strong>Синий</strong>: в органе повышено количество молодых клеток за счет чрезмерного их размножения. Это связано с активными процессами восстановления после повреждения (регенерацией) или с ростом новообразований.</p>
                <p class="yellow-inter"><strong>Желтый</strong>: повышено количество старых клеток, для которых характерно снижение рабочего объема, ослабление или утрата нормальной функции. В результате снижаются функциональные резервы органа и способность адаптироваться к изменениям условий среды.</p>
            </div>
            <div class="hidden-abc col-md-12 padding0 punkty">
                <h2>2. Календарный и биологический возраст <span class="tool" data-toggle="tooltip" data-placement="top" title="Календарный и биологический возраст"> </span></h2>
                <img src="~/Content/img/diagram7.png" class="img-responsive" />
                <!-- <p class="info"><img src="img/info.png" /> Кликните на любую функцию или ее значение для получения детальной информации.</p>-->
                <p class="classy">Здесь будет статья о взаимосвязи календарного и биологического возраста. Морфология – это строение клеток, тканей и всего органа. Изменения на морфологическом уровне возникают в течение всей жизни и являются результатом колебаний условий внешней среды, наследственности или естественных процессов старения.</p>
                <p>При достаточном уровне резервных механизмов морфологические изменения компенсируются, орган функционирует в нормальном режиме. По мере ослабления компенсаторных механизмов изменения становятся стойкими и являются основой для возникновения различных болезней.</p>
                <div class="col-md-4 padding0"><a href="" class="readmore">Читать полностью</a></div>
            </div>

            <div class="hidden-abcd col-md-12 padding0 punkty">
                <h2>3. Психо-онкологические риски <span class="tool" data-toggle="tooltip" data-placement="top" title="Психо-онкологические риски"> </span></h2>
                <ul class="list-group col-md-8">
                    <li class="list-group-item list-group-first">Органы с признаками процессов, которые поддерживают развитие клеток с потерей контроля деления</li>
                    <li class="list-group-item list-group-second">Мочевой пузырь (периодическое)</li>
                </ul>
                <div class="clearfix"></div>
                <p class="classy">Здесь будет статья о взаимосвязи календарного и биологического возраста. Морфология – это строение клеток, тканей и всего органа. Изменения на морфологическом уровне возникают в течение всей жизни и являются результатом колебаний условий внешней среды, наследственности или естественных процессов старения.</p>
                <p>При достаточном уровне резервных механизмов морфологические изменения компенсируются, орган функционирует в нормальном режиме. По мере ослабления компенсаторных механизмов изменения становятся стойкими и являются основой для возникновения различных болезней.</p>
                <div class="col-md-4 padding0"><a href="" class="readmore">Читать полностью</a></div>
            </div>
            <div class="hidden-abcde col-md-12 padding0 punkty">
                <h2>4. Общие показатели организма</h2>
                <img src="~/Content/img/diagram8.png" class="img-responsive" />
                <!--<p class="info"><img src="img/info.png" /> Кликните на любую функцию или ее значение для получения детальной информации.</p>-->
            </div>



        </div> <!-- /.main-health-->

        <div class="clearfix"></div>

    </div>
    <hr />
    <div class="container">
        <div class="col-md-12 recomended padding0">
            <h1>Рекомендуем прочитать <a href="~/HealthPanel/DictionaryTerms">Словарь терминов</a></h1>
            <ul class="list-unstyled col-md-5 padding0">
                <li><a href="">Для женщин</a></li>
                <li><a href="">Что такое женская психоматика</a></li>
                <li><a href="">Откуда берется женская психоматика</a></li>
                <li><a href="">Психоматика = мысли + эмоции</a></li>
                <li><a href="">Как негативные эмоции создают болезни</a></li>
            </ul>
            <ul class="list-unstyled col-md-4 padding0">
                <li><a href="">Какие женщины в зоне риска</a></li>
                <li><a href="">Как избавиться от психоматика</a></li>
                <li><a href="">Цвет эффективное решение</a></li>
                <li><a href="">Словарь женской психоматики</a></li>
            </ul>
        </div>

    </div>
    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="~/DiagnosticResults/HealthPFS" class="left-nav prev-green pull-right">ПФС</a>
                </div>
                <div class="col-md-6">
                    <a href="~/DiagnosticResults/HealthFUS" class="right-nav green pull-left">Рейтинг ФУС</a>
                </div>

            </div>
        </div>

    </div>

</section><!--/.main-content -->
