﻿@model ColorLongLife.Models.DiagnosticResults.HealthRecommendationsModel

@{
    ViewBag.Title = "HealthRecommendations";
    Layout = "~/Views/Shared/_CorrectionLayout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/HealthPanel/Index">&larr; Личный кабинет</a></div>
        <div class="col-md-8 padding0 main-vivod">
            <h1>Выводы</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> в таблице ниже вы видите ваш персональный психосоматический симптомокомплекс: слева — психоэмоциональную компоненту, а справа — физиологическую. Психоэмоциональная компонента – это черты вашего характера, по результатам текущей диагностики, маркированные либо только красными сигналами, либо красными сигналами, значительно превосходящими синие сигналы.</p>
            </div>
            <h2>Персональный психосоматический симптомокомплекс</h2>
            <div class="col-md-12 padding0 model">
                <div class="col-md-4 padding0">
                    <div class="panel panel-default">

                        <!-- Default panel contents -->
                        <div class="panel-heading">Эмоциональные и психологические особенности <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a></div>
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">Высокомерие <span class="badge"><span class="red">56</span>/<span class="blue">22</span></span></li>
                            <li class="list-group-item">Страх старости <span class="badge"><span class="red">56</span>/<span class="blue">22</span></span></li>
                            <li class="list-group-item">Готовность спорить <span class="badge"><span class="red">56</span>/<span class="blue">22</span></span></li>
                            <li class="list-group-item">Уважение к другому <span class="badge"><span class="red">56</span>/<span class="blue">22</span></span></li>
                            <li class="list-group-item">Стремление к власти<span class="badge"><span class="red">56</span>/<span class="blue">22</span></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 padding0">
                    <div class="panel panel-default">

                        <!-- Default panel contents -->
                        <div class="panel-heading">Вероятностный список деструктивных эмоций и чувств <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a></div>
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p>Человек испытывает страх</p>
                                <span>(обилие детских страхов, страх не известности, страх смерти, страх предательства страх ошибки, страх потери контроля над ситуацией)</span>
                                <span class="end-line">Базисная эмоция – страх.</span>
                            </li>
                            <li class="list-group-item">
                                <p>Человек испытывает  гнев</p>
                                <span>(ярость, разочарование).</span>
                                <span class="end-line">Базисная эмоция – страх.</span>
                            </li>
                            <li class="list-group-item">
                                <p>Человек испытывает  чувство вины</p>
                                <span>(часто идёт из детства).</span>
                                <span class="end-line">Базисная эмоция – страх.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p class="text-center"><img src="~/Content/img/info.png" class="info" />Кликните на качество, на цифру возле качества, на психосоматический процесс для получения дополнительной информации</p>
                <div class="under-table">
                    <p>Самый большой показатель патологического сигнала по физиологической компоненте — <a href="" class="">Дегенеративный процесс</a>  (11 единиц), потом — <a href="" class="">интоксикация ПНС</a> (10 единиц). Имеются и другие патологические сигналы. Самые большие показатели патологического сигнала по психоэмоциональной компоненте — <a href="" class="">стремление к власти</a> (56 единиц), <a href="" class="">уважение к другому</a> (53 единицы).</p>
                    <p><span class="name">Анна,</span>В вашем случае психосоматические процессы в органах (<a href="" class="">желчный пузырь</a>, <a href="" class="">ПНС</a>, <a href="" class="">сердце</a>, <a href="" class="">опорно-двигательная система,</a> <a href="" class="">легкие и бронхи</a>, <a href="" class="">кровь и периферические сосуды</a>) обусловлены вашими психоэмоциональными особенностями: <a href="" class=""> рефлексия</a>(зацикленностью на себе), <a href="" class="">Планирование,</a> <a href="" class="">разрушительной сексуальностью</a>, <a href="" class="">низкой степенью уважения к другим</a>, <a href="" class="">готовностью спорить по любому поводу</a>, <a href="" class="">страхом старости</a> и <a href="" class="">высокомерием</a>. Эти психологические качества создают проблемы со здоровьем, ухудшают отношения с окружающими и усложняют вашу жизнь. </p>
                    <div class="col-md-3 padding0"><a href="" class="readmore">Читать полностью</a></div>
                    <div class="clearfix"></div>

                </div>
            </div>

            <div class="clearfix"></div>


        </div> <!-- /.main-health-->
        <div class="clearfix"></div>
    </div>
    <hr />
    <div class="container">
        <div class="col-md-12 recomended padding0">

            <h1>Рекомендуем прочитать <a href="~/HealthPanel/DictionaryTerms">Словарь терминов</a></h1>
            <ul class="list-unstyled col-md-5 padding0">
                <li><a href="">Для женщин</a></li>
                <li><a href="">Что такое женская психоматика</a></li>
                <li><a href="">Откуда берется женская психоматика</a></li>
                <li><a href="">Психоматика = мысли + эмоции</a></li>
                <li><a href="">Как негативные эмоции создают болезни</a></li>
            </ul>
            <ul class="list-unstyled col-md-4 padding0">
                <li><a href="">Какие женщины в зоне риска</a></li>
                <li><a href="">Как избавиться от психоматика</a></li>
                <li><a href="">Цвет эффективное решение</a></li>
                <li><a href="">Словарь женской психоматики</a></li>
            </ul>
        </div>

    </div>
    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="~/DiagnosticResults/HealthBrain" class="left-nav prev-green pull-right">Органы</a>
                </div>
                <div class="col-md-6">
                    <a href="~/DiagnosticResults/RecommendedCorrection" class="right-nav green next-blue pull-left">Рекомендованная <br />коррекция</a>
                </div>

            </div>
        </div>

    </div>

</section><!--/.main-content -->
