﻿@model ColorLongLife.Models.DiagnosticResults.HealthBrainModel

@{
    ViewBag.Title = "HealthBrain";
    Layout = "~/Views/Shared/_DemoHealthLayout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/HealthPanel/Index">&larr; Личный кабинет</a></div>
        <div class="col-md-8 padding0 main-pfs main-health">
            <h1>Головной мозг</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> сейчас мы поговорим о влиянии  негативных эмоций и качеств личности на психосоматические и морфологические процессы головного мозга.</p>
            </div>
            <h2>Психологический портрет человека, склонного к заболеваниям головного мозга</h2>
            <blockquote class="red-blockquote">
                <p>Вероятностный список деструктивных эмоций и чувств – это приобретенные в период формирования конфликта между подсознанием и умом (от рождения до 6 лет) деструктивные  эмоции и бусловленные ими чувства, которые вы испытываете очень часто, фактически – это ваш индивидуальный эмоциональный фон.</p>
                <p>Вероятностный список деструктивных качеств личности – это приобретенные в процессе жизни патологические качества личности (возможно приспособительно-защитные, как необходимые для выживания в определенной социальной среде), наличие в характере которых формирует неадекватное поведение, неадекватную оценку жизненной ситуации, приводит обладателя к стрессовым жизненным ситуациям.</p>
                <p>
                    Вероятностный список деструктивных эмоций и чувств – это приобретенные в период формирования конфликта между подсознанием и умом (от рождения до 6 лет)
                    деструктивные  эмоции и обусловленные ими чувства, которые вы испытываете очень часто, фактически – это ваш индивидуальный эмоциональный фон.
                    Вероятностный список деструктивных качеств личности – это приобретенные в процессе жизни патологические качества личности (возможно приспособительно-защитные,
                    как необходимые для выживания в определенной социальной среде), наличие в характере которых формирует неадекватное поведение, неадекватную оценку жизненной
                </p>
            </blockquote>
            <div class="col-md-4 padding0"><a href="" class="readmore">Читать полностью</a></div>
            <div class="clearfix"></div>


        </div> <!-- /.main-health-->


        <div class="clearfix"></div>
        <div class="col-md-12 padding0 model">
            <div class="col-md-8 padding0"><h2>В сводной таблице ниже вы найдете психологическую модель формирования психосоматических процессов в головном мозге</h2></div>
            <div class="clearfix"></div>
            <div class="width20">
                <div class="panel panel-default">

                    <!-- Default panel contents -->
                    <div class="panel-heading">Вероятностный список деструктивных эмоций и чувств <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a></div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>Человек испытывает страх</p>
                            <span>(обилие детских страхов, страх не известности, страх смерти, страх предательства страх ошибки, страх потери контроля над ситуацией)</span>
                            <span class="end-line">Базисная эмоция – страх.</span>
                        </li>
                        <li class="list-group-item">
                            <p>Человек испытывает  гнев</p>
                            <span>(ярость, разочарование).</span>
                            <span class="end-line">Базисная эмоция – страх.</span>
                        </li>
                        <li class="list-group-item">
                            <p>Человек испытывает  чувство вины</p>
                            <span>(часто идёт из детства).</span>
                            <span class="end-line">Базисная эмоция – страх.</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="width20">
                <div class="panel panel-default">

                    <!-- Default panel contents -->
                    <div class="panel-heading">Вероятностный список деструктивных качеств личности <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a></div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">Напористость </li>
                        <li class="list-group-item">Властность</li>
                        <li class="list-group-item">Непреклонность </li>
                        <li class="list-group-item">Безжалостность</li>
                        <li class="list-group-item">Тяга к гиперконтролю </li>
                        <li class="list-group-item">Требовательность к окружающим </li>
                        <li class="list-group-item">Склонность винить окружающих в своих проблемах</li>
                        <li class="list-group-item show-all"><a href="">Смотреть полностью</a></li>
                    </ul>
                </div>
            </div>

            <div class="width20">
                <div class="panel panel-default">

                    <!-- Default panel contents -->
                    <div class="panel-heading">Вероятностный список Стресс факторов <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a></div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">Обострённая потребность в успехе и признании</li>
                        <li class="list-group-item">Завышенный уровень притязаний</li>
                        <li class="list-group-item">Невозможность получения желаемого социального статуса </li>
                        <li class="list-group-item">Высокий уровень интеллекта на фоне низкой самореализации</li>
                        <li class="list-group-item"> </li>
                    </ul>
                </div>

            </div>
            <div class="width20">
                <div class="panel panel-default">

                    <!-- Default panel contents -->
                    <div class="panel-heading">Вероятностный список деструктивных эмоций и чувств <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a></div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>Человек испытывает страх</p>
                            <span>(обилие детских страхов, страх не известности, страх смерти, страх предательства страх ошибки, страх потери контроля над ситуацией)</span>
                            <span class="end-line">Базисная эмоция – страх.</span>
                        </li>
                        <li class="list-group-item">
                            <p>Человек испытывает  гнев</p>
                            <span>(ярость, разочарование).</span>
                            <span class="end-line">Базисная эмоция – гнев.</span>
                        </li>
                        <li class="list-group-item">
                            <p>Человек испытывает  чувство вины</p>
                            <span>(часто идёт из детства).</span>
                            <span class="end-line">Базисная эмоция – страх.</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="width20">
                <div class="panel panel-default">

                    <!-- Default panel contents -->
                    <div class="panel-heading">Вероятностный список деструктивных качеств личности <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a></div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">Напористость </li>
                        <li class="list-group-item">Властность</li>
                        <li class="list-group-item">Непреклонность </li>
                        <li class="list-group-item">Безжалостность</li>
                        <li class="list-group-item">Тяга к гиперконтролю </li>
                        <li class="list-group-item">Требовательность к окружающим </li>
                        <li class="list-group-item">Склонность винить окружающих в своих проблемах</li>
                        <li class="list-group-item show-all"><a href="">Смотреть полностью</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="col-md-8 padding0">
            <h2>Как пользоваться таблицей</h2>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> проверьте следующие показатели в разделе «особенности личности» в расшифровке текущей диагностики для более полного понимания вашего персонального алгоритма развития психосоматических процессов в головном мозге.</p>
            </div>
        </div>
        <div class="col-md-12 padding0 how-to">
            <div class="col-md-4 padding0">
                <div class="panel panel-default">

                    <!-- Default panel contents -->
                    <div class="panel-heading">Индикаторы деструктивных эмоций по результатам  диагностики<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a></div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">Страх смерти <span class="badge">Базисная эмоция – страх</span></li>
                        <li class="list-group-item">Страх бедности <span class="badge">Базисная эмоция – страх</span></li>
                        <li class="list-group-item">Боязнь критики <span class="badge">Базисная эмоция – страх</span></li>
                        <li class="list-group-item">Гнев <span class="badge">Базисная эмоция – гнев</span></li>
                        <li class="list-group-item">Грусть <span class="badge">Базисная эмоция – страх</span></li>
                        <li class="list-group-item">Безразличие <span class="badge">Базисная эмоция – страх</span></li>
                        <li class="list-group-item">Апатия <span class="badge">Базисная эмоция – страх</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1 padding0">
                <div class="panel panel-default">

                    <!-- Default panel contents -->
                    <div class="panel-heading">Индикаторы деструктивных  качеств личности по результатам диагностики<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a></div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item"><p>Планирование</p><span>Жёсткость мышления, Консервативность</span></li>
                        <li class="list-group-item"><p>Желание анализировать</p><span>Неумение доверять интуиции</span></li>
                        <li class="list-group-item"><p>Интерес к другим людям</p><span>Эмоциональная холодность, Отгороженность, Отчуждённость, Требовательность к окружающим, Склонность винить окружающих в своих проблемах</span></li>
                        <li class="list-group-item"><p>Стремление к власти</p><span>Напористость, Властность, Непреклонность, Безжалостность, Тяга к гиперконтролю</span></li>
                        <li class="list-group-item"> </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <p>Если хотя бы по одному индикатору из обоих столбцов таблицы разбалансированы, то психологическая модель формирования психосоматических процессов в головном мозге является активной. Чем больше разбалансированных индикаторов, тем сильнее активность модели. Чем больше стресс факторов в вашей жизни, тем сильнее активность модели. Особое внимание следует обратить на эту модель, если по результатам многократного цветового тестирования есть психосоматические процессы, маркированные красным цветом и силой патологического сигнала больше 8 условных единиц, потому что в этом случае есть вероятность активации медико-психологической модели в соответствии, с которой уже формируются медицинские болезни.</p>
            <div class="col-md-4 padding0">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Психическое возмущение под влиянием стресс факторов</strong></li>
                    <li class="list-group-item"><strong>Изменения эмоциональной сферы.</strong> Они проявляются переживанием деструктивных эмоций и чувств, а так же развитием деструктивных качеств личности.</li>
                    <li class="list-group-item"><strong>>Формирование устойчивого патологического вегетативно-эндокринного регуляторного паттерна.</strong> На этой стадии происходит изменения в поведении человека, человек начинает функционировать в соответствии с деструктивными моделями социального поведения.</li>
                    <li class="list-group-item"><strong>Функциональные нарушения</strong></li>
                    <li class="list-group-item"><strong>Органические изменения</strong></li>
                    <li class="list-group-item"><strong>Формирование соматогенных изменений</strong></li>

                </ul>
                <div class="col-md-3 padding0"><a href="" class="readmore">Скрыть</a></div>
            </div>
            <div class="clearfix"></div>
            <h2>Чем вам поможет виртуальный сканер здоровья?</h2>
            <p>Виртуальный Сканер Здоровья  определяет ваш персональный набор деструктивных эмоций,  чувств и качеств личности. Иными словами сканер определяет текущую конфигурацию межнейронных связей головного мозга, выстроенную этим набором. По факту расшифровки цветового теста Виртуальный Сканер Здоровья  создает индивидуально рассчитанный  коррекционный модуль, который вы просто просматриваете на экране монитора 2-3 раза в день по 10-20 минут.</p>
            <p>Во время просмотра персональных сеансов цветокоррекции происходит:</p>
            <ul class="">
                <li><span class="glyphicon glyphicon-ok-circle glyphicon-ok-circle-blue"> </span>коррекция текущей конфигурации межнейронных связей головного мозга с деструктивной на созидательную, что выразиться уменьшением переживания деструктивных эмоций и чувств в повседневной жизни, т.е. ваш эмоциональный фон начнет меняться с негативного на позитивный</li>
                <li><span class="glyphicon glyphicon-ok-circle glyphicon-ok-circle-blue"> </span>улучшение психоэмоционального состояния пользователя, а именно (последствия–проявления)</li>
                <li><span class="glyphicon glyphicon-ok-circle glyphicon-ok-circle-blue"> </span>снимаются последствия стресса</li>
                <li><span class="glyphicon glyphicon-ok-circle glyphicon-ok-circle-blue"> </span>устраняются проявления негативных черт характера человека, а именно (список качеств).</li>
            </ul>
            <p>За счёт этого в организме включаются дополнительные ресурсы саморегуляции  и организм  начинает лечить сам  себя, что проявляется уменьшением или исчезновением симптомов заболеваний.</p>
            <div class="col-md-3 padding0"><a href="" class="readmore">Скрыть</a></div>
            <div class="clearfix"></div>
            <div class="col-md-12 padding0 nav-cat">
                <div class="col-md-3 col-md-offset-1 padding0 psiho"><a href="" class="" title="Психосоматические процессы головного мозга">Психосоматические процессы головного мозга</a></div>
                <div class="col-md-4 padding0 text-center change-cat"><p>&larr; Выберите раздел &rarr;</p></div>
                <div class="col-md-3 padding0 morfo"><a href="" class="" title="Морфологические процессы головного мозга">Морфологические процессы головного мозга</a></div>
            </div>

        </div><!--.how-to -->
    </div>


    <hr />
    <div class="container">
        <div class="col-md-12 recomended padding0">

            <h1>Рекомендуем прочитать <a href="~/HealthPanel/DictionaryTerms">Словарь терминов</a></h1>
            <ul class="list-unstyled col-md-5 padding0">
                <li><a href="">Для женщин</a></li>
                <li><a href="">Что такое женская психоматика</a></li>
                <li><a href="">Откуда берется женская психоматика</a></li>
                <li><a href="">Психоматика = мысли + эмоции</a></li>
                <li><a href="">Как негативные эмоции создают болезни</a></li>
            </ul>
            <ul class="list-unstyled col-md-4 padding0">
                <li><a href="">Какие женщины в зоне риска</a></li>
                <li><a href="">Как избавиться от психоматика</a></li>
                <li><a href="">Цвет эффективное решение</a></li>
                <li><a href="">Словарь женской психоматики</a></li>
            </ul>
        </div>

    </div>
    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="~/DiagnosticResults/HealthFUS" class="left-nav prev-green pull-right">Рейтинг ФУС</a>
                </div>
                <div class="col-md-6">
                    <a href="" class="right-nav green pull-left">Орган: спинной мозг</a>
                </div>

            </div>
        </div>

    </div>

</section><!--/.main-content -->
