﻿@model ColorLongLife.Models.DiagnosticResults.MyCorretionModel

@{
    ViewBag.Title = "MyCorretion";
    Layout = "~/Views/Shared/_CorrectionLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="col-md-7 padding0 main-vivod">
            <h1>Мои курсы коррекции</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет текст реплика. Психоэмоциональная компонента – это черты вашего характера.</p>
            </div>
            <div class="col-md-12 padding0">
                <div class="col-md-7 padding0"><h2>Краткая диагностика</h2></div><div class="dop-tarif col-md-5 padding0"><a href="~/DiagnosticResults/LongCorretion">Длительные тарифы</a></div>
                <div class="clearfix"></div>
                <div class="my-course">
                    <div class="block-zag">
                        Курс "Жизнь без депрессии"
                    </div>
                    <div class="block-content">
                        <p>Диагностика пройдена</p>
                        <span>07.09.2015</span>
                    </div>
                    <div class="dop-info-corection"><a href="" class="btn-buy">Скачать курс</a></div>
                </div>
                <p class="info"><img class="info" src="~/Content/img/info.png" />Для прохождения коррекции необходимо открыть полученный файл с помощью установленной у вас программы «Название программы».</p>
                <div class="my-course2">
                    <div class="block-zag">
                        Курс "биовозраст"
                    </div>
                    <div class="block-content">
                        <p>Диагностика пройдена</p>
                        <span>07.09.2015</span>
                    </div>
                    <div class="dop-info-corection">
                        <p>Коррекция получена</p>
                        <span>07.09.2015</span>
                    </div>
                </div>
            </div>
        </div> <!-- /.main-vivod-->

        <div class="clearfix"></div>
        <div class="col-md-12 padding0 what-cor">
            <h2>Что такое цветовая коррекция, правила ее прохождения, результаты?</h2>
            <p>Цветовая коррекция – это просмотр пациентом на его компьютере  особым образом подобранных цветов при помощи коррекционного модуля «Виртуального сканера здоровья».</p>
            <h4>Правила прохождения курса коррекции</h4>
            <div class="col-md-4 padding0"><a href="" class="readmore">Читать полностью</a></div>
        </div>

    </div> <!-- /.container-->
    <hr />
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6 video">
            <p>Видео-инструкция по работе с программой</p>
            <p><img src="~/Content/img/play.jpg" /></p>
        </div>
        <div class="col-md-3"></div>
    </div>
</section><!--/.main-content -->

