﻿@model ColorLongLife.Models.DiagnosticResults.PersonalityCharacteristicsModel

@{
    ViewBag.Title = "PersonalityCharacteristics";
    Layout = "~/Views/Shared/_PsychologyPersonLayout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/HealthPanel/Index">&larr; Личный кабинет</a></div>
        <div class="col-md-8 padding0 brain">
            <h1>Особенности личности</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет текст на 2-4 строки. На графике вы видите полосу психосоматических процессов из красных, желтых и зеленых прямоугольников.</p>
            </div>
            <div class="col-md-12 padding0 diagrams">
                <img src="~/Content/img/diagram4.png" class="img-responsive" />
                <div class="col-md-10 pull-right">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Предыдущие качества</a></li>
                        <li class="next"><a href="#">Следующие качества &rarr;</a></li>
                    </ul>
                    <p class="info"><img src="~/Content/img/info.png" /> Кликните на любую функцию или ее значение для получения детальной информации.</p>
                </div>
            </div>
            <!--<div class="chart">
                <p><strong>Переходы из ПС</strong> 40%</p>
                <div class="pipe"><div style="width: 40%"></div></div>
                <p><strong>Переходы по ссылкам на сайтах</strong> 38%</p>
                <div class="pipe"><div style="width: 38%"></div></div>
                <p><strong>Прямые заходы</strong> 18%</p>
                <div class="pipe"><div style="width: 18%"></div></div>
                <p><strong>Переходы с сохраненных страниц</strong> 4%</p>
                <div class="pipe"><div style="width: 4%"></div></div>
            </div>-->
            <div class="clearfix"></div>

            <div class="clearfix"></div>
            <h2>Что обозначает график</h2>
            <div class="info-grafik">
                <p class="red-sign"><strong>Красные сигналы:</strong> Показатель деструктивного (разрушающего) воздействия внешней среды на личность (орган). Появляются, когда собственные компенсаторные механизмы не справляются с деструктивным воздействием внешней среды. Говорят об приобретенных патологических качествах личности</p>
                <p class="blue-sign"><strong>Синие сигналы:</strong> Показатель генетических психологических возможностей личности (органа) сопротивляться внешнему деструктивному (разрушающему) воздействию.</p>
                <p class="red-up-blue"><strong>Красные сигналы выше синих:</strong> проблема. Перерождение качества личности. Высокий риск вреда здоровью и социальной адаптации личности из-за наличия качества в характере человека. Качество формирует неадекватное поведение личности, неадекватную оценку жизненной ситуации, приводит обладателя к стрессовым жизненным ситуациям.</p>
                <p class="red-red"><strong>Только красные сигналы:</strong> проблема. Перерождение качества личности завершено. Заболевание. Нарастающая частота аффектов. Низкий уровень социальной адаптации личности из-за наличия качества в характере человека. Качество формирует неадекватное поведение личности, неадекватную оценку жизненной ситуации, приводит обладателя к стрессовым жизненным ситуациям.</p>
                <p class="blue-up-red"><strong>Есть красные сигналы, но синие сигналы выше красных:</strong> начало перерождения качества личности. Начальный риск вреда здоровью и социальной адаптации личности из-за наличиякачества в характере человека.</p>
                <p class="blue-blue"><strong>Только синие сигналы:</strong> комфортное развитие качества личности. Наличие его в характере человека способствует его социальной адаптации и физическому здоровью.</p>

            </div>

        </div>
        
        <div class="clearfix"></div>

    </div>
    <hr />
    <div class="container">
        <div class="col-md-12 recomended padding0">
            <h1>Рекомендуем прочитать <a href="~/HealthPanel/DictionaryTerms">Словарь терминов</a></h1>
            <ul class="list-unstyled col-md-5 padding0">
                <li><a href="">Для женщин</a></li>
                <li><a href="">Что такое женская психоматика</a></li>
                <li><a href="">Откуда берется женская психоматика</a></li>
                <li><a href="">Психоматика = мысли + эмоции</a></li>
                <li><a href="">Как негативные эмоции создают болезни</a></li>
            </ul>
            <ul class="list-unstyled col-md-4 padding0">
                <li><a href="">Какие женщины в зоне риска</a></li>
                <li><a href="">Как избавиться от психоматика</a></li>
                <li><a href="">Цвет эффективное решение</a></li>
                <li><a href="">Словарь женской психоматики</a></li>
            </ul>
        </div>

    </div>
    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="~/DiagnosticResults/PsychoEmotionalPattern" class="left-nav yellow pull-right">Психоэмоциональный фон</a>
                </div>
                <div class="col-md-6">
                    <a href="~/DiagnosticResults/Conclusions" class="right-nav pull-left">Выводы</a>
                </div>

            </div>
        </div>

    </div>
</section><!--/.main-content -->