﻿@model ColorLongLife.Models.DiagnosticResults.RecommendedCorrectionModel

@{
    ViewBag.Title = "RecommendedCorrection";
    Layout = "~/Views/Shared/_CorrectionLayout.cshtml";
}
<section class="main-content">
    <div class="container">

        <div class="col-md-8 padding0">
            <h1>Рекомендованная коррекция</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет текст реплика. Психоэмоциональная компонента – это черты вашего характера.</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 padding0 course-corection">
            <h2>Курсы цветокоррекции</h2>
            <div class="col-md-7 padding0">
                <div class="col-md-12 course padding0">
                    <div class="block block-pfs">
                        <div class="block-zag">
                            Курс цветокоррекции ПФС
                        </div>
                        <div class="block-content">
                            <h4>О курсе</h4>
                            <p>Текстовое описание курса, кратко, но понятно. Описание самой сути. Назначается при таких-то показателях. Текстовое описание курса, кратко, но понятно. Описание самой сути. Назначается при таких-то показателях. Текстовое описание курса, кратко, но понятно.</p>
                            <h4>Результат прохождения курса</h4>
                            <p>Текстовое описание курса, кратко, но понятно. Описание самой сути. Назначается при таких-то показателях. Текстовое описание курса, кратко, но понятно. Описание самой сути. Текстовое описание курса, кратко, но понятно. Описание самой сути. Назначается при таких-то показателях.</p>
                        </div>
                        <div class="dop-info-corection">
                            <ul class="list-unstyled">
                                <li><span class="glyphicon glyphicon-ok-sign"> </span> Улучшение самочувствия</li>
                                <li><span class="glyphicon glyphicon-ok-sign"> </span> Улучшение кровообращения</li>
                                <li><span class="glyphicon glyphicon-ok-sign"> </span> Улучшение памяти</li>
                            </ul>
                            <div class="block-price text-center">

                                <p class="price">4960 Р</p>
                                <a href="" class="btn-buy">Купить</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-12 course padding0">
                    <div class="block block-depr">
                        <div class="block-zag">
                            "Жизнь без депрессии"
                        </div>
                        <div class="block-content">
                            <h4>О курсе</h4>
                            <p>Текстовое описание курса, кратко, но понятно. Описание самой сути. Назначается при таких-то показателях. Текстовое описание курса, кратко, но понятно. Описание самой сути. Назначается при таких-то показателях. Текстовое описание курса, кратко, но понятно.</p>
                            <h4>Результат прохождения курса</h4>
                            <p>Текстовое описание курса, кратко, но понятно. Описание самой сути. Назначается при таких-то показателях. Текстовое описание курса, кратко, но понятно. Описание самой сути. Текстовое описание курса, кратко, но понятно. Описание самой сути. Назначается при таких-то показателях.</p>
                        </div>
                        <div class="dop-info-corection">
                            <ul class="list-unstyled">
                                <li><span class="glyphicon glyphicon-ok-sign"> </span> Улучшение самочувствия</li>
                                <li><span class="glyphicon glyphicon-ok-sign"> </span> Улучшение кровообращения</li>
                                <li><span class="glyphicon glyphicon-ok-sign"> </span> Улучшение памяти</li>
                            </ul>
                            <div class="block-price text-center">

                                <p class="price">4960 Р</p>
                                <a href="" class="btn-buy">Купить</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-12 course padding0">
                    <div class="block block-bio">
                        <div class="block-zag">
                            "Биовозраст"
                        </div>
                        <div class="block-content">
                            <h4>О курсе</h4>
                            <p>Текстовое описание курса, кратко, но понятно. Описание самой сути. Назначается при таких-то показателях. Текстовое описание курса, кратко, но понятно. Описание самой сути. Назначается при таких-то показателях. Текстовое описание курса, кратко, но понятно.</p>
                            <h4>Результат прохождения курса</h4>
                            <p>Текстовое описание курса, кратко, но понятно. Описание самой сути. Назначается при таких-то показателях. Текстовое описание курса, кратко, но понятно. Описание самой сути. Текстовое описание курса, кратко, но понятно. Описание самой сути. Назначается при таких-то показателях.</p>
                        </div>
                        <div class="dop-info-corection">
                            <ul class="list-unstyled">
                                <li><span class="glyphicon glyphicon-ok-sign"> </span> Улучшение самочувствия</li>
                                <li><span class="glyphicon glyphicon-ok-sign"> </span> Улучшение кровообращения</li>
                                <li><span class="glyphicon glyphicon-ok-sign"> </span> Улучшение памяти</li>
                            </ul>
                            <div class="block-price text-center">

                                <p class="price">4960 Р</p>
                                <a href="" class="btn-buy">Купить</a>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="col-md-3 paddingleft30 all-course">
                <h4>Купить все рекомендованные курсы со скидкой</h4>
                <table class="table">
                    <tbody>
                        <tr><td><p>Цветокоррекция ПФС</p></td><td><p><span class="old-price">4 960 Р</span>  <span class="new-price">3 900 Р</span></p></td></tr>

                        <tr><td><p>«Жизнь без депрессии»</p></td><td><p><span class="old-price">4 550 Р</span>  <span class="new-price">4 000 Р</span></p></td></tr>
                        <tr><td><p>«Биовозвраст»</p> </td><td><p><span class="old-price">4 550 Р</span>  <span class="new-price">3 900 Р</span></p></td></tr>
                    </tbody>
                </table>
                <span>Всего:</span>
                <table class="table">
                    <tbody>
                        <tr><td><p class="price">12300 Р</p></td><td><p class="text-center"><a href="" class="btn-buy">Купить все</a></p></td></tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 padding0">
            <div class="col-md-8 padding0">
                <h2>Рекомендованные БАД</h2>
                <div class="intro-2">
                    <p><span>@Model.FirstName,</span> по результатам диагностики для вас подобран рекомендованный набор биоактивных добавок, позволяющих восполнить дефицит витаминов и микроэлементов. Кроме того, этот комплекс БАДов сможет в целом оказать оздаравливающее воздействие на ваш организм.</p>
                </div>
            </div>
            <div class="col-md-10 padding0">
                <div class="col-md-4 bad paddingright30">
                    <div class="bad-block block">
                        <div class="bad-name">
                            Длинное-длинное название БАД
                        </div>
                        <div class="bad-category">
                            Оптимальный объем циркулирующей крови
                        </div>
                        <div class="media bad-description">
                            <a class="pull-left" href="#" title="Длинное-длинное название БАД"><img class="media-object" src="~/Content/img/bad.jpg" alt="Длинное-длинное название БАД"></a>
                            <div class="media-body">
                                <p>Очень краткое описание на что влияет. Очень краткое описание на что влияет. Очень краткое описание на что влияет</p>
                            </div>
                        </div>
                        <div class="bad-price">
                            <p class="price pull-left">1960 Р</p>
                            <p class="pull-right"><a href="" class="btn-buy">Купить</a></p>
                        </div>


                    </div>
                </div> <!--/.bad -->
                <div class="col-md-4 bad paddingright30">
                    <div class="bad-block block">
                        <div class="bad-name">
                            Длинное-длинное название БАД
                        </div>
                        <div class="bad-category">
                            Головной мозг
                        </div>
                        <div class="media bad-description">
                            <a class="pull-left" href="#" title="Длинное-длинное название БАД"><img class="media-object" src="~/Content/img/bad.jpg" alt="Длинное-длинное название БАД"></a>
                            <div class="media-body">
                                <p>Очень краткое описание на что влияет. Очень краткое описание на что влияет. Очень краткое описание на что влияет</p>
                            </div>
                        </div>
                        <div class="bad-price">
                            <p class="price pull-left">1560 Р</p>
                            <p class="pull-right"><a href="" class="btn-buy">Купить</a></p>
                        </div>


                    </div>
                </div> <!--/.bad -->
                <div class="col-md-4 bad paddingright30">
                    <div class="bad-block block">
                        <div class="bad-name">
                            Длинное-длинное название БАД
                        </div>
                        <div class="bad-category">
                            Иммунитет
                        </div>
                        <div class="media bad-description">
                            <a class="pull-left" href="#" title="Длинное-длинное название БАД"><img class="media-object" src="~/Content/img/bad.jpg" alt="Длинное-длинное название БАД"></a>
                            <div class="media-body">
                                <p>Очень краткое описание на что влияет. Очень краткое описание на что влияет. Очень краткое описание на что влияет</p>
                            </div>
                        </div>
                        <div class="bad-price">
                            <p class="price pull-left">2160 Р</p>
                            <p class="pull-right"><a href="" class="btn-buy">Купить</a></p>
                        </div>


                    </div>
                </div> <!--/.bad -->
                <p class="col-md-3 all-bads padding0"><a href="" class="">Все рекомендованные БАДы</a></p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-8 padding0">
                <h2>Обследование у специалистов</h2>
                <div class="obsledovanie">
                    <p class="red-border">Регулярное наблюдение у <span>клинического психолога</span></p>
                    <h4>Терапевт</h4>
                    <p>Cпециалист широкого профиля, в его компетенции находятся вопросы ранней диагностики и лечения многих заболеваний желудочно-кишечного тракта, легких, печени, почек, сердечно-сосудистой, мочеполовой систем, кожи, нарушения обмена веществ и др.</p>

                    <h4>Гастроэнтеролог</h4>
                    <p>Специалист узкого профиля, который диагностирует и лечит патологию органов пищеварения, занимается разработкой методов по профилактике болезней желудочно-кишечного тракта.</p>

                    <h4>Кардиолог </h4>
                    <p>Врач, работа которого связана с диагностикой, лечением и назначением необходимых профилактических мер касательно различных заболеваний сердечной мышцы и сосудов: аритмии, стенокардии, атеросклероза, инфаркта миокарда и многих других.</p>

                    <h4>Пульмонолог </h4>
                    <p>Врач-терапевт, деятельность которого сводится к лечению заболеваний, возникающих в сфере дыхательной системы. Что касается того, что лечит пульмонолог, то здесь, соответственно, определяются наиболее распространенные заболевания, а это бронхит, бронхиальная астма, пневмония, и многие другие виды патологий, актуальные для органов дыхания. </p>

                    <h4>Невропатолог </h4>
                    <p>Врач, который занимается профилактикой, исследованием и лечением болезней нервной системы. Неврология — это раздел науки, изучающей анатомию, физиологию, заболевания центральной и периферической нервной системы.</p>

                </div>
            </div>

        </div>


    </div> <!-- /.container-->
</section><!--/.main-content -->

