﻿@using ColorLongLife.Utilities
@model ColorLongLife.Models.Shop.ProductsModel

@{
    ViewBag.Title = "BADs";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="col-md-8 padding0">
            <h1>Биологически активные добавки</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет текст реплика. Психоэмоциональная компонента – это черты вашего характера.</p>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="col-md-12 padding0 all-bads">
            <h2>Комплексы для похудения</h2>
            <div class="col-md-8 padding0">
                @for (int i = 0; i < Model.Products.Count(); i++)
                {
                    <div class="col-md-6 bad paddingright30">
                        <div class="bad-block block">
                            <div class="bad-name" data-bad-id="@Model.Products.ElementAt(i).ProductId">
                                <a href="~/Shop/CardsProduct/@Model.Products.ElementAt(i).ProductId">@Model.Products.ElementAt(i).ProductName</a>
                            </div>
                            <div class="bad-category">
                                @Model.Products.ElementAt(i).UseProduct.NameUseProduct
                            </div>
                            <div class="media bad-description">
                                <a class="pull-left" href="#" title="Длинное-длинное название БАД"><img class="media-object" src="@Model.Products.ElementAt(i).PathToImage" alt="Длинное-длинное название БАД"></a>
                                <div class="media-body">
                                    <p>@Model.Products.ElementAt(i).Description</p>
                                    <table class="technic">
                                        <tbody>
                                        <tr><td><span>Производитель: </span>@Model.Products.ElementAt(i).ProducerName</td></tr>
                                        <tr><td><span>Страна: </span>@Model.Products.ElementAt(i).CountriIsMade</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="bad-price">
                                <p class="price pull-left">@Model.Products.ElementAt(i).Price Р</p>
                                @using (Html.BeginForm("AddToCart", "ShoppingCart"))
                                {
                                    <p class="pull-right">
                                        @Html.HiddenFor(x => x.Products.ElementAt(i).ProductId)
                                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                        <button type="submit" class="btn-buy">Купить</button>
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="col-md-4 paddingleft30 right-menu">

                <ul>
                    @for (int i = 0; i < Model.Products.Count(); i++)
                    {
                        <li><a href="~/Shop/BADs/@Model.Products.ElementAt(i).UseProduct.UseProductId">@Model.Products.ElementAt(i).UseProduct.NameUseProduct</a></li>
                    }
                </ul>

            </div>

        </div>
        <div class="text-center" id="light-pagination">
            <ul class="pagination">
                <li class="disabled"><a href="#">«</a></li>
                <li>@Html.PageLinks(Model.PagingInfo, x => Url.Action("BADs", new { page = x }))</li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div> <!-- /.container-->

    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="" class="left-nav yellow pull-right">Цветокоррекция</a>
                </div>
                <div class="col-md-6">
                    <a href="~/Shop/BuyBook" class="right-nav next pull-left">Моя книга</a>
                </div>

            </div>
        </div>

    </div>

</section><!--/.main-content -->