﻿@model ColorLongLife.Models.Shop.BuyBookModel

@{
    ViewBag.Title = "BuyBook";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="col-md-8 padding0">
            <h1>Индивидуальная книга с результатами диагностики</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет текст реплика. Психоэмоциональная компонента – это черты вашего характера.</p>
            </div>
            <h2>Что такое книга с результатами диагностики?</h2>
            <p>Вы можете сформировать индивидуальную книгу, со всеми  расшифрованными результатами диагностики. Книга представляет собой PDF файл, содержащий абсолютно все результаты пройденной вами диагностики, включая все графики, выводы и рекомендации</p>
            <h2>Зачем мне эта книга?</h2>
            <p>Вы сможете просматривать книгу на любом компьютере, не заботясь о подключении к интернету. Или распечатать на бумаге и, например, показать своему лечащему врачу. Ему будут очень интересны результаты вашего обследования.</p>
            <h2>Как это выглядит?</h2>
            <div class="col-md-3 text-center padding10"><a href=""><img src="~/Content/img/result-electro.png" />Результаты диагностики в электронном виде (формат PDF)</a></div>
            <div class="col-md-2 text-center">или так </div>
            <div class="col-md-3 text-center padding10"><a href=""><img src="~/Content/img/result-paper.png" />Иллюстрации в печатном виде</a></div>
        </div>
        <div class="clearfix"> </div>
        <div class="col-md-12 send-diagnostic padding0">
            <h2>Отправка диагностики на расшифровку</h2>
            <div class="top-4 padding0">
                <div class="pagination-arrow">
                    <div class="col-md-10 padding0">
                        <div class="col-md-4 padding0">
                            <div class="pag pag1"><p><span>1</span></p></div>
                            <div class="col-md-11 col-md-offset-1 padding0 text-center">Выберите дату диагностики, результаты которой необходимо превратить в книгу</div>
                            <input type="text" class="date form-control" id="datetimepicker4" placeholder="23.10.2015" />
                            <!--<div class="text-center">
                                <div class="form-group">
                                    <input type="file" id="inputFile" class="download">
                                    <p class="help-block">file_1.scn</p>
                                </div>
                            </div>-->
                        </div>
                        <div class="col-md-4 padding0 text-center">
                            <div class="pag pag2"><p><span>2</span></p></div>
                            <div class="col-md-10 col-md-offset-1 padding0 text-center">На какой адрес отправить готовую книгу?</div>
                            <div class="col-md-10 col-md-offset-1 padding0 text-center">
                                <input type="email" class="form-control" placeholder="ekaterina@mail.ru" />
                            </div>
                        </div>
                        <div class="col-md-4 padding0 text-center">
                            <div class="pag pag4"><p><span>3</span></p></div>
                            <div class="primer col-md-10 col-md-offset-1 padding0"><a href="">Заказать и перейти к оплате</a></div>
                        </div>
                    </div>

                </div>

            </div>

        </div> <!--/send-diagnostic -->



    </div> <!-- /.container-->

    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="~/Shop/BADs" class="left-nav yellow pull-right">БАДы</a>
                </div>
                <div class="col-md-6">
                    <a href="" class="right-nav next-grey pull-left"></a>
                </div>

            </div>
        </div>

    </div>

</section><!--/.main-content -->

