﻿@model ColorLongLife.Models.Shop.CardsProductModel

@{
    ViewBag.Title = "CardsProduct";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="breadcrumbs">
            <a href="~/Shop/BADs">&larr; Назад</a>
        </div>
        <div class="col-md-8 padding0 kartochka-bads">
            <h1>@Model.NameUseProduct</h1>
            <div class="col-md-10 bad padding0">
                <div class="bad-block block">
                    <div class="bad-name" data-bad-id="@Model.ProductId">
                        <a href="">@Model.ProductName</a>
                    </div>
                    <div class="bad-category">
                        @Model.NameUseProduct
                    </div>
                    <div class="bad-description col-md-12 padding0">
                        <div class="col-md-6 padding0 text-center">
                            <a class="" href="#" title="Длинное-длинное название БАД"><img class="img-responsive" src="@Model.PathToImage" alt="Длинное-длинное название БАД"></a>
                            <span class="input-number">
                                <button type="button" class="minus"> - </button>
                                <input type="text" data-link="quantity" autocomplete="off" maxlength="2" class="in_tb numeric ignore" value="1">
                                <button type="button" class="plus"> + </button>
                            </span>
                        </div>
                        <div class="col-md-6 padding0 section-descr">
                            <p>@Model.Description Женьшень - самое ценное лекарственное растение в мире. Корень женьшеня содержит наибольшее количество питательных веществ. Он выращивается на плодородных тибетских долинах без применения гербицидов в течении 7 лет. Корень женьшеня гораздо более богат антиоксидантами, чем любые другие растения в мире.</p>
                            <table class="technic">
                                <tbody>
                                    <tr><td><span>Производитель:</span> @Model.ProducerName</td></tr>
                                    <tr><td><span>Страна:</span> @Model.CountriIsMade</td></tr>
                                    <tr><td><span>Упаковка:</span> 48 капсул</td></tr>
                                </tbody>
                            </table>
                            <div class="bad-price">
                                <p class="price pull-left">@Model.Price Р</p>
                                @using (Html.BeginForm("AddToCart", "ShoppingCart"))
                                {
                                    <p class="pull-right">
                                        @Html.HiddenFor(x => x.ProductId)
                                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                        <button type="submit" class="btn-buy">Купить</button>
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--/.bad -->
        </div>

    </div> <!-- /.container-->
</section><!--/.main-content -->

