﻿@using ColorLongLife.Utilities
@model ColorLongLife.Models.Shop.ProductsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="col-md-8 padding0">
            <h1>Диагностические курсы</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет текст реплика. Психоэмоциональная компонента – это черты вашего характера.</p>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="col-md-12 padding0 course-corection">
            <h2>Цветодиагностика</h2>
            <div class="col-md-8 padding0">
                @*@Html.HiddenFor(x => x.ProductCategoriesId)*@
                @for (int i = 0; i < Model.Products.Count(); i++)
                {
                    <div class="col-md-12 course padding0">
                        <div class="block block-cveto-diagn">
                            <div class="hit-sale">Хит продаж</div>
                            <div class="block-zag">
                                @Model.Products.ElementAt(i).ProductName
                            </div>
                            <div class="bad-category">
                                @Model.Products.ElementAt(i).UseProduct.NameUseProduct
                            </div>
                            <div class="block-content">
                                <h4>О курсе</h4>
                                <p>@Model.Products.ElementAt(i).FullDescription</p>

                            </div>
                            <div class="dop-info-corection">
                                <h4>В составе</h4>
                                <ul class="list-unstyled">
                                    <li><span class="glyphicon glyphicon-ok-sign"> </span> Прохождение диагностики</li>
                                    <li><span class="glyphicon glyphicon-ok-sign"> </span> Расшифровка диагностики</li>
                                    <li><span class="glyphicon glyphicon-ok-sign"> </span> Письменная консультация</li>
                                </ul>
                                <div class="block-price text-center">

                                    <p class="price">@Model.Products.ElementAt(i).Price Р</p>
                                    @using (Html.BeginForm("AddToCart", "ShoppingCart"))
                                    {
                                        @Html.HiddenFor(x => x.Products.ElementAt(i).ProductId)
                                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                        <button type="submit" class="btn-buy">Купить</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-4 paddingleft30 right-menu">
                <ul>
                    <li><a href="">Цветодиагностика</a></li>
                    <li><a href="">Цветодиагностические комплексы</a></li>
                    <li><a href="">Цветокоррекция функциональных систем</a></li>
                    <li><a href="">Цветокоррекция органов</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center">
            <ul class="pagination">
                <li><a href="~/Shop?page=1">Первая</a></li>
                <li>@Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))</li>
                <li><a href="#">Следующая</a></li>
                <li><a href="#">Последняя</a></li>
            </ul>
        </div>
    </div> <!-- /.container-->

    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="" class="left-nav previous pull-right"> </a>
                </div>
                <div class="col-md-6">
                    <a href="" class="right-nav next pull-left">Цветокоррекция</a>
                </div>

            </div>
        </div>

    </div>

</section><!--/.main-content -->
