﻿@model ColorLongLife.Models.Shop.ProductsModel

@{
    ViewBag.Title = "ReccomendsBADs";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="col-md-8 padding0">
            <h1>Биологически активные добавки</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> по результатам диагностики для вас подобран рекомендованный набор биоактивных добавок, позволяющих восполнить дефицит витаминов и микроэлементов. Кроме того, этот комплекс БАДов сможет в целом оказать оздаравливающее воздействие на ваш организм.</p>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="col-md-12 padding0 all-bads">
            <h2>Рекомендованные БАДы</h2>
            <div class="col-md-8 padding0">
                <div class="col-md-6 bad paddingright30">
                    <div class="bad-block block">
                        <div class="bad-name">
                            <a href="">Леди-С формула энерго-тоник</a>
                        </div>
                        <div class="bad-category">
                            Оптимальный объем циркулирующей крови
                        </div>
                        <div class="media bad-description">
                            <a class="pull-left" href="#" title="Длинное-длинное название БАД"><img class="media-object" src="~/Content/img/bad.jpg" alt="Длинное-длинное название БАД"></a>
                            <div class="media-body">
                                <p>Очень краткое описание на что влияет. Очень краткое описание на что влияет. Очень краткое описание на что влияет</p>
                                <table class="technic">
                                    <tbody>
                                        <tr><td><span>Производитель:</span> ЗАО ЦНТИ «Прогресс»</td></tr>
                                        <tr><td><span>Страна:</span> Израиль</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="bad-price">
                            <p class="price pull-left">1960 Р</p>
                            <p class="pull-right"><a href="" class="btn-buy">Купить</a></p>
                        </div>


                    </div>
                </div> <!--/.bad -->
                <div class="col-md-6 bad paddingright30">
                    <div class="bad-block block">
                        <div class="bad-name">
                            <a href="">Тонгкат Али Платинум Made in China</a>
                        </div>
                        <div class="bad-category">
                            Головной мозг
                        </div>
                        <div class="media bad-description">
                            <a class="pull-left" href="#" title="Длинное-длинное название БАД"><img class="media-object" src="~/Content/img/bad.jpg" alt="Длинное-длинное название БАД"></a>
                            <div class="media-body">
                                <p>Очень краткое описание на что влияет. Очень краткое описание на что влияет. Очень краткое описание на что влияет</p>
                                <table class="technic">
                                    <tbody>
                                        <tr><td><span>Производитель:</span> ЗАО ЦНТИ «Прогресс»</td></tr>
                                        <tr><td><span>Страна:</span> Израиль</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="bad-price">
                            <p class="price pull-left">1560 Р</p>
                            <p class="pull-right"><a href="" class="btn-buy">Купить</a></p>
                        </div>


                    </div>
                </div> <!--/.bad -->
                <div class="col-md-6 bad paddingright30">
                    <div class="bad-block block">
                        <div class="bad-name">
                            <a href="">Леди-С формула энерго-тоник</a>
                        </div>
                        <div class="bad-category">
                            Оптимальный объем циркулирующей крови
                        </div>
                        <div class="media bad-description">
                            <a class="pull-left" href="#" title="Длинное-длинное название БАД"><img class="media-object" src="~/Content/img/bad.jpg" alt="Длинное-длинное название БАД"></a>
                            <div class="media-body">
                                <p>Очень краткое описание на что влияет. Очень краткое описание на что влияет. Очень краткое описание на что влияет</p>
                                <table class="technic">
                                    <tbody>
                                        <tr><td><span>Производитель:</span> ЗАО ЦНТИ «Прогресс»</td></tr>
                                        <tr><td><span>Страна:</span> Израиль</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="bad-price">
                            <p class="price pull-left">1960 Р</p>
                            <p class="pull-right"><a href="" class="btn-buy">Купить</a></p>
                        </div>


                    </div>
                </div> <!--/.bad -->
                <div class="col-md-6 bad paddingright30">
                    <div class="bad-block block">
                        <div class="bad-name">
                            <a href="">Тонгкат Али Платинум Made in China</a>
                        </div>
                        <div class="bad-category">
                            Головной мозг
                        </div>
                        <div class="media bad-description">
                            <a class="pull-left" href="#" title="Длинное-длинное название БАД"><img class="media-object" src="~/Content/img/bad.jpg" alt="Длинное-длинное название БАД"></a>
                            <div class="media-body">
                                <p>Очень краткое описание на что влияет. Очень краткое описание на что влияет. Очень краткое описание на что влияет</p>
                                <table class="technic">
                                    <tbody>
                                        <tr><td><span>Производитель:</span> ЗАО ЦНТИ «Прогресс»</td></tr>
                                        <tr><td><span>Страна:</span> Израиль</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="bad-price">
                            <p class="price pull-left">1560 Р</p>
                            <p class="pull-right"><a href="" class="btn-buy">Купить</a></p>
                        </div>


                    </div>
                </div> <!--/.bad -->
                <div class="col-md-6 bad paddingright30">
                    <div class="bad-block block">
                        <div class="bad-name">
                            <a href="">Леди-С формула энерго-тоник</a>
                        </div>
                        <div class="bad-category">
                            Оптимальный объем циркулирующей крови
                        </div>
                        <div class="media bad-description">
                            <a class="pull-left" href="#" title="Длинное-длинное название БАД"><img class="media-object" src="~/Content/img/bad.jpg" alt="Длинное-длинное название БАД"></a>
                            <div class="media-body">
                                <p>Очень краткое описание на что влияет. Очень краткое описание на что влияет. Очень краткое описание на что влияет</p>
                                <table class="technic">
                                    <tbody>
                                        <tr><td><span>Производитель:</span> ЗАО ЦНТИ «Прогресс»</td></tr>
                                        <tr><td><span>Страна:</span> Израиль</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="bad-price">
                            <p class="price pull-left">1960 Р</p>
                            <p class="pull-right"><a href="" class="btn-buy">Купить</a></p>
                        </div>


                    </div>
                </div> <!--/.bad -->
                <div class="col-md-6 bad paddingright30">
                    <div class="bad-block block">
                        <div class="bad-name">
                            <a href="">Тонгкат Али Платинум Made in China</a>
                        </div>
                        <div class="bad-category">
                            Головной мозг
                        </div>
                        <div class="media bad-description">
                            <a class="pull-left" href="#" title="Длинное-длинное название БАД"><img class="media-object" src="~/Content/img/bad.jpg" alt="Длинное-длинное название БАД"></a>
                            <div class="media-body">
                                <p>Очень краткое описание на что влияет. Очень краткое описание на что влияет. Очень краткое описание на что влияет</p>
                                <table class="technic">
                                    <tbody>
                                        <tr><td><span>Производитель:</span> ЗАО ЦНТИ «Прогресс»</td></tr>
                                        <tr><td><span>Страна:</span> Израиль</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="bad-price">
                            <p class="price pull-left">1560 Р</p>
                            <p class="pull-right"><a href="" class="btn-buy">Купить</a></p>
                        </div>


                    </div>
                </div> <!--/.bad -->



            </div>
            <div class="col-md-4 paddingleft30 right-menu">
                <ul>
                    <li><a href="" class="">Для похудения</a></li>
                    <li><a href="" class="">Для женщин</a></li>
                    <li><a href="" class="">Для мужчин</a></li>
                    <li><a href="" class="">Для иммунитета</a></li>
                    <li class="right-menu-second-level">
                        <a href="">Рекомендованные БАДы</a>
                        <ul>
                            <li><a href="" class="">Оптимальный клеточный состав крови</a></li>
                            <li><a href="" class="">Оптимальный объем циркулирующей крови</a></li>
                            <li><a href="" class="">Оптимальный уровень pH</a></li>
                            <li><a href="" class="">Оптимальный уровень осмотического давления</a></li>
                        </ul>

                    </li>
                </ul>
                <div class="col-md-10 rating">
                    <a href="" class="btn-buy">Сортировать по рейтингу ФУС</a>
                    <p><a href="" class="">Подробнее о рейтинге ФУС</a></p>
                </div>


            </div>
        </div>

    </div> <!-- /.container-->

    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="" class="left-nav yellow pull-right">Цветокоррекция</a>
                </div>
                <div class="col-md-6">
                    <a href="~/Shop/BuyBook" class="right-nav next pull-left">Моя книга</a>
                </div>

            </div>
        </div>

    </div>

</section><!--/.main-content -->

