﻿<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800px" height="800px" version="1.1" style="shape-rendering: geometricPrecision; text-rendering: geometricPrecision; image-rendering: optimizeQuality; fill-rule: evenodd; clip-rule: evenodd"
     viewBox="0 0 800 800"
     xmlns:xlink="http://www.w3.org/1999/xlink">

<style type="text/css">
    .str1 {
        stroke: #2B2A29;
        stroke-width: 2;
    }

    .str0 {
        stroke: #CDCDCD;
        stroke-width: 2;
    }

    .str3 {
        stroke: #F8F8F8;
        stroke-width: 2;
    }

    .str2 {
        stroke: #CDCDCD;
        stroke-width: 1;
    }

    .fil0 {
        fill: none;
    }

    .fil3 {
        fill: #FEFEFE;
    }

    .fil23 {
        fill: #2B2A29;
    }

    .fil20 {
        fill: #FFED00;
    }

    .fil5 {
        fill: #FFED00;
    }

    .fil18 {
        fill: #FAD7D8;
    }

    .fil17 {
        fill: #F7B57D;
    }

    .fil21 {
        fill: #F5B2B6;
    }

    .fil9 {
        fill: #F5B2B6;
    }

    .fil8 {
        fill: #EF7F1A;
    }

    .fil13 {
        fill: #EE7B7B;
    }

    .fil6 {
        fill: #E5097F;
    }

    .fil4 {
        fill: #E31E24;
    }

    .fil14 {
        fill: #FCF17C;
    }

    .fil15 {
        fill: #E866A1;
    }

    .fil7 {
        fill: #AE4A84;
    }

    .fil16 {
        fill: #B85EA0;
    }

    .fil24 {
        fill: #5E5971;
    }

    .fil12 {
        fill: #9FD0A9;
    }

    .fil19 {
        fill: #85D0F5;
    }

    .fil25 {
        fill: #849FD2;
    }

    .fil2 {
        fill: #009846;
    }

    .fil22 {
        fill: #008DD2;
    }

    .fil10 {
        fill: #008DD2;
    }

    .fil11 {
        fill: #F8F8F8;
    }

    .fil1 {
        fill: #F0FCFF;
    }

    .fnt0 {
        font-weight: normal;
        font-size: 12.4701px;
        font-family: 'Arial';
    }

    .fnt2 {
        font-weight: normal;
        font-size: 12.4701px;
        font-family: 'Arial';
    }

    .fnt1 {
        font-style: italic;
        font-weight: normal;
        font-size: 12.4701px;
        font-family: 'Arial';
    }
</style>
<g id="externalRadius">
    <metadata id="CorelCorpID_2Corel-Layer"/>
    <circle class="fil0 str0" cx="401" cy="399" r="398"/>
</g>
<g id="sector1">
    <metadata id="CorelCorpID_4Corel-Layer"/>
    <path class="color0" d="M401 231c46,0 89,17 120,49l153 -153c-75,-73 -165,-111 -273,-114l0 218z"/>
    <text x="452" y="116" class="fil3 fnt0">6.2 текст</text>
    <text x="466" y="137" class="fil3 fnt1">текст</text>
</g>
<g id="sector2">
    <metadata id="CorelCorpID_5Corel-Layer"/>
    <path class="color0" d="M520 280c31,29 48,78 51,120l215 0c-1,-103 -43,-204 -112,-273l-154 153z"/>
</g>
<g id="sector3">
    <metadata id="CorelCorpID_6Corel-Layer"/>
    <path class="color0" d="M571 400c-1,42 -23,86 -51,121l152 152c70,-64 110,-172 114,-273l-215 0z"/>
</g>
<g id="sector4">
    <metadata id="CorelCorpID_7Corel-Layer"/>
    <path class="color0" d="M521 521c-31,29 -76,47 -120,49l0 214c96,1 190,-40 271,-111l-151 -152z"/>
</g>
<g id="sector5">
    <metadata id="CorelCorpID_8Corel-Layer"/>
    <path class="color0" d="M280 521c30,28 77,47 121,48l0 215c-101,0 -200,-41 -271,-111l150 -152z"/>
</g>
<g id="sector6">
    <metadata id="CorelCorpID_9Corel-Layer"/>
    <path class="color0" d="M231 400c3,44 24,88 49,121l-150 152c-71,-71 -111,-171 -114,-273l215 0z"/>
</g>
<g id="sector7">
    <metadata id="CorelCorpID_10Corel-Layer"/>
    <path class="color0" d="M281 281c-26,33 -44,77 -50,119l-215 0c-1,-98 43,-203 112,-273l153 154z"/>
</g>
<g id="sector8">
    <metadata id="CorelCorpID_11Corel-Layer"/>
    <path class="color0" d="M401 233c-43,-1 -87,20 -119,47l-154 -153c71,-70 169,-112 273,-114l0 220z"/>
</g>
<g id="innerRing">
    <metadata id="CorelCorpID_12Corel-Layer"/>
    <path class="fil11 str2" d="M401 571c-94,0 -170,-76 -170,-170 0,-94 76,-170 170,-170 94,0 170,76 170,170 0,94 -76,170 -170,170zm0 -11c-88,0 -159,-71 -159,-159 0,-88 71,-159 159,-159 88,0 159,71 159,159 0,88 -71,159 -159,159z"/>
</g>
<g id="externalSector1">
    <metadata id="CorelCorpID_13Corel-Layer"/>
    <path class="color0" d="M561 56c36,17 70,40 101,69l-148 149 7 6c51,-51 102,-102 153,-153 -36,-36 -75,-63 -115,-80 -10,16 -33,6 -31,-13 -43,-14 -87,-22 -127,-22 0,24 0,146 0,219l10 0 0 -211c43,2 79,8 109,19 2,22 25,34 41,17z"/>
</g>
<g id="externalSector2">
    <metadata id="CorelCorpID_14Corel-Layer"/>
    <path class="color0" d="M571 391l208 0c-1,-43 -10,-83 -22,-121 -24,0 -32,-24 -17,-40 -16,-29 -35,-60 -64,-92l-149 149 -6 -7c38,-38 147,-147 153,-153 28,28 55,64 75,104 -15,12 -5,36 13,31 16,41 25,87 25,138l-216 0 0 -9z"/>
</g>
<g id="externalSector3">
    <metadata id="CorelCorpID_15Corel-Layer"/>
    <path class="color0" d="M571 400c50,0 175,0 216,0 0,40 -7,84 -22,127 -19,-2 -28,21 -12,31 -18,40 -44,78 -80,115l-152 -152 7 -6 146 146c30,-31 53,-65 70,-101 -17,-17 -6,-39 16,-41 11,-30 17,-66 19,-109l-208 0 0 -10z"/>
</g>
<g id="externalSector4">
    <metadata id="CorelCorpID_16Corel-Layer"/>
    <path class="color0" d="M529 755c-38,14 -76,22 -118,23l0 -207 -10 0c0,71 0,143 0,214 51,-1 95,-8 136,-25 -5,-18 18,-27 30,-13 41,-20 78,-46 106,-74 -21,-20 -116,-115 -152,-152l-7 7 146 146c-31,29 -62,51 -91,64 -16,-14 -40,-6 -40,17z"/>
</g>
<g id="externalSector5">
    <metadata id="CorelCorpID_17Corel-Layer"/>
    <path class="color0" d="M401 571c0,72 0,143 0,214 -51,-1 -95,-8 -136,-25 4,-18 -19,-27 -30,-12 -41,-20 -78,-47 -106,-75 44,-45 114,-115 151,-152l7 7 -146 146c34,28 64,49 92,64 16,-14 40,-6 40,17 38,12 76,18 118,22l0 -206 10 0z"/>
</g>
<g id="externalSector6">
    <metadata id="CorelCorpID_18Corel-Layer"/>
    <path class="color0" d="M230 400c-50,0 -174,0 -215,0 0,40 7,84 22,127 19,-2 28,21 12,31 18,40 44,78 80,115l152 -151 -7 -7 -146 146c-30,-31 -53,-65 -70,-101 17,-17 6,-39 -16,-41 -11,-30 -17,-66 -19,-109l207 0 0 -10z"/>
</g>
<g id="externalSector7">
    <metadata id="CorelCorpID_19Corel-Layer"/>
    <path class="color0" d="M230 391l-207 0c1,-43 10,-83 22,-121 24,0 32,-24 17,-40 16,-29 35,-60 64,-92l149 149 6 -7c-38,-38 -147,-147 -153,-153 -29,28 -55,64 -75,104 15,12 5,36 -13,31 -16,41 -25,87 -25,138l215 0 0 -9z"/>
</g>
<g id="externalSector8">
    <metadata id="CorelCorpID_20Corel-Layer"/>
    <path class="color0" d="M241 56c-36,17 -70,40 -101,69l148 149 -7 6c-51,-51 -102,-102 -153,-153 36,-36 75,-63 115,-80 10,16 33,6 31,-13 43,-14 87,-22 127,-22 0,23 0,146 0,219l-10 0 0 -211c-43,2 -79,8 -109,19 -2,22 -25,34 -41,17z"/>
</g>
<g id="circleEdit1">
    <circle class="str2" cx="545" cy="38" r="17" fill="white"></circle>
    <circle class="str222" cx="545" cy="38" r="13" stroke-width="2" stroke="rgb(40,170,191)" fill="white"></circle>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="16px" height="16px" viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet" x="537" y="30">
        <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="rgb(40,170,191)" stroke="none">
            <path d="M988 1552 l-847 -847 -69 -350 c-39 -192 -69 -351 -69 -352 1 0 160 31 353 69 l351 70 847 847 846 846 -283 283 -282 282 -847 -848z m987 418 l140 -140 -68 -67 -67 -68 -142 142 -143 143 65 65 c35 36 67 65 70 65 3 0 68 -63 145 -140z m-280 -280 l141 -139 -541 -541 -540 -540 -143 142 -142 143 537 537 c296 296 540 538 543 538 2 0 68 -63 145 -140z m-1093 -1361 c-10 -9 -333 -71 -339 -66 -4 5 51 303 63 336 3 10 51 -31 144 -124 77 -77 136 -142 132 -146z"></path>
        </g>
    </svg>
</g>
<g id="circleEdit2">
    <metadata id="CorelCorpID_22Corel-Layer"/>
    <circle class="fil4 str2" cx="758" cy="246" r="17"/>
</g>
<g id="circleEdit3">
    <metadata id="CorelCorpID_23Corel-Layer"/>
    <circle class="fil20 str2" cx="760" cy="543" r="17"/>
</g>
<g id="circleEdit4">
    <metadata id="CorelCorpID_24Corel-Layer"/>
    <circle class="fil6 str2" cx="553" cy="757" r="17"/>
</g>
<g id="circleEdit5">
    <metadata id="CorelCorpID_25Corel-Layer"/>
    <circle class="fil7 str2" transform="matrix(0.725996 -0.725996 0.707107 0.707107 248.999 756.999)" r="17"/>
</g>
<g id="circleEdit6">
    <metadata id="CorelCorpID_26Corel-Layer"/>
    <circle class="fil8 str2" cx="40" cy="543" r="17"/>
</g>
<g id="circleEdit7">
    <metadata id="CorelCorpID_27Corel-Layer"/>
    <circle class="fil21 str2" cx="45" cy="246" r="17"/>
</g>
<g id="circleEdit8">
    <metadata id="CorelCorpID_28Corel-Layer"/>
    <circle class="fil22 str2" transform="matrix(0.725996 -0.725996 0.707107 0.707107 257 37.9985)" r="17"/>
</g>


<g id="step1">
    <metadata id="CorelCorpID_29Corel-Layer"/>
    <circle class="fil11 str2" cx="461" cy="255" r="9"/>
    <text x="457" y="259" class="fil23 fnt2">1</text>
</g>
<g id="step2">
    <metadata id="CorelCorpID_30Corel-Layer"/>
    <circle class="fil11 str2" cx="547" cy="341" r="9"/>
    <text x="545" y="346" class="fil23 fnt2">2</text>
</g>
<g id="step3">
    <metadata id="CorelCorpID_31Corel-Layer"/>
    <circle class="fil11 str2" cx="546" cy="462" r="9"/>
    <text x="544" y="467" class="fil23 fnt2">3</text>
</g>
<g id="step4">
    <metadata id="CorelCorpID_32Corel-Layer"/>
    <circle class="fil11 str2" cx="461" cy="547" r="9"/>
    <text x="458" y="551" class="fil23 fnt2">4</text>
</g>
<g id="step5">
    <metadata id="CorelCorpID_33Corel-Layer"/>
    <circle class="fil11 str2" cx="341" cy="547" r="9"/>
    <text x="338" y="551" class="fil23 fnt2">5</text>
</g>
<g id="step6">
    <metadata id="CorelCorpID_34Corel-Layer"/>
    <circle class="fil11 str2" cx="256" cy="463" r="9"/>
    <text x="253" y="467" class="fil23 fnt2">6</text>
</g>
<g id="step7">
    <metadata id="CorelCorpID_35Corel-Layer"/>
    <circle class="fil11 str2" cx="254" cy="341" r="9"/>
    <text x="251" y="346" class="fil23 fnt2">7</text>
</g>
<g id="step8">
    <metadata id="CorelCorpID_36Corel-Layer"/>
    <circle class="fil11 str2" cx="341" cy="255" r="9"/>
    <text x="338" y="259" class="fil23 fnt2">8</text>
</g>
<g id="centerRing">
    <metadata id="CorelCorpID_37Corel-Layer"/>
    <circle class="fil24 str3" cx="401" cy="401" r="145"/>
</g>
<g id="externalCenterRing">
    <metadata id="CorelCorpID_38Corel-Layer"/>
    <path class="fil25" d="M401 546c-80,0 -145,-65 -145,-145 0,-80 65,-145 145,-145 80,0 145,65 145,145 0,80 -65,145 -145,145zm0 -10c-74,0 -135,-61 -135,-135 0,-74 61,-135 135,-135 74,0 135,61 135,135 0,74 -61,135 -135,135z"/>
</g>
<g id="line1">
    <metadata id="CorelCorpID_39Corel-Layer"/>
    <line class="fil0 str0" x1="401" y1="231" x2="401" y2="12"/>
</g>
<g id="line2">
    <metadata id="CorelCorpID_40Corel-Layer"/>
    <line class="fil0 str0" x1="521" y1="280" x2="674" y2="127"/>
</g>
<g id="line3">
    <metadata id="CorelCorpID_41Corel-Layer"/>
    <line class="fil0 str0" x1="571" y1="400" x2="787" y2="400"/>
</g>
<g id="line4">
    <metadata id="CorelCorpID_42Corel-Layer"/>
    <line class="fil0 str0" x1="521" y1="522" x2="673" y2="673"/>
</g>
<g id="line5">
    <metadata id="CorelCorpID_43Corel-Layer"/>
    <line class="fil0 str0" x1="401" y1="785" x2="401" y2="571"/>
</g>
<g id="line6">
    <metadata id="CorelCorpID_44Corel-Layer"/>
    <line class="fil0 str0" x1="281" y1="522" x2="129" y2="673"/>
</g>
<g id="line7">
    <metadata id="CorelCorpID_45Corel-Layer"/>
    <line class="fil0 str0" x1="231" y1="400" x2="15" y2="400"/>
</g>
<g id="line8">
    <metadata id="CorelCorpID_46Corel-Layer"/>
    <line class="fil0 str0" x1="281" y1="280" x2="128" y2="127"/>
</g>
</svg>