﻿@model ColorLongLife.Models.HealthPanel.CustomerRequestModel

@{
    ViewBag.Title = "CustomerRequest";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<script src="~/Content/scripts/review.js"></script>

<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/HealthPanel/Index">&larr; Личный кабинет</a></div>
        <div class="col-md-12 padding0">
            <h1>Написать нам</h1>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 padding0 feedback">
            @using (Html.BeginForm("CustomerRequest", "HealthPanel", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="form-group col-md-12 padding0">
                    <div class="col-md-4 padding0">
                        <label for="ddlReviews">Тема обращения</label>
                        @Html.DropDownListFor(x => x.TopicId, ViewBag.Topics as SelectList, "Выберите тему", new { @class = "form-control", id = "ddlReviews" })
                    </div>
                </div>
                <div class="form-group col-md-12 padding0">
                    <div class="col-md-4 padding0">
                        <label for="message">Сообщение</label>
                        @Html.TextAreaFor(x => x.Message, new { @class = "form-control", rows = "3", id = "message", placeholder = "Введите текст сообщения" })
                    </div>
                </div>
                <div class="form-group col-md-12 padding0">
                    <div class="col-md-2 padding0">
                        <label for="exampleInputEmail1">Эл. почта для ответа</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "exampleInputEmail1", placeholder = "Введите свою эл. почту" })
                    </div>
                </div>
                <button type="submit" class="btn btn-send">Отправить</button>
            }
        </div>
        <div class="clearfix"></div>
    </div>
</section><!--/.main-content -->