﻿@model ColorLongLife.Models.HealthPanel.DictionaryTermsModel

@{
    ViewBag.Title = "DictionaryTerms";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/HealthPanel/Index">&larr; Личный кабинет</a></div>
        <div class="col-md-8 padding0 termins">
            <h1>Словарь терминов</h1>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li role="presentation" ><a href="#person" data-toggle="tab">Качества личности</a></li>
                <li role="presentation"><a href="#proces" data-toggle="tab">Психосоматические процессы</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="person">
                    <dl class="dl-horizontal">
                        <dt>Высокомерие</dt>
                        <dd>это величина целей и статус, на которые претендует человек. Маленькие цели, неважен статус - малые амбиции, средний человек. Маленькие цели, но очень важен статус - это честолюбие среднего человека. Большие цели и безразличие к статусу - нацеленность на Максимум жизни большого человека. Большие цели по жизни и важность статуса - большое честолюбие большого человека.</dd>
                        <dt>Страх старости</dt>
                        <dd>имеет три основные стороны. Это чувство уверенности (внутреннее ощущение силы, права и правоты), это уверенное поведение, демонстрирующее силу и характерное для людей с сильной позицией, и это решительность (уверенное принятие и определенность в решениях, решимость).</dd>
                        <dt>Уверенность в себе</dt>
                        <dd>это величина целей и статус, на которые претендует человек. Маленькие цели, неважен статус - малые амбиции, средний человек. Маленькие цели, но очень важен статус - это честолюбие среднего человека. Большие цели и безразличие к статусу - нацеленность на Максимум жизни большого человека. Большие цели по жизни и важность статуса - большое честолюбие большого человека.</dd>
                        <dt>Страх бедности</dt>
                        <dd>имеет три основные стороны. Это чувство уверенности (внутреннее ощущение силы, права и правоты), это уверенное поведение, демонстрирующее силу и характерное для людей с сильной позицией, и это решительность (уверенное принятие и определенность в решениях, решимость).</dd>
                        <dt>Боязнь критики</dt>
                        <dd>это величина целей и статус, на которые претендует человек. Маленькие цели, неважен статус - малые амбиции, средний человек. Маленькие цели, но очень важен статус - это честолюбие среднего человека. Большие цели и безразличие к статусу - нацеленность на Максимум жизни большого человека. Большие цели по жизни и важность статуса - большое честолюбие большого человека.</dd>
                        <dt>Страх перед <br />болезнью</dt>
                        <dd>имеет три основные стороны. Это чувство уверенности (внутреннее ощущение силы, права и правоты), это уверенное поведение, демонстрирующее силу и характерное для людей с сильной позицией, и это решительность (уверенное принятие и определенность в решениях, решимость).</dd>
                    </dl>
                </div>
                <div class="tab-pane" id="proces">
                    <dl class="dl-horizontal">
                        <div class="dl-heading">Головной мозг</div>
                        <dt>Энцефалит</dt>
                        <dd>это величина целей и статус, на которые претендует человек. Маленькие цели, неважен статус - малые амбиции, средний человек. Маленькие цели, но очень важен статус - это честолюбие среднего человека. Большие цели и безразличие к статусу - нацеленность на Максимум жизни большого человека. Большие цели по жизни и важность статуса - большое честолюбие большого человека</dd>
                        <dt>Аномалии развития</dt>
                        <dd>имеет три основные стороны. Это чувство уверенности (внутреннее ощущение силы, права и правоты), это уверенное поведение, демонстрирующее силу и характерное для людей с сильной позицией, и это решительность (уверенное принятие и определенность в решениях, решимость).</dd>
                        <dt>Дегенеративный <br />процесс</dt>
                        <dd>это величина целей и статус, на которые претендует человек. Маленькие цели, неважен статус - малые амбиции, средний человек. Маленькие цели, но очень важен статус - это честолюбие среднего человека. Большие цели и безразличие к статусу - нацеленность на Максимум жизни большого человека. Большие цели по жизни и важность статуса - большое честолюбие большого человека.</dd>
                        <dt>Арахноидит</dt>
                        <dd>имеет три основные стороны. Это чувство уверенности (внутреннее ощущение силы, права и правоты), это уверенное поведение, демонстрирующее силу и характерное для людей с сильной позицией, и это решительность (уверенное принятие и определенность в решениях, решимость).</dd>
                        <div class="dl-heading">Периферическая нервная система</div>
                        <dt>Функциональные <br />изменения</dt>
                        <dd>это величина целей и статус, на которые претендует человек. Маленькие цели, неважен статус - малые амбиции, средний человек. Маленькие цели, но очень важен статус - это честолюбие среднего человека. Большие цели и безразличие к статусу - нацеленность на Максимум жизни большого человека. Большие цели по жизни и важность статуса - большое честолюбие большого человека.</dd>
                        <dt>Нарушения мозгового<br /> кровообращения</dt>
                        <dd>имеет три основные стороны. Это чувство уверенности (внутреннее ощущение силы, права и правоты), это уверенное поведение, демонстрирующее силу и характерное для людей с сильной позицией, и это решительность (уверенное принятие и определенность в решениях, решимость).</dd>
                        <dt>Дегенеративный <br /> процесс</dt>
                        <dd>имеет три основные стороны. Это чувство уверенности (внутреннее ощущение силы, права и правоты), это уверенное поведение, демонстрирующее силу и характерное для людей с сильной позицией, и это решительность (уверенное принятие и определенность в решениях, решимость).</dd>
                        <dt>Арахноидит</dt>
                        <dd>имеет три основные стороны. Это чувство уверенности (внутреннее ощущение силы, права и правоты), это уверенное поведение, демонстрирующее силу и характерное для людей с сильной позицией, и это решительность (уверенное принятие и определенность в решениях, решимость).</dd>
                        <div class="dl-heading">Спинной мозг</div>
                        <dt>Функциональные <br />изменения</dt>
                        <dd>это величина целей и статус, на которые претендует человек. Маленькие цели, неважен статус - малые амбиции, средний человек. Маленькие цели, но очень важен статус - это честолюбие среднего человека. Большие цели и безразличие к статусу - нацеленность на Максимум жизни большого человека. Большие цели по жизни и важность статуса - большое честолюбие большого человека.</dd>
                        <dt>Нарушения мозгового<br /> кровообращения</dt>
                        <dd>имеет три основные стороны. Это чувство уверенности (внутреннее ощущение силы, права и правоты), это уверенное поведение, демонстрирующее силу и характерное для людей с сильной позицией, и это решительность (уверенное принятие и определенность в решениях, решимость).</dd>
                        <dt>Дегенеративный <br /> процесс</dt>
                        <dd>имеет три основные стороны. Это чувство уверенности (внутреннее ощущение силы, права и правоты), это уверенное поведение, демонстрирующее силу и характерное для людей с сильной позицией, и это решительность (уверенное принятие и определенность в решениях, решимость).</dd>
                        <dt>Арахноидит</dt>
                        <dd>имеет три основные стороны. Это чувство уверенности (внутреннее ощущение силы, права и правоты), это уверенное поведение, демонстрирующее силу и характерное для людей с сильной позицией, и это решительность (уверенное принятие и определенность в решениях, решимость).</dd>
                    </dl>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

</section><!--/.main-content -->