﻿@model ColorLongLife.Models.HealthPanel.DownloadProgramModel

@{
    ViewBag.Title = "DownloadProgram";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@using (Html.BeginForm("DownloadProgram", "HealthPanel", FormMethod.Post))
{
    <section class="main-content">
        <div class="container">
            <div class="breadcrumbs">
                <a href="~/HealthPanel/Index">&larr; Личный кабинет</a>
            </div>
            <div class="col-md-12 padding0">
                <h1>Программа «Виртуальный сканер здоровья»</h1>
                <h2>Инструкция по установке</h2>
                <p>Здесь будет текст инструкции.</p>

                <p>
                    По результатам теста получены следующие данные о вашем психологическом и физиологическом здоровье.
                    В таблице ниже вы видите ваш персональный психосоматический симптомокомплекс: слева — список деструктивных эмоций и черт характера, а справа — их влияние на ваше здоровье.
                </p>
                <div class="col-md-3 primer primer-download padding0">
                    <button type="submit">Скачать программу</button>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
        <hr />
        <div class="container">
            <div class="col-md-3"></div>
            <div class="col-md-6 video">
                <p>Видео-инструкция по работе с программой</p>
                <p>
                    <img src="~/Content/img/play.jpg" />
                </p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </section>
    <!--/.main-content -->
}