﻿@using ColorLongLife.Utilities
@model ColorLongLife.Models.HealthPanel.EditProfileModel

@{
    ViewBag.Title = "Редактирование профиля";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@section styles
{
    <link href="~/Content/Styles/datepicker.css" rel="stylesheet">
}

@section scripts
{
    <script src="~/Content/scripts/edit-profile.js"></script>
}

<section class="main-content">
    <div class="container">
        @if (ViewBag.IsUpdateSuccess != null && ViewBag.IsUpdateSuccess)
        {
            <div>
                <p class="bg-success">Данные успешно сохранены!</p>
            </div>
        }
        <div class="breadcrumbs">
            <a href="~/HealthPanel">&larr; Личный кабинет</a>
        </div>
        <div class="col-md-12 padding0">
            <h1>Редактировать мои данные</h1>
            <h2>Личные данные</h2>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-8 padding0 feedback feedback-edit">
            @using (Html.BeginForm("EditProfile", "HealthPanel", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(x => x.UserId)
                <div class="col-md-12 padding0">
                    <div class="form-group col-md-3 padding0">
                        <label for="InputFIO">Фамилия</label>
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", id = "InputFIO" })
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1 padding0">
                        <label for="InputName">Имя</label>
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", id = "InputName" })
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1 padding0">
                        <label for="InputSecondName">Отчество</label>
                        @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control", id = "InputSecondName" })
                    </div>
                </div>
                <div class="col-md-12 padding0">
                    <div class="form-group col-md-3 padding0">
                        <label for="InputBirthday">Дата рождения</label>
                        @Html.TextBoxFor(x => x.Birthday, new { @class = "form-control date", id = "InputBirthday" })
                    </div>
                    <div class="radio1 col-md-2 col-md-offset-1 padding0">
                        <p>Пол</p>

                        @Html.RadioButtonFor(x => x.Gender, Gender.Male, new { name = "rbtnGender", id = "optionsRadios2" })
                        <label><span class="cbxGender"></span> Мужской</label>

                    </div>
                    <div class="radio1 col-md-2 padding0">
                        <p style="text-indent: -999999999px;">Пол</p>

                        @Html.RadioButtonFor(x => x.Gender, Gender.Female, new { name = "rbtnGender", id = "optionsRadios1" })
                        <label><span class="cbxGender"></span>Женский</label>

                    </div>
                    <div class="form-group col-md-1  padding0">
                        <label for="weight">Рост <span>(см.)</span></label>
                        @Html.TextBoxFor(x => x.Growth, new { @class = "form-control", id = "weight" })
                    </div>
                    <div class="form-group col-md-1 col-md-offset-1 padding0">
                        <label for="height">Вес (кг.)</label>
                        @Html.TextBoxFor(x => x.Weight, new { @class = "form-control", id = "height" })
                    </div>
                </div>
                <div class="col-md-12 padding0">
                    <div class="form-group col-md-3 padding0">
                        <label for="ddlCountries">Страна проживания</label>
                        @Html.DropDownListFor(x => x.CountryId, ViewBag.Countries as SelectList, "Выберите страну", new { @class = "form-control", id = "ddlCountries" })
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1 padding0">
                        <label for="ddlCities">Город</label>
                        @Html.DropDownListFor(x => x.CityId, ViewBag.Cities as SelectList, "Выберите город", new { @class = "form-control", id = "ddlCities" })
                    </div>
                </div>

                <h2>Контактная информация</h2>

                <div class="col-md-12 padding0">
                    <div class="form-group col-md-3 padding0">
                        <label for="telephone">Телефон</label>
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", id = "telephone" })
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1 padding0">
                        <label for="email">Эл. почта</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "email" })
                        @*<span><img src="~/Content/img/error.png" />Эл. почта не введена</span>*@
                    </div>
                </div>

                <h2>Изменение пароля</h2>

                <div class="col-md-12 padding0">
                    <div class="form-group col-md-3 padding0">
                        <label for="passwordold">Старый пароль</label>
                        @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control", id = "passwordold" })
                    </div>
                </div>
                <div class="col-md-12 padding0 pole-pasw">
                    <div class="form-group col-md-3 padding0">
                        <label for="passwordnew">Новый пароль</label>
                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", id = "passwordnew" })
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1 padding0">
                        <label for="passwordnew">Повторите новый пароль</label>
                        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", id = "passwordnew" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <button type="submit" class="btn btn-send">Сохранить</button>
                @Html.ActionLink("Удалить аккаунт", "DeleteProfile", "HealthPanel", new { userId = Model.Email }, new { @class = "btn-delete" })
            }
        </div>
    </div>
</section><!--/.main-content -->