﻿@model ColorLongLife.Models.HealthPanel.IndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="col-md-8 padding0">
            <div class="intro">
                <p><span>@Model.FirstName</span>, приветсвуем вас в нашем сервисе!</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-8 padding0">
            <div class="kartochka">
                <div class="head">Карточка пользователя</div>
                <table class="table table-striped table-bordered table-user">
                    <tbody>
                        <tr class="first-line">
                            <td colspan="3">@Model.LastName @Model.FirstName @Model.MiddleName <a href="~/healthpanel/editprofile" class="edit" title="редактировать"> </a></td>
                        </tr>
                        <tr>
                            <td>Дата рождения: <span>@Model.Birthday.ToString("dd MMMM yyyy")</span></td>
                            <td>Телефон: <span>@Model.Phone</span></td>
                            <td>Эл.почта: <span>@Model.Email</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1 padding0">
            <div class="primer">
                <a href="~/DemoDecryption/Index">Пример <br />расшифровки</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="how-work">
            <div class="head">Как пользоваться личным кабинетом?</div>
            <div class="pagination-arrow">
                <div class="pag pag1 width20 width30 width50"><span>1</span></div>
                <div class="pag pag2 width20 width30 width50"><span>2</span></div>
                <div class="pag pag3 width20 width30 width50"><span>3</span></div>
                <div class="pag pag4 width20 width30 width50"><span>4</span></div>
                <div class="pag pag5 width20 width30 width50"><span>5</span></div>
            </div>
            <ul class="list-inline">
                <li class="width20">
                    <p class="pag-text"><a href="~/DemoDecryption/Index">Посмотрите пример</a> расшифровки психологического и физиологического состояния здоровья. Решите — будет ли полная информация о самом себе полезна в вашей жизни?</p>
                    <p class="text-center"><a href="~/DemoDecryption/Index" class="download">Посмотреть пример</a></p>
                </li>
                <li class="width20">
                    <p class="pag-text">В программе «Название программы» пройти диагностику. <a href="~/HealthPanel/DownloadProgram">Скачать</a> ее, если этого еще не сделали.</p>
                    <p class="text-center"><a href="~/HealthPanel/DownloadProgram" class="download">Скачать сканер</a></p>
                </li>
                <li class="width20">
                    <p class="pag-text">Сформированный файл диагностики необходимо <a href="~/HealthPanel/SendAFile">отправить на расшифровку</a>. Если расшифровка разовая, то она является платной. Если вы отправляетет расшифровку в рамках тарифа, то отдельно оплачивать ее не нужно.</p>
                    <p class="text-center"><a href="~/HealthPanel/SendAFile" class="download">Отправить</a></p>
                </li>
                <li class="width20">
                    <p class="pag-text">Вы можете <a href="#">ознакомиться с результататами</a> диагностики, полученные после расшифровки присланного вами файла. Объем расшифрованных данных зависит от выбранного вами тарифа.</p>
                    <p class="text-center"><a href="#" class="download">Узнать результаты</a></p>
                    <div class="text-center all-kyrs"><a href="#">Все тарифы и курсы</a></div>
                </li>
                <li class="width20">
                    <p class="pag-text">После того как вы ознакомитесь с состоянием вашего здоровья вы сможете принять решение о проведении лечения, выбрать курс коррекции или проконсультироваться со специалистом для получения более подробной информации.</p>
                    <p class="text-center"><a href="~/HealthPanel/OnlineConsultation" class="download">Онлайн консультация</a></p>
                </li>
            </ul>
        </div>
    </div>
</section><!--/.main-content -->