﻿@model ColorLongLife.Models.HealthPanel.OnlineConsultationModel

@{
    ViewBag.Title = "Запись на онлайн-консультацию";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Content/scripts/dto-models.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/scripts/online-consultation.js")"></script>
}


@section styles
{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Styles/online-consultation.css")"/>
}
<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/healthpanel">&larr; Личный кабинет</a>
        </div>
        <div class="col-md-8 padding0">
            <h1>Запись на онлайн-консультацию</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь можно записаться на онлайн-консультацию и получить ответы на все вопросы и получить рекомендации от наших ведущих специалистов.
                </p>
            </div>
        </div>
        <div class="col-md-12 padding0">
            <div class="zapis col-md-6 padding0">
                <ul class="pager">
                    <li class="previous"><a href="#">&larr; 18.09-23.09</a></li>
                    <span>+3 недели от текущей</span>
                    <li class="next"><a href="#">02.10-06.11 &rarr;</a></li>
                </ul>
                @foreach (var day in Model.Days)
                {
                    <div class="col-md-2">
                        <div class="around-table">
                            <table class="table table-hover table-zapis" data-date="@day.Date.ToString("dd/MM/yyyy")">
                                <tbody>
                                <tr><th>@day.Date.ToString("dd.MM") <br/>@day.ShortName.Substring(0, 2)</th></tr>
                                @foreach (var timeslot in day.Timeslots)
                                {
                                    if (timeslot.IsReserved)
                                    {
                                        <tr><td class="timeslot active" data-start-time="@timeslot.StartTime">@timeslot.StartTime.ToString(@"hh\:mm")</td></tr>
                                    }
                                    else
                                    {
                                        <tr><td class="timeslot" data-start-time="@timeslot.StartTime">@timeslot.StartTime.ToString(@"hh\:mm")</td></tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                <div class="col-md-10 padding25">
                    <div class="bottom-under-table">
                        <p class="text-center first-ab">Консультация</p>
                        <p class="text-center second-ab">27 сентября, вторник, в 15:00</p>
                        <p class="text-center third-ab"><span>900 Р</span></p>
                    </div>
                    <p class="text-center marg"><a href="#" class="download">Записаться</a>
                    </p>
                </div>
            </div> <!-- /.zapis -->

            <div class="clar col-md-6 col-md-pull-1">
                <ul class="list-unstyled">
                    <li>1. Выберите удобный для вас день</li>
                    <li>2. Выберите предпочитаемое время.</li>
                    <li>3. Подтвердите запись на консультацию, после этого вы будете перенаправлены на страницу онлайн-оплаты консультации.</li>
                    <li>
                        <div class="sqfree"> </div> — свободное время</li>
                    <li>
                        <div class="sqbusy"> </div> — время занято</li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="specialists">
            <h2>Наши специалисты</h2>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="~/Content/img/spec1.png" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Константинопольский Иннокентий </h4>
                    <p>Эти качества создают проблемы со здоровьем, ухудшают отношения с окружающими и усложняют вашу жизнь. С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                    <p>С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="~/Content/img/spec2.png" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Константинопольский Иннокентий </h4>
                    <p>Эти качества создают проблемы со здоровьем, ухудшают отношения с окружающими и усложняют вашу жизнь. С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                    <p>С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="~/Content/img/spec1.png" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Константинопольский Иннокентий </h4>
                    <p>Эти качества создают проблемы со здоровьем, ухудшают отношения с окружающими и усложняют вашу жизнь. С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                    <p>С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                </div>
            </div>
            <div class="col-md-3 all-spec"><a href="">Все консультанты</a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="consultantsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-convert">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Свободные специалисты</h4>
                </div>
                <div class="modal-body">
                    <div class="media">
                        <a class="pull-left" href="javascript:void(0)">
                            <img class="media-object" src="~/Content/img/spec1.png" alt="" width="75" height="75">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Константинопольский Иннокентий </h4>
                            <p>Эти качества создают проблемы со здоровьем, ухудшают отношения с окружающими и усложняют вашу жизнь. С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                            <p>С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="~/Content/img/spec2.png" alt="" width="75" height="75">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Константинопольский Иннокентий </h4>
                            <p>Эти качества создают проблемы со здоровьем, ухудшают отношения с окружающими и усложняют вашу жизнь. С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                            <p>С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="~/Content/img/spec1.png" alt="" width="75" height="75">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Константинопольский Иннокентий </h4>
                            <p>Эти качества создают проблемы со здоровьем, ухудшают отношения с окружающими и усложняют вашу жизнь. С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                            <p>С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!--/.main-content -->