﻿@model ColorLongLife.Models.HealthPanel.SendAFileModel

@{
    ViewBag.Title = "SendAFile";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@section scripts
{
    <script src="~/Content/scripts/hak.js"></script>
}
@using (Html.BeginForm("SendAFile", "HealthPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    //Html.HiddenFor(x => x.UserId)
    <section class="main-content">
        <div class="container">
            <div class="col-md-8 padding0">
                <h1>Расшифровка диагностики</h1>
                <div class="intro-2">
                    <p><span>@Model.FirstName,</span> здесь вы можете отправить диагностику на расшифровку. Среднее время расшифровки диагностики 2 дня.</p>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 send-diagnostic padding0">
                <h2>Отправка диагностики на расшифровку</h2>
                <div class="top-4 padding0">
                    <div class="pagination-arrow">
                        <div class="col-md-8 padding0">
                            <div class="col-md-4 padding0">
                                <div class="pag pag1"><p><span>1</span></p></div>
                                <div>Загрузите файл диагностики с вашего компьютера</div>
                                <label class="file_upload">
                                    <span class="button">Загрузить файл</span>
                                    <mark>Файл не выбран</mark>
                                    <input type="file" name="file">
                                </label>
                                <!--<div class="text-center">
                                    <div class="form-group">
                                        <input type="file" id="inputFile" class="download">
                                        <p class="help-block">file_1.scn</p>
                                    </div>
                                </div>-->
                            </div>
                            <div class="col-md-4 padding0 text-center">
                                <div class="pag pag2"><p><span>2</span></p></div>
                                <div class="col-md-10 col-md-offset-1 padding0 text-left">Укажите кому принадлежит диагностика</div>
                                <div class="col-md-10 col-md-offset-1 padding0 text-left">
                                    <select class="form-control">
                                        <option> @Model.FirstName @Model.LastName</option>
                                        <option>Анна Зареченская</option>
                                        <option>Ольга Новинкова</option>
                                        <option>Екатерина Пушкова</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 padding0 text-center">
                                <div class="pag pag3"><p><span>3</span></p></div>
                                <div class="col-md-10 col-md-offset-1 padding0 text-left">Какую расшифровку хотите купить</div>
                                <div class="col-md-10 col-md-offset-1 padding0 text-left">
                                    <select class="form-control">
                                        <option>Краткую (1510 руб.)</option>
                                        <option>Полную (4510 руб.)</option>
                                        <option>По оплаченному тарифу</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 padding0 text-center">
                            <div class="pag pag4"><p><span>4</span></p></div>
                            <div class="primer col-md-8 col-md-offset-2 padding0"><button class="primer" type="submit">Отправить и перейти к оплате</button></div>
                        </div>
                    </div>

                </div>

            </div> <!--/send-diagnostic -->

        </div>

    </section><!--/.main-content -->
}