﻿@model ColorLongLife.Models.HealthPanel.SendAFileResponseModel

@{
    ViewBag.Title = "SendAFileResponse";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="col-md-8 padding0">
            <h1>Расшифровка диагностики</h1>
            <div class="intro-1">
                <p><span>@Model.FirstName,</span> спасибо, ваша диагностика отправлена.</p>
            </div>
            <div class="otvet col-md-8">
                <p>
                    После завершения расшифровки вы получите сообщение на адрес
                    электронной почты и сможете просмотреть результаты в разделе
                    «Результат диагностики» в своем личном кабинете.
                </p>
                <p><a href="~/HealthPanel/SendAFile" class="download">Отправить еще файл</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

</section><!--/.main-content -->
