﻿@{
    Layout = "~/Areas/admin/Views/Shared/_DefaultAdminLayoutPage.cshtml";
}

@section styles{
    @RenderSection("styles", false)
}

@section scripts{
    @RenderSection("scripts", false)
}

<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
        <div>
            @Html.Partial("Partials/_Alert")
        </div>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    @RenderBody()
</section>
<script>
        jQuery.validator.methods["date"] = function (value, element) {
            return true;
        }
</script>