﻿@using GridMvc.Html
@model ColorLongLife.Areas.admin.Models.Users.IndexModel

@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Areas/admin/Views/Shared/_DefaultAdminLayoutPage.cshtml";
}

@section styles{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Gridmvc.css")" />
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/gridmvc.js")"></script>
}

<h2>Список существующих пользователей</h2>

<div>
    @Html.Grid(Model.Users).Columns(columns =>
    {
        columns.Add(x => x.FirstName, "FirstName")
            .Titled("Имя");
        columns.Add(x => x.MiddleName, "MiddleName")
            .Titled("Отчество");
        columns.Add(x => x.LastName, "LastName")
            .Titled("Фамилия");
        columns.Add(x => x.Email, "Email")
            .Titled("Эл. почта");
        columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(250)
            .RenderValueAs(x =>
                @<div>
                    @Html.RouteLink("Редактировать", "users_edit", new {userId = x.UserId}, new {@class = "btn btn-primary btn-flat"})
                    @Html.RouteLink("Удалить", "users_delete", new {userId = x.UserId}, new {@class = "btn btn-danger btn-flat"})
                </div>);
    })
    <a class="btn btn-link" href="@Url.RouteUrl("users_create")">Создать</a>
</div>