﻿@model ColorLongLife.Areas.admin.Models.Consultants.ConsultantModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_CRUDLayout.cshtml";
}

@section styles
{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Areas/admin/plugins/select2/select2.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Areas/admin/plugins/fileupload/css/fileinput.min.css")"/>
}

@section scripts{
    <script type="text/javascript" src="~/Areas/admin/plugins/select2/select2.full.js"></script>
    <script type="text/javascript" src="~/Areas/admin/plugins/fileupload/canvas-to-blob.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/plugins/fileupload/fileinput.min.js"></script>
    <script type="text/javascript" src="~/Areas/admin/plugins/fileupload/locale/fileinput_locale_ru.js"></script>
    <script type="text/javascript">
        $('#ddlPosition').select2();
        $('#pathToImage').fileinput({
            showUpload: false,
            showCaption: true,
            allowedFileTypes: ['image'],
            allowedFileExtensions: ['jpg', 'png'],
            maxFileSize: 5120, // max file size is 5Mb
            maxFileCount: 1,
            msgInvalidFileExtension: 'Выбран неверный тип файла "{name}". Только "{extensions}" файлы разрешено загружать.',
            msgInvalidFileType: 'Выбран неверный тип файла "{name}". Только "{types}" файлы разрешено загружать.',
            msgSizeTooLarge: 'Файл "{name}" ({size} KB) превысил допустимый размер файла {maxSize} KB. Пожалуйста, выберите новый файл!'
        });
    </script>
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Добавление нового врача</h3>
    </div>
    @using (Html.BeginForm("Create", "ConsultantsAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="box-body">
            <div class="form-group">
                <label for="tbxFirstName">Фамилия</label>
                @Html.TextBoxFor(x => x.LastName, new { id = "tbxLastName", @class = "form-control", placeholder = "Фамилия" })
            </div>
            <div class="form-group">
                <label for="tbxFirstName">Имя</label>
                @Html.TextBoxFor(x => x.FirstName, new {id = "tbxFirstName", @class = "form-control", placeholder = "Имя"})
            </div>
            <div class="form-group">
                <label for="tbxFirstName">Отчество</label>
                @Html.TextBoxFor(x => x.MiddleName, new {id = "tbxMiddleName", @class = "form-control", placeholder = "Отчество"})
            </div>
            <div class="form-group">
                <label for="tbxDescription">Описание</label>
                @Html.TextAreaFor(x => x.Description, new {id = "tbxDescription", @class = "form-control", placeholder = "Краткое описание"})
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Фотография врача</label>
                <input type="file" class="file" id="pathToImage" name="file">
            </div>
            <div class="form-group">
                <label for="ddlPosition">Должность</label>
                @Html.DropDownListFor(x => x.PositionId, ViewBag.Positions as SelectList, new { id = "ddlPosition", @class = "form-control" })
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-success" type="submit">Сохранить</button>
            <a class="btn btn-link" href="@Url.RouteUrl("consultants")">Назад</a>
        </div>
    }
</div>