﻿@using GridMvc.Html
@model ColorLongLife.Areas.admin.Models.Consultants.IndexModel

@{
    ViewBag.Title = "Консультанты";
    Layout = "~/Areas/admin/Views/Shared/_CRUDLayout.cshtml";
}

<div>
    @Html.Grid(Model.Consultants).Columns(columns =>
            {
                columns.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(150)
                    .RenderValueAs(x =>
                    @<img alt="@($"{x.LastName} {x.FirstName} {x.MiddleName}")" src="@x.PathToImage" width="75" height="75" class="img-circle" />);
                columns.Add(x => x.LastName, "LastName")
                    .Titled("Фамилия");
                columns.Add(x => x.FirstName, "FirstName")
                    .Titled("Имя");
                columns.Add(x => x.MiddleName, "MiddleName")
                    .Titled("Отчество");
                columns.Add(x => x.Description, "Description")
                    .Titled("Описание");
                columns.Add(x => x.PositionName, "PositionName")
                    .Titled("Должность");
                columns.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(250)
                    .RenderValueAs(x =>
                    @<div class="btn-group">
                        @Html.RouteLink("Редактировать", "consultants_edit", new { consultantId = x.DoctorId }, new { @class = "btn btn-primary btn-flat" })
                        @Html.RouteLink("Удалить", "consultants_delete", new { consultantId = x.DoctorId }, new { @class = "btn btn-danger btn-flat" })
                    </div>);
            })
</div>
<a class="btn btn-link" href="@Url.RouteUrl("consultants_create")">Создать</a>