﻿@model ColorLongLife.Areas.admin.Models.Positions.PositionModel

@{
    ViewBag.Title = "Новая должность";
    Layout = "~/Areas/admin/Views/Shared/_CRUDLayout.cshtml";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Добавление новой должности</h3>
    </div>
    @using (Html.BeginForm("Create", "PositionsAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="box-body">
            <div class="form-group">
                <label for="tbxTitle">Заголовок</label>
                @Html.TextBoxFor(x => x.Title, new {id = "tbxTitle", @class = "form-control", placeholder = "Должность"})
            </div>
            <div class="form-group">
                <label for="tbxDescription">Описание</label>
                @Html.TextAreaFor(x => x.Description, new { id = "tbxDescription", @class = "form-control", placeholder = "Краткое описание" })
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-success" type="submit">Сохранить</button>
            <a class="btn btn-link" href="/admin/database/positions">Назад</a>
        </div>
    }
</div>