﻿@using GridMvc.Html
@model ColorLongLife.Areas.admin.Models.Positions.IndexModel

@{
    ViewBag.Title = "Должности";
    Layout = "~/Areas/admin/Views/Shared/_CRUDLayout.cshtml";
}

@section styles{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Gridmvc.css")" />
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/gridmvc.js")"></script>
}

<h2>Список существующих должностей</h2>

<div>
    @Html.Grid(Model.Positions).Columns(columns =>
    {
        columns.Add(x => x.Title, "Title")
            .Titled("Должность");
        columns.Add(x => x.Description, "Description")
            .Titled("Описание");
        columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(250)
            .RenderValueAs(x =>
            @<div class="btn-group">
                @Html.RouteLink("Редактировать", "positions_edit", new { positionId = x.PositionId }, new { @class = "btn btn-primary btn-flat" })
                @Html.RouteLink("Удалить", "positions_delete", new { positionId = x.PositionId }, new { @class = "btn btn-danger btn-flat" })
            </div>);
    })

    <a class="btn btn-link" href="@Url.RouteUrl("positions_create")">Создать</a>
</div>