﻿@model ColorLongLife.Models.DemoDecryption.DemoLongCorretionModel

@{
    ViewBag.Title = "DemoLongCorretion";
    Layout = "~/Views/Shared/_DemoCorrectionLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/HealthPanel/Index">&larr; Личный кабинет</a></div>
        <div class="col-md-7 padding0 main-vivod">
            <h1>Мои курсы коррекции</h1>
            <div class="col-md-7 padding0"><h2>Длительные тарифы</h2></div><div class="dop-tarif col-md-5 padding0"><a href="~/DemoDecryption/DemoMyCorretion">Краткая диагностика</a></div>
        </div> <!-- /.main-vivod-->

        <div class="col-md-3 col-md-offset-2 demo">
            <p><img class="error" src="~/Content/img/error.png" />Внимание! Все представленные данные имеют демонстрационный характер.</p>
            <p>Деморасшифровка</p>
            <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo">Женщина, 30 - 50 лет</button>
            <div id="demo" class="collapse">
                <div class="demo-block col-md-12 arrow-top">
                    <div class="demo-head">Деморасшифровки</div>
                    <div class="demo-men col-md-5 col-md-offset-1">
                        <div class="demo-men-head">Мужчины <span>(возвраст, лет)</span></div>
                        <a href="">5 - 7</a>
                        <a href="">7 - 12</a>
                        <a href="">12 - 17</a>
                        <a href="">17 - 25</a>
                        <a href="">больше 25</a>
                    </div>
                    <div class="demo-women col-md-5 col-md-offset-1">
                        <div class="demo-women-head">Женщины <span>(возвраст, лет)</span></div>
                        <a href="">5 - 7</a>
                        <a href="">7 - 12</a>
                        <a href="">12 - 17</a>
                        <a href="">17 - 25</a>
                        <a href="">больше 25</a>
                    </div>
                    <div class="clearfix"></div>
                    <p class="dop-info"><img class="info" src="~/Content/img/info.png" />Кликните на интересующий пол и возраст для получения деморасшифровки</p>
                    <p class="text-center"><button type="button" class="btn btn-roll-up" data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-chevron-up"> </span>Свернуть</button></p>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="col-md-12 padding0 tarifs">
            <div class="col-md-7 padding0">
                <h2>Тариф "<span>Мой личный доктор</span>"</h2>
                <div class="intro-2">
                    <p><span>@Model.FirstName,</span> в рамках данного тарифа Вы пройдете 48 диагностик и 8 курсов коррекции. </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-9 padding0">
                <div class="col-md-6 padding0">
                    <div class="my-tarif">
                        <div class="block-zag in-procesing">
                            2 месяц
                            <p class="pull-right">В процессе <span>06.09.2015 - 06.10.2015</span></p>
                        </div>
                        <div class="block-content">
                            <div class="row-content">
                                <p class="pull-left">5 диагностика <span>07.09.2015</span></p>
                                <p class="pull-right"><a href="~/HealthPanel/SendAFile">На расшифровку</a></p>
                            </div>
                            <div class="row-content">
                                <p class="pull-left">6 диагностика <span>14.09.2015</span></p>
                                <p class="pull-right"><a href="~/HealthPanel/SendAFile">На расшифровку</a></p>
                            </div>
                            <div class="row-content">
                                <p class="pull-left">7 диагностика<span>21.09.2015</span></p>
                                <p class="pull-right"><a href="~/HealthPanel/SendAFile">На расшифровку</a></p>
                            </div>
                            <div class="row-content">
                                <p class="pull-left">8 диагностика<span>14.09.2015</span></p>
                                <p class="pull-right"><a href="~/HealthPanel/SendAFile">На расшифровку</a></p>
                            </div>
                        </div>
                        <div class="dop-info-corection"><a href="" class="btn-buy">Скачать вторую часть коррекции</a></div>
                    </div>
                </div>
                <div class="col-md-6 paddingleft30">
                    <div class="my-tarif2">
                        <div class="block-zag">
                            1 месяц
                            <p class="pull-right ended">Завершен <span>05.08.2015 - 06.09.2015</span></p>
                        </div>
                        <div class="block-content">
                            <div class="row-content">
                                <p class="pull-left">1 неделя коррекции<span>Диагностика от 10.08.201</span></p>
                                <p class="pull-right"><a href="">Результаты</a></p>
                            </div>
                            <div class="row-content">
                                <p class="pull-left">2 неделя коррекции<span>Диагностика от 16.08.201</span></p>
                                <p class="pull-right"><a href="">Результаты</a></p>
                            </div>
                            <div class="row-content">
                                <p class="pull-left">3 неделя коррекции<span>Диагностика от 22.08.201</span></p>
                                <p class="pull-right"><a href="">Результаты</a></p>
                            </div>
                            <div class="row-content">
                                <p class="pull-left">1 неделя коррекции<span>Диагностика от 29.08.201</span></p>
                                <p class="pull-right"><a href="">Результаты</a></p>
                            </div>
                        </div>
                        <div class="dop-info-corection"><a href="" class="readmore">Скачать первую часть коррекции</a></div>
                    </div>
                    <p class="info"><img class="info" src="~/Content/img/info.png" />Для прохождения коррекции необходимо открыть полученный файл с помощью установленной у вас программы «Название программы».</p>
                </div>
            </div>
            <div class="col-md-3 paddingleft30">
                <div class="my-tarif3">
                    <div class="block-zag">
                        Как проходить курс?
                    </div>
                    <div class="block-content">
                        Текстовое описание как проходит курс, когда и что загружать и скачивать. Требуется создать у пользователя понимание последовательности действий
                    </div>

                </div>

                <p class="text-center"><a href="~/HealthPanel/CustomerRequest" class="btn-buy">Оставить отзыв о курсе</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="col-md-12 padding0 tarifs">
            <div class="col-md-7 padding0">
                <h2>Тариф "<span>Семейный доктор</span>"</h2>
                <div class="intro-2">
                    <p><span>@Model.FirstName,</span> в рамках данного тарифа Вы пройдете 48 диагностик и 8 курсов коррекции. </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 padding0">
                <div class="col-md-4 padding0">
                    <div class="my-tarif2">
                        <div class="block-zag in-procesing">
                            1 месяц
                            <p class="pull-right">В процессе <span>05.08.2015 - 06.09.2015</span></p>
                        </div>
                        <div class="block-content">
                            <div class="row-content">
                                <p class="pull-left">1 неделя коррекции<span>Диагностика от 10.08.201</span></p>
                                <p class="pull-right"><a href="">Результаты</a></p>
                            </div>
                            <div class="row-content">
                                <p class="pull-left">2 неделя коррекции<span>Диагностика от 16.08.201</span></p>
                                <p class="pull-right"><a href="">Результаты</a></p>
                            </div>
                            <div class="row-content">
                                <p class="pull-left">3 неделя коррекции<span>Диагностика от 22.08.201</span></p>
                                <p class="pull-right"><a href="">Результаты</a></p>
                            </div>
                            <div class="row-content">
                                <p class="pull-left">1 неделя коррекции<span>Диагностика от 29.08.201</span></p>
                                <p class="pull-right"><a href="">На расшифровку</a></p>
                            </div>
                        </div>
                        <div class="dop-info-corection"><a href="" class="readmore">Скачать первую часть коррекции</a></div>
                    </div>
                    <p class="info"><img class="info" src="~/Content/img/info.png" />Для прохождения коррекции необходимо открыть полученный файл с помощью установленной у вас программы «Название программы».</p>

                </div>
                <div class="col-md-3 paddingleft30">
                    <div class="my-tarif3">
                        <div class="block-zag">
                            Как проходить курс?
                        </div>
                        <div class="block-content">
                            Текстовое описание как проходит курс, когда и что загружать и скачивать. Требуется создать у пользователя понимание последовательности действий
                        </div>

                    </div>

                    <p class="text-center"><a href="~/HealthPanel/CustomerRequest" class="btn-buy">Оставить отзыв о курсе</a></p>
                </div>
            </div>
            <div class="col-md-12 padding0 what-cor">
                <h2>Что такое цветовая коррекция, правила ее прохождения, результаты?</h2>
                <p>Цветовая коррекция – это просмотр пациентом на его компьютере  особым образом подобранных цветов при помощи коррекционного модуля «Виртуального сканера здоровья».</p>
                <h4>Правила прохождения курса коррекции</h4>
                <div class="col-md-4 padding0"><a href="" class="readmore">Читать полностью</a></div>
            </div>
        </div>
    </div> <!-- /.container-->
    <hr />
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6 video">
            <p>Видео-инструкция по работе с программой</p>
            <p><img src="~/Content/img/play.jpg" /></p>
        </div>
        <div class="col-md-3"></div>
    </div>



    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="~/DemoDecryption/DemoRecommendedCorrection" class="left-nav prev-blue pull-right">Рекомендованная <br />коррекция</a>
                </div>
                <div class="col-md-6">
                    <a href="" class="right-nav next-grey pull-left"> </a>
                </div>

            </div>
        </div>

    </div>

</section><!--/.main-content -->

