﻿@model ColorLongLife.Models.DemoDecryption.DemoMyCorretionModel

@{
    ViewBag.Title = "DemoMyCorretion";
    Layout = "~/Views/Shared/_DemoCorrectionLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/HealthPanel/Index">&larr; Личный кабинет</a></div>
        <div class="col-md-7 padding0 main-vivod">
            <h1>Мои курсы коррекции</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет текст реплика. Психоэмоциональная компонента – это черты вашего характера.</p>
            </div>
            <div class="col-md-12 padding0">
                <div class="col-md-7 padding0"><h2>Кратка диагностика</h2></div><div class="dop-tarif col-md-5 padding0"><a href="~/DemoDecryption/DemoLongCorretion">Длительные тарифы</a></div>
                <div class="clearfix"></div>
                <div class="my-course">
                    <div class="block-zag">
                        Курс "Жизнь без депрессии"
                    </div>
                    <div class="block-content">
                        <p>Диагностика пройдена</p>
                        <span>07.09.2015</span>
                    </div>
                    <div class="dop-info-corection"><a href="" class="btn-buy">Скачать курс</a></div>
                </div>
                <p class="info"><img class="info" src="~/Content/img/info.png" />Для прохождения коррекции необходимо открыть полученный файл с помощью установленной у вас программы «Название программы».</p>
                <div class="my-course2">
                    <div class="block-zag">
                        Курс "биовозраст"
                    </div>
                    <div class="block-content">
                        <p>Диагностика пройдена</p>
                        <span>07.09.2015</span>
                    </div>
                    <div class="dop-info-corection">
                        <p>Коррекция получена</p>
                        <span>07.09.2015</span>
                    </div>
                </div>
            </div>
        </div> <!-- /.main-vivod-->

        <div class="col-md-3 col-md-offset-2 demo">
            <p><img class="error" src="~/Content/img/error.png" />Внимание! Все представленные данные имеют демонстрационный характер.</p>
            <p>Деморасшифровка</p>
            <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo">Женщина, 30 - 50 лет</button>
            <div id="demo" class="collapse">
                <div class="demo-block col-md-12 arrow-top">
                    <div class="demo-head">Деморасшифровки</div>
                    <div class="demo-men col-md-5 col-md-offset-1">
                        <div class="demo-men-head">Мужчины <span>(возвраст, лет)</span></div>
                        <a href="">5 - 7</a>
                        <a href="">7 - 12</a>
                        <a href="">12 - 17</a>
                        <a href="">17 - 25</a>
                        <a href="">больше 25</a>
                    </div>
                    <div class="demo-women col-md-5 col-md-offset-1">
                        <div class="demo-women-head">Женщины <span>(возвраст, лет)</span></div>
                        <a href="">5 - 7</a>
                        <a href="">7 - 12</a>
                        <a href="">12 - 17</a>
                        <a href="">17 - 25</a>
                        <a href="">больше 25</a>
                    </div>
                    <div class="clearfix"></div>
                    <p class="dop-info"><img class="info" src="~/Content/img/info.png" />Кликните на интересующий пол и возраст для получения деморасшифровки</p>
                    <p class="text-center"><button type="button" class="btn btn-roll-up" data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-chevron-up"> </span>Свернуть</button></p>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 padding0 what-cor">
            <h2>Что такое цветовая коррекция, правила ее прохождения, результаты?</h2>
            <p>Цветовая коррекция – это просмотр пациентом на его компьютере  особым образом подобранных цветов при помощи коррекционного модуля «Виртуального сканера здоровья».</p>
            <h4>Правила прохождения курса коррекции</h4>
            <div class="col-md-4 padding0"><a href="" class="readmore">Читать полностью</a></div>
        </div>

    </div> <!-- /.container-->
    <hr />
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6 video">
            <p>Видео-инструкция по работе с программой</p>
            <p><img src="~/Content/img/play.jpg" /></p>
        </div>
        <div class="col-md-3"></div>
    </div>



    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="~/DemoDecryption/DemoRecommendedCorrection" class="left-nav prev-blue pull-right">Рекомендованная <br />коррекция</a>
                </div>
                <div class="col-md-6">
                    <a href="" class="right-nav next-grey pull-left"> </a>
                </div>

            </div>
        </div>

    </div>

</section><!--/.main-content -->

