﻿@model ColorLongLife.Models.DemoDecryption.DemoHealthFUSModel

@{
    ViewBag.Title = "DemoHealthFUS";
    Layout = "~/Views/Shared/_DemoHealthLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/HealthPanel/Index">&larr; Личный кабинет</a></div>
        <div class="col-md-8 padding0 main-pfs main-health">
            <h1>Рейтинг функциональных систем (ФУС)</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> ниже представлен рейтинг функциональных систем вашего родственника, по сумме и силе проблем в органах входящих в эти системы организма. Чем выше числовое значение тем больше внимания необходимо уделить этой функциональной системе организма.</p>
            </div>
            <div class="col-md-8 padding0">
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo1">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный клеточный состав крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo1">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный клеточный состав крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo1">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo2">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, обеспечивающая оптимальный объем циркулирующей крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo2">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, обеспечивающая оптимальный объем циркулирующей крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo2">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo3">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный уровень pН</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo3">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный уровень pН</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo3">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div> <!-- /.info-part -->
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo4">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, определяющая оптимальный уровень осмотического давления</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo4">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, определяющая оптимальный уровень осмотического давления</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo4">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div> <!-- /.info-part -->
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo5">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальное количество глюкозы в крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo5">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальное количество глюкозы в крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo5">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div> <!-- /.info-part -->
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo6">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный уровень кровяного давления</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo6">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный уровень кровяного давления</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo6">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div> <!-- /.info-part -->
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo7">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный уровень кровяного давления</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo7">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальный уровень кровяного давления</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo7">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div> <!-- /.info-part -->
                <div class="col-md-12 padding0 info-part">
                    <div class="arround-table collapse" id="demo8">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальное количество глюкозы в крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo8">Свернуть</button></th></tr>
                                <tr><td class="left-info-part">Головной мозг</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Гипофиз</td><td class="right-info-part">12</td></tr>
                                <tr><td class="left-info-part">Кровь и сосуды</td><td class="right-info-part">10</td></tr>
                                <tr><td class="left-info-part">Селезенка</td><td class="right-info-part">8</td></tr>
                                <tr><td class="left-info-part">Лимфа</td><td class="right-info-part">7</td></tr>
                                <tr><td class="left-info-part">Кости</td><td class="right-info-part">5</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="arround-table hidden-table">
                        <a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="right" title="Здесь будет какой-то поясняющий текст"> </a>
                        <table class="table">
                            <tbody>
                                <tr><th class="part-heading-left">Система, поддерживающая оптимальное количество глюкозы в крови</th><th class="text-center part-heading-right"><span>46</span> <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo8">Развернуть</button></th></tr>

                            </tbody>
                        </table>
                    </div>

                </div> <!-- /.info-part -->

            </div>

        </div> <!-- /.main-health-->

        <div class="col-md-3 col-md-offset-1 demo">
            <p><img class="error" src="~/Content/img/error.png" />Внимание! Все представленные данные имеют демонстрационный характер.</p>
            <p>Деморасшифровка</p>
            <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo">Женщина, 30 - 50 лет</button>
            <div id="demo" class="collapse">
                <div class="demo-block col-md-12 arrow-top">
                    <div class="demo-head">Деморасшифровки</div>
                    <div class="demo-men col-md-5 col-md-offset-1">
                        <div class="demo-men-head">Мужчины <span>(возвраст, лет)</span></div>
                        <a href="">5 - 7</a>
                        <a href="">7 - 12</a>
                        <a href="">12 - 17</a>
                        <a href="">17 - 25</a>
                        <a href="">больше 25</a>
                    </div>
                    <div class="demo-women col-md-5 col-md-offset-1">
                        <div class="demo-women-head">Женщины <span>(возвраст, лет)</span></div>
                        <a href="">5 - 7</a>
                        <a href="">7 - 12</a>
                        <a href="">12 - 17</a>
                        <a href="">17 - 25</a>
                        <a href="">больше 25</a>
                    </div>
                    <div class="clearfix"></div>
                    <p class="dop-info"><img class="info" src="~/Content/img/info.png" />Кликните на интересующий пол и возраст для получения деморасшифровки</p>
                    <p class="text-center"><button type="button" class="btn btn-roll-up" data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-chevron-up"> </span>Свернуть</button></p>

                </div>
            </div>
        </div>


        <div class="clearfix"></div>


    </div>
    <hr />
    <div class="container">
        <div class="col-md-12 recomended padding0">
            <h1>Рекомендуем прочитать <a href="~/HealthPanel/DictionaryTerms">Словарь терминов</a></h1>
            <ul class="list-unstyled col-md-5 padding0">
                <li><a href="">Для женщин</a></li>
                <li><a href="">Что такое женская психоматика</a></li>
                <li><a href="">Откуда берется женская психоматика</a></li>
                <li><a href="">Психоматика = мысли + эмоции</a></li>
                <li><a href="">Как негативные эмоции создают болезни</a></li>
            </ul>
            <ul class="list-unstyled col-md-4 padding0">
                <li><a href="">Какие женщины в зоне риска</a></li>
                <li><a href="">Как избавиться от психоматика</a></li>
                <li><a href="">Цвет эффективное решение</a></li>
                <li><a href="">Словарь женской психоматики</a></li>
            </ul>
        </div>

    </div>
    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="~/DemoDecryption/DemoHealthOrganism" class="left-nav prev-green pull-right">Организм</a>
                </div>
                <div class="col-md-6">
                    <a href="~/DemoDecryption/DemoHealthBrain" class="right-nav green pull-left">Органы</a>
                </div>

            </div>
        </div>

    </div>

</section><!--/.main-content -->

