﻿@model ColorLongLife.Models.DemoDecryption.DemoHealthPFSModel

@{
    ViewBag.Title = "DemoHealthPFS";
    Layout = "~/Views/Shared/_DemoHealthLayout.cshtml";
}
<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/HealthPanel/Index">&larr; Личный кабинет</a></div>
        <div class="col-md-8 padding0 main-pfs main-health">
            <h1>Патологическая функциональная система (ПФС)</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span> здесь будет реплика. Сейчас мы поговорим о влиянии  негативных эмоций и качеств личности на психосоматические и морфологические процессы головного мозга.</p>
            </div>
            <h2>Здесь заголовок для статьи о патологическойфункциональной системе</h2>
            <blockquote class="red-blockquote">
                <p>Вероятностный список деструктивных эмоций и чувств – это приобретенные в период формирования конфликта между подсознанием и умом (от рождения до 6 лет) деструктивные  эмоции и бусловленные ими чувства, которые вы испытываете очень часто, фактически – это ваш индивидуальный эмоциональный фон.</p>

                <p>Вероятностный список деструктивных качеств личности – это приобретенные в процессе жизни патологические качества личности (возможно приспособительно-защитные, как необходимые для выживания в определенной социальной среде), наличие в характере которых формирует неадекватное поведение, неадекватную оценку жизненной ситуации, приводит обладателя к стрессовым жизненным ситуациям.</p>

                <p>
                    Важным является то, что деструктивные качества и эмоции-чувства поддерживают и подпитывают друг друга. Например, чем сильнее страх потери контроля над ситуацией, тем сильнее напористость, властность, непреклонность и безжалостность. И наоборот, чем больше власти человек получает, тем сильнее страх потерять контроль над ситуацией. И здесь не важно – это власть в масштабах государства или власть одного
                    человека над другим…
                </p>

                <p>
                    Вероятностный список деструктивных эмоций и чувств – это приобретенные в период формирования конфликта между подсознанием и умом (от рождения до 6 лет)
                    деструктивные  эмоции и обусловленные ими чувства, которые вы испытываете очень часто, фактически – это ваш индивидуальный эмоциональный фон.
                    Вероятностный список деструктивных качеств личности – это приобретенные в процессе жизни патологические качества личности (возможно приспособительно-защитные,
                    как необходимые для выживания в определенной социальной среде), наличие в характере которых формирует неадекватное поведение, неадекватную оценку жизненной
                </p>
            </blockquote>
            <div class="col-md-4 padding0"><a href="" class="readmore">Читать полностью</a></div>
        </div>

        <div class="col-md-3 col-md-offset-1 demo">
            <p><img class="error" src="~/Content/img/error.png" />Внимание! Все представленные данные имеют демонстрационный характер.</p>
            <p>Деморасшифровка</p>
            <button type="button" class="btn-roll-down" data-toggle="collapse" data-target="#demo">Женщина, 30 - 50 лет</button>
            <div id="demo" class="collapse">
                <div class="demo-block col-md-12 arrow-top">
                    <div class="demo-head">Деморасшифровки</div>
                    <div class="demo-men col-md-5 col-md-offset-1">
                        <div class="demo-men-head">Мужчины <span>(возвраст, лет)</span></div>
                        <a href="">5 - 7</a>
                        <a href="">7 - 12</a>
                        <a href="">12 - 17</a>
                        <a href="">17 - 25</a>
                        <a href="">больше 25</a>
                    </div>
                    <div class="demo-women col-md-5 col-md-offset-1">
                        <div class="demo-women-head">Женщины <span>(возвраст, лет)</span></div>
                        <a href="">5 - 7</a>
                        <a href="">7 - 12</a>
                        <a href="">12 - 17</a>
                        <a href="">17 - 25</a>
                        <a href="">больше 25</a>
                    </div>
                    <div class="clearfix"></div>
                    <p class="dop-info"><img class="info" src="~/Content/img/info.png" />Кликните на интересующий пол и возраст для получения деморасшифровки</p>
                    <p class="text-center"><button type="button" class="btn btn-roll-up" data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-chevron-up"> </span>Свернуть</button></p>

                </div>
            </div>
        </div>

        <div class="col-md-12 padding0">


            <div class="col-md-10 padding0">
                <div class="col-md-3 paddingright30">
                    <div class="around-table">
                        <table class="table table-hover table-short">
                            <tbody>
                                <tr><th>Деструктивные эмоции и качества личности<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="Деструктивные эмоции и качества личности"> </a></th></tr>
                                <tr><td class=""><p class="pull-left">Высокомерие <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Страх старости <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Готовность спорить <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Уважение к другому <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Стремление к власти <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3 paddingright30">
                    <div class="around-table">
                        <table class="table table-hover table-short table-short16">
                            <tbody>
                                <tr>
                                    <th>
                                        <p class="zagolovok">Общий уровень</p>

                                        Патологическая функциональная система<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="Деструктивные эмоции и качества личности"> </a>
                                    </th>
                                </tr>
                                <tr><td class=""><p class="pull-left">Щитовидная железа <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Перефирическая <br />нервная система<div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Пищевод <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr> <td> </td></tr>
                                <tr> <td> </td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3 paddingright30">
                    <div class="around-table">
                        <table class="table table-hover table-short table-short16">
                            <tbody>
                                <tr><th><p class="zagolovok">Системный уровень</p>Поддержка оптимального режима сна<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="Деструктивные эмоции и качества личности"> </a></th></tr>

                                <tr><td class=""><p class="pull-left">Перефирическая <br />нервная система<div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Нос <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Спинной мозг <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Гипофиз<div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Головной мозг <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3 paddingright30">
                    <div class="around-table">
                        <table class="table table-hover table-short table-short16">
                            <tbody>
                                <tr><th><p class="zagolovok">Уровень органа</p>Высокая вероятность психоматических расстройств<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="Деструктивные эмоции и качества личности"> </a></th></tr>
                                <tr><td class=""><p class="pull-left">Перефирическая <br />нервная система<div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Нос <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="under-table">
                    <p><span class="name">@Model.FirstName,</span> в вашем случае объединение <a href="">Щитовидной железы (72/7)</a> с <a href="">Периферической нервной системы (88/3)</a> и <a href="">Пищеводом (87/2)</a> в Патологическую Функциональную Систему (ПФС)  обусловлено вашими деструктивными эмоциями и качествами личности: <a href="">рефлексия (зацикленностью на себе)</a>, <a href="">Планирование</a>, <a href="">разрушительной сексуальностью</a>, <a href="">низкой степенью уважения к другим</a>, <a href="">готовностью спорить по любому поводу</a>, <a href="">страхом старости</a> и <a href="">высокомерием</a>. Эти качества создают проблемы со здоровьем, ухудшают отношения с окружающими и усложняют вашу жизнь. С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                    <div class="col-md-2 padding0"><a href="" class="readmore">Читать полностью</a></div>


                    <div class="clearfix"></div>
                </div>
            </div>





        </div>
        <div class="clearfix"></div>


    </div>
    <hr />
    <div class="container">
        <div class="col-md-12 recomended padding0">
            <h1>Рекомендуем прочитать <a href="~/HealthPanel/DictionaryTerms">Словарь терминов</a></h1>
            <ul class="list-unstyled col-md-5 padding0">
                <li><a href="">Для женщин</a></li>
                <li><a href="">Что такое женская психоматика</a></li>
                <li><a href="">Откуда берется женская психоматика</a></li>
                <li><a href="">Психоматика = мысли + эмоции</a></li>
                <li><a href="">Как негативные эмоции создают болезни</a></li>
            </ul>
            <ul class="list-unstyled col-md-4 padding0">
                <li><a href="">Какие женщины в зоне риска</a></li>
                <li><a href="">Как избавиться от психоматика</a></li>
                <li><a href="">Цвет эффективное решение</a></li>
                <li><a href="">Словарь женской психоматики</a></li>
            </ul>
        </div>

    </div>
    <div class="navigation-bottom">
        <div class="container">
            <div class="col-md-12 padding0">
                <div class="col-md-6">
                    <a href="~/DemoDecryption/PersonalityCharacteristics" class="left-nav yellow pull-right">Психология личности</a>
                </div>
                <div class="col-md-6">
                    <a href="~/DemoDecryption/DemoHealthOrganism" class="right-nav green pull-left">Организм</a>
                </div>

            </div>
        </div>

    </div>

</section><!--/.main-content -->

