﻿@model ColorLongLife.Models.DemoDecryption.IndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DemoPsychologyPersonLayout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="breadcrumbs"><a href="~/HealthPanel/Index">&larr; Личный кабинет</a></div>
        <div class="col-md-8 padding0">
            <h1>Пример расшифровки</h1>
            <div class="intro-2">
                <p><span>@Model.FirstName,</span>ниже представлены демонстрационные данные, характерные для вашего пола и возраста.</p>
            </div>
        </div>
        <div class="col-md-12 padding0 border-bottom">
            <div class="col-md-8 padding0">
                <div class="short">Краткая расшифровка <span>900 Р</span></div>
                <p class="warning"><img src="~/Content/img/error.png" />Внимание! Все представленные данные имеют демонстрационный характер.</p>
                <p><span class="name">@Model.FirstName,</span> вы прошли цветовое тестирование на Виртуальном Сканере Здоровья!</p>

                <p>
                    По результатам теста получены следующие данные о вашем психологическом и физиологическом здоровье.
                    В таблице ниже вы видите ваш персональный психосоматический симптомокомплекс: слева — список деструктивных эмоций и черт характера, а справа — их влияние на ваше здоровье.
                </p>
            </div>
            <div class="col-md-2 col-md-offset-2 padding0"><div class="rash-all pull-right"><a href="~/DemoDecryption/FunctionBrain">Смотреть полную расшифровку <span>4870 Р</span></a></div></div>
            <div class="clearfix"></div>

            <div class="col-md-10 padding0">
                <div class="col-md-3 paddingright30">
                    <div class="around-table">
                        <table class="table table-hover table-short">
                            <tbody>
                                <tr><th>Деструктивные эмоции и качества личности<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="Деструктивные эмоции и качества личности"> </a></th></tr>
                                <tr><td class=""><p class="pull-left">Высокомерие <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Страх старости <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Готовность спорить <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Уважение к другому <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Стремление к власти <div class="pull-right"><span class="red">56</span>/<span class="blue">22</span></div></p></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3 paddingright30">
                    <div class="around-table">
                        <table class="table table-hover table-short table-short16">
                            <tbody>
                                <tr>
                                    <th>
                                        <p class="zagolovok">Общий уровень</p>

                                        Патологическая функциональная система<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="Деструктивные эмоции и качества личности"> </a>
                                    </th>
                                </tr>
                                <tr><td class=""><p class="pull-left">Щитовидная железа <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Перефирическая <br />нервная система<div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Пищевод <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr> <td> </td></tr>
                                <tr> <td> </td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3 paddingright30">
                    <div class="around-table">
                        <table class="table table-hover table-short table-short16">
                            <tbody>
                                <tr><th><p class="zagolovok">Системный уровень</p>Поддержка оптимального режима сна<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="Деструктивные эмоции и качества личности"> </a></th></tr>

                                <tr><td class=""><p class="pull-left">Перефирическая <br />нервная система<div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Нос <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Спинной мозг <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Гипофиз<div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Головной мозг <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3 paddingright30">
                    <div class="around-table">
                        <table class="table table-hover table-short table-short16">
                            <tbody>
                                <tr><th><p class="zagolovok">Уровень органа</p>Высокая вероятность психоматических расстройств<a href="#" class="tooltip-quest" data-toggle="tooltip" data-placement="top" title="Деструктивные эмоции и качества личности"> </a></th></tr>
                                <tr><td class=""><p class="pull-left">Перефирическая <br />нервная система<div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>
                                <tr><td class=""><p class="pull-left">Нос <div class="pull-right"><span class="red">56</span>/<span class="red">22</span></div></p></td></tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="under-table">
                    <p><span class="name">@Model.FirstName,</span> в вашем случае объединение <a href="">Щитовидной железы (72/7)</a> с <a href="">Периферической нервной системы (88/3)</a> и <a href="">Пищеводом (87/2)</a> в Патологическую Функциональную Систему (ПФС)  обусловлено вашими деструктивными эмоциями и качествами личности: <a href="">рефлексия (зацикленностью на себе)</a>, <a href="">Планирование</a>, <a href="">разрушительной сексуальностью</a>, <a href="">низкой степенью уважения к другим</a>, <a href="">готовностью спорить по любому поводу</a>, <a href="">страхом старости</a> и <a href="">высокомерием</a>. Эти качества создают проблемы со здоровьем, ухудшают отношения с окружающими и усложняют вашу жизнь. С другой стороны, чем сильнее будет становиться со временем ваша персональная ПФС, тем сильнее будут проявляться и ваши негативные черты характера. Это и есть ваша змея, кусающая себя за хвост: болезнь, поддерживающая сама.</p>
                    <div class="col-md-2 padding0"><a href="" class="readmore">Читать полностью</a></div>
                    <div class="clearfix"></div>

                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 padding0">
            <h2>Для коррекции мы рекомендуем вам:</h2>
            <h1>Курсы цветокоррекции</h1>
            <div class="col-md-8 padding0">
                <div class="col-md-4 course">
                    <div class="block block-pfs">
                        <div class="block-zag">
                            Курс цветокоррекции ПФС
                        </div>
                        <div class="block-content">
                            Описание в одном предложении, на улучшение чего направлен курс
                        </div>
                        <div class="block-price text-center">
                            <p class="price">4960 Р</p>
                            <a href="" class="btn-buy">Купить</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 course">
                    <div class="block block-depr">
                        <div class="block-zag">
                            "Жизнь без депрессии"
                        </div>
                        <div class="block-content">
                            Описание в одном предложении, на улучшение чего направлен курс
                        </div>
                        <div class="block-price text-center">
                            <p class="price">4960 Р</p>
                            <a href="" class="btn-buy">Купить</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 course">
                    <div class="block block-bio">
                        <div class="block-zag">
                            "Биовозвраст"
                        </div>
                        <div class="block-content">
                            Описание в одном предложении, на улучшение чего направлен курс
                        </div>
                        <div class="block-price text-center">
                            <p class="price">4960 Р</p>
                            <a href="" class="btn-buy">Купить</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 all-course">
                <h4>Купить все рекомендованные курсы со скидкой</h4>
                <table class="table">
                    <tbody>
                        <tr><td><p>Цветокоррекция ПФС</p></td><td><p><span class="old-price">4 960 Р</span>  <span class="new-price">3 900 Р</span></p></td></tr>

                        <tr><td><p>«Жизнь без депрессии»</p></td><td><p><span class="old-price">4 550 Р</span>  <span class="new-price">4 000 Р</span></p></td></tr>
                        <tr><td><p>«Биовозвраст»</p> </td><td><p><span class="old-price">4 550 Р</span>  <span class="new-price">3 900 Р</span></p></td></tr>
                    </tbody>
                </table>
                <span>Всего:</span>
                <table class="table">
                    <tbody>
                        <tr><td><p class="price">12300 Р</p></td><td><p class="text-center"><a href="" class="btn-buy">Купить все</a></p></td></tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 padding0">
            <div class="col-md-8 padding0">
                <h2>Рекомендованные БАД</h2>
                <div class="intro-2">
                    <p><span>@Model.FirstName,</span> по результатам диагностики для вас подобран рекомендованный набор биоактивных добавок, позволяющих восполнить дефицит витаминов и микроэлементов. Кроме того, этот комплекс БАДов сможет в целом оказать оздаравливающее воздействие на ваш организм.</p>
                </div>
            </div>
            <div class="col-md-10 padding0">
                <div class="col-md-4 bad paddingright30">
                    <div class="bad-block block">
                        <div class="bad-name">
                            Длинное-длинное название БАД
                        </div>
                        <div class="bad-category">
                            Оптимальный объем циркулирующей крови
                        </div>
                        <div class="media bad-description">
                            <a class="pull-left" href="#" title="Длинное-длинное название БАД"><img class="media-object" src="~/Content/img/bad.jpg" alt="Длинное-длинное название БАД"></a>
                            <div class="media-body">
                                <p>Очень краткое описание на что влияет. Очень краткое описание на что влияет. Очень краткое описание на что влияет</p>
                            </div>
                        </div>
                        <div class="bad-price">
                            <p class="price pull-left">1960 Р</p>
                            <p class="pull-right"><a href="" class="btn-buy">Купить</a></p>
                        </div>

                    </div>
                </div> <!--/.bad -->
                <div class="col-md-4 bad paddingright30">
                    <div class="bad-block block">
                        <div class="bad-name">
                            Длинное-длинное название БАД
                        </div>
                        <div class="bad-category">
                            Головной мозг
                        </div>
                        <div class="media bad-description">
                            <a class="pull-left" href="#" title="Длинное-длинное название БАД"><img class="media-object" src="~/Content/img/bad.jpg" alt="Длинное-длинное название БАД"></a>
                            <div class="media-body">
                                <p>Очень краткое описание на что влияет. Очень краткое описание на что влияет. Очень краткое описание на что влияет</p>
                            </div>
                        </div>
                        <div class="bad-price">
                            <p class="price pull-left">1560 Р</p>
                            <p class="pull-right"><a href="" class="btn-buy">Купить</a></p>
                        </div>

                    </div>
                </div> <!--/.bad -->
                <div class="col-md-4 bad paddingright30">
                    <div class="bad-block block">
                        <div class="bad-name">
                            Длинное-длинное название БАД
                        </div>
                        <div class="bad-category">
                            Иммунитет
                        </div>
                        <div class="media bad-description">
                            <a class="pull-left" href="#" title="Длинное-длинное название БАД"><img class="media-object" src="~/Content/img/bad.jpg" alt="Длинное-длинное название БАД"></a>
                            <div class="media-body">
                                <p>Очень краткое описание на что влияет. Очень краткое описание на что влияет. Очень краткое описание на что влияет</p>
                            </div>
                        </div>
                        <div class="bad-price">
                            <p class="price pull-left">2160 Р</p>
                            <p class="pull-right"><a href="" class="btn-buy">Купить</a></p>
                        </div>

                    </div>
                </div> <!--/.bad -->
                <p class="col-md-3 all-bads padding0"><a href="" class="">Все рекомендуемые БАДы</a></p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-8 padding0">
                <h2>Обследование у специалистов</h2>
                <div class="obsledovanie">
                    <p class="red-border">Регулярное наблюдение у <span>клинического психолога</span></p>
                    <h4>Терапевт</h4>
                    <p>Cпециалист широкого профиля, в его компетенции находятся вопросы ранней диагностики и лечения многих заболеваний желудочно-кишечного тракта, легких, печени, почек, сердечно-сосудистой, мочеполовой систем, кожи, нарушения обмена веществ и др.</p>

                    <h4>Гастроэнтеролог</h4>
                    <p>Специалист узкого профиля, который диагностирует и лечит патологию органов пищеварения, занимается разработкой методов по профилактике болезней желудочно-кишечного тракта.</p>

                    <h4>Кардиолог </h4>
                    <p>Врач, работа которого связана с диагностикой, лечением и назначением необходимых профилактических мер касательно различных заболеваний сердечной мышцы и сосудов: аритмии, стенокардии, атеросклероза, инфаркта миокарда и многих других.</p>

                    <h4>Пульмонолог </h4>
                    <p>Врач-терапевт, деятельность которого сводится к лечению заболеваний, возникающих в сфере дыхательной системы. Что касается того, что лечит пульмонолог, то здесь, соответственно, определяются наиболее распространенные заболевания, а это бронхит, бронхиальная астма, пневмония, и многие другие виды патологий, актуальные для органов дыхания. </p>

                    <h4>Невропатолог </h4>
                    <p>Врач, который занимается профилактикой, исследованием и лечением болезней нервной системы. Неврология — это раздел науки, изучающей анатомию, физиологию, заболевания центральной и периферической нервной системы.</p>

                </div>
            </div>
            <div class="col-md-2 col-md-offset-2 padding0 bottom hidden-xs hidden-sm"><div class="rash-all pull-right"><a href="">Смотреть полную расшифровку <span>4870 Р</span></a></div></div>
        </div>

    </div>

</section><!--/.main-content -->